{% load humanize %}
{% load static %}

<table class="table table-fullwidth table-striped datatable">
  <thead>
    <tr>
      <th>Timeframe</th>
      <th>Material</th>
      <th>Material classification</th>
      <th>Quantity</th>
      {% if False %}
      <th>Origin</th>
      <th>Destination</th>
      {% else %}
      <th>Location</th>
      {% endif %}
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
  {% for details in data %}
    <tr>
      <td data-order="{{ details.from }}"><span class="date" title="From {{ details.timeframe.start }} to {{ details.timeframe.end }}">{{ details.timeframe }}</span></td>
      <td>{{ details.material_name }}</td>
      <td class="shorten" title="{{ details.material.name }}">{{ details.material.code }}: {{ details.material.name }}</td>
      <td data-sort="{{ details.quantity }}">{{ details.quantity|intcomma }} {{ details.unit.symbol }}</td>
  {% if False %}
      <td>{{ details.origin_space }}</td>
      <td>{{ details.destination_space }}</td>
  {% else %}
    <td>
      {% if details.origin_space %}
        {% if dataset.primary_space == details.origin_space %}
          <a href="{% url 'multiplicity:map' dataset.primary_space.slug dataset.primary_space.location.id %}">{{ details.origin_space }}</a>
        {% else %}
          <a href="{% url 'multiplicity:mtu_space' dataset.primary_space.slug details.origin_space.type.slug details.origin_space.slug %}">{{ details.origin_space }}</a>
        {% endif %}
      {% else %}
        {% if dataset.primary_space == details.destination_space %}
          <a href="{% url 'multiplicity:map' dataset.primary_space.slug dataset.primary_space.location.id %}">{{ details.destination_space }}</a>
        {% else %}
          <a href="{% url 'multiplicity:mtu_space' dataset.primary_space.slug details.destination_space.type.slug details.destination_space.slug %}">{{ details.destination_space }}</a>
        {% endif %}
      {% endif %}
    </td>
  {% endif %}
      <td>{{ details.comments }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<script type="text/javascript" src="{% static 'ie/js/datatables.js' %}"></script>
<script type="text/javascript">
$(function(){
    $(".datatable").DataTable({
      "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
    });
});
</script>
