{% load static %}
<script src="{% static 'ie/js/jquery.min.js' %}"></script>
<script src="{% static 'ie/js/bootstrap.min.js' %}"></script>
<script src="{% static 'ie/js/nifty.js' %}?again"></script>

{% if gallery %}
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
<script type="text/javascript">
  $(function(){
    $('[data-fancybox]').fancybox({
      caption : function( instance, item ) {
        return $(this).next('figcaption').html();
      }
    });
  });
</script>
{% endif %}

{% if reference_types and reference_types.count > 1 %}
  <script type="text/javascript">
  $(function(){
    $(".filter a").click(function(e){
      e.preventDefault();
      $(".filter a").removeClass("btn-success");
      $(this).addClass("btn-success");
      var type = $(this).data("type");
      $(".resourcelist a").hide();
      $(".resourcelist a."+type).show('fast');
    });
  });
  </script>
{% endif %}


{% if map %}
  <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
{% endif %}
    
