{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
<link href="{% static 'ie/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'ie/css/nifty.min.css' %}" rel="stylesheet">
<link href="{% static 'ie/css/themes/type-a/theme-dust.min.css' %}" rel="stylesheet">
<link href="{% static 'ie/premium/icon-sets/icons/line-icons/premium-line-icons.min.css' %}" rel="stylesheet">
<link href="{% static 'ie/premium/icon-sets/icons/solid-icons/premium-solid-icons.min.css' %}" rel="stylesheet">
<link href="{% static 'ie/css/fontawesome-all.min.css' %}" rel="stylesheet">
<link href="{% static 'ie/css/styles.general.css' %}" rel="stylesheet">
<link href="{% static 'ie/css/datatables.css' %}" rel="stylesheet"/>
<link href="{% static 'ie/css/style.css' %}" rel="stylesheet">
<link rel="shortcut icon" type="image/ico" href="{% static 'ie/img/favicon.ico' %}"/>

<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> -->

{% if SITE_ID == 1 %}
  <link href="{% static 'ie/css/styles.1.css' %}?sep092018" rel="stylesheet">
{% else %}
  <link href="{% static 'ie/css/styles.2.css' %}?sep092018" rel="stylesheet">
{% endif %}
{% if tinymce %}
  <script type="text/javascript" src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
{% endif %}
