    var bluemarker = L.divIcon({className: 'bluemarker'});
    var redmarker = L.divIcon({className: 'redmarker'});
    var greenmarker = L.divIcon({className: 'greenmarker'});
    var darkbluemarker = L.divIcon({className: 'darkbluemarker'});
    var purplemarker = L.divIcon({className: 'purplemarker'});
    var yellowmarker = L.divIcon({className: 'yellowmarker'});
    var orangemarker = L.divIcon({className: 'orangemarker'});
    var blackmarker = L.divIcon({className: 'blackmarker'});
    var greymarker = L.divIcon({className: 'greymarker'});
    var pinkmarker = L.divIcon({className: 'pinkmarker'});
    var brightgreenmarker = L.divIcon({className: 'brightgreenmarker'});
    var whitemarker = L.divIcon({className: 'whitemarker'});
