{% load static %}

<div id="gallery" class="row">
  {% for photo in photos %}
    <figure class="col-lg-2 col-md-3 col-sm-4 col-xs-6 single-photo">
      <a href="{{ photo.image.large.url }}" data-fancybox="gallery">
        <img
           src="{{ photo.image.thumbnail.url }}"
        >
        <figcaption>
          <p><strong>{{ photo.description|linebreaksbr }}</strong></p>
          <p>Photo by
         {{ photo.author }}</p>
        </figcaption>
      </a>
    </figure>
  {% endfor %}

  {% for video in videos %}
    <figure class="col-lg-2 col-md-3 col-sm-4 col-xs-6 single-photo">
      <a href="{% url 'core:video' video.id %}">
        <img
           src="{{ video.thumbnail.url }}"
           alt="{{ video.title }}"
        >
      </a>
    </figure>
  {% endfor %}

</div>
