{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}404 Page Not Found{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}
{% include 'multiplicity/includes/top.navbar.html' %}

<div class="cls-content text-center">
  <h1 class="error-code text-info" style="color:#cf3c21">404</h1>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-body">
        <h3>Page Not Found</h3>
        <p>
          Sorry, we could not find the page you are looking for. Please use our main navigation menu
          to find what you are looking for. If this is an unexpected error, please 
          <a href="{% url "core:contact" %}">contact us</a>.
        </p>

        {% if SITE_ID == 1 %}
        <p>
          We launched a new website in April 2019. If you want to access our old site, please go to
          <a href="https://archive.metabolismofcities.org">https://archive.metabolismofcities.org</a>
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
  <div id="page-title">
    <h1 class="page-header text-overflow">About Us</h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="/"><i class="pli-home"></i></a></li>
    <li class="active">Page not found</li>
  </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
