{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Data{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}


<div class="panel">
  <div class="panel-heading">
      <h3 class="panel-title">Data</h3>
  </div>
  <div class="panel-body">

    <p>This page contains links to StafDB related pages. This section is not currently linked anywhere publicly but can 
    be used to see different components of StafDB:</p>

    <ul>
      <li><a href="{% url 'staf:materials' %}">Materials</a></li>
      <li><a href="{% url 'staf:processes' %}">Processes: tree</a></li>
      <li><a href="{% url 'staf:processlisting' %}">Processes: browser</a></li>
      <li><a href="{% url 'staf:processtable' %}">Processes: full search table</a></li>
      <li><a href="{% url 'staf:processgroups' %}">Process groups</a></li>
      <li><a href="{% url 'staf:units' %}">Units</a></li>
      <li><a href="{% url 'staf:search' %}">Search</a></li>
    </ul>

  </div>
</div>
    

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">Data</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="/"><i class="pli-home"></i></a></li>
        <li class="active">Data</li>
    </ol>

</div>

{% endblock %}

{% block footer %}

{% endblock %}
