{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}YSTAFDB: Units{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}


<div class="panel">
  <div class="panel-heading">
      <h3 class="panel-title">Units</h3>
  </div>
  <div class="panel-body">

  <table class="table table-striped">
    <tr>
      <th>Unit</th>
      <th>Abbreviation</th>
      <th>Notes</th>
    </tr>
    {% for info in list %}
      <tr>
        <td><a href="{% url 'staf:unit' info.id %}">{{ info.name }}</a></td>
        <td>{{ info.symbol }}</td>
        <td>{{ info.notes }}</td>
      </tr>
    {% endfor %}
  </table>

  </div>
</div>
    

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">YSTAFDB</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="/"><i class="pli-home"></i></a></li>
        <li><a href="">Tools</a></li>
        <li><a href="{% url 'staf:index' %}">YSTAFDB</a></li>
        <li class="active">Units</li>
    </ol>

</div>

{% endblock %}

{% block footer %}

{% endblock %}
