{% extends 'multiplicity/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}People{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'team:controlpanel' %}">Back-end</a></li>
        <li><a href="{% url 'core:admin_people_list' %}">People</a></li>
        <li class="active">{{ info.firstname }} {{ info.lastname }}</li>
    </ol>

  <h2>{{ info|yesno:"Edit details,Add new person" }}</h2>
  <form method="post" class="form form-horizontal boxit pad-all" enctype="multipart/form-data">
    {% bootstrap_form form layout='horizontal' %}
    {% buttons %}
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    {% endbuttons %}
    {% csrf_token %}
  </form>

  {% if info %}

    <h2>Merge this person</h2>
    <p>
      If this person is duplicated then you can merge this person with an existing record.
      This is preferred over removing the record because any links to existing publications etc.
      will be retained. 
    </p>

    <p>Select the person to merge this record with. Note: the record below will remain in 
    existence and this record (#{{ info.id }}) will be removed. The list below will only
    show active records.</p>

    <form method="post" class="form form-horizontal">
      <p>
      <select name="merge" class="select2">
        <option value=""></option>
        {% for details in list %}
          <option value="{{ details.id }}">{{ details }} ({{ details.id }})</option>
        {% endfor %}
      </select>
      </p>
      <p>
        <button type="submit" class="btn btn-success">Merge</button>
       {% csrf_token %}
      </p>
    </form>
    

  {% endif %}

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block footer %}
<script type="text/javascript">
$(function(){
  $("#id_member_since").attr("type", "date");
});
</script>
{% endblock %}
