{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Projects{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'team:controlpanel' %}">Back-end</a></li>
        <li class="active">Projects</li>
    </ol>

  <h3>Projects</h3>

          <ul class="nav nav-tabs">
            <li {% if tab == 'published' %} class="active"{% endif %}><a href="{% url 'core:admin_project_list' 'published' %}">Published</a></li>
            <li {% if tab == 'pending' %} class="active"{% endif %}><a href="{% url 'core:admin_project_list' 'pending' %}">Pending review</a></li>
            <li {% if tab == 'deleted' %} class="active"{% endif %}><a href="{% url 'core:admin_project_list' 'deleted' %}">Deleted</a></li>
          </ul>

  <div class="row">
    <div class="col-lg-12">
        <div class="boxit pad-all">
          <table class="table table-striped datatable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
            {% for details in list %}
              <tr>
                <td><a href="{% url 'core:admin_project' details.id %}">{{ details.name|truncatewords:10 }}</a></td>
                <td>{{ details.get_type_display }}</td>
                <td>{{ details.get_status_display }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        </div>
    </div>
  <p class="pad-top"><a href="{% url 'core:admin_project_create' %}" class="btn btn-success"><i class="fas fa-plus fa-fw"></i> Add new project</a></p>
</div>


{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block footer %}

{% endblock %}
