{% extends 'multiplicity/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}Tags{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mar10/fancytree@2/dist/skin-lion/ui.fancytree.min.css" />
<style type="text/css">
#tree{overflow:hidden}
#details{margin-top:20px}
span.highlight{background:yellow;padding:0 10px}
ol li{word-wrap: break-word;}
</style>
{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">{% if info %}Edit{% else %}Add{% endif %} publication</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="/"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'core:resources_home' %}">Resources</a></li>
        <li><a href="{% url 'core:references' %}">Publications</a></li>
        <li><a href="{% url 'core:reference' info.id %}">{{ info.title|truncatewords:6 }}</a></li>
        <li class="active">Edit publication</li>
    </ol>

</div>
{% endblock %}

{% block content %}

  <ul class="nav nav-list nav-tabs">
    <li><a href="{% url "core:editreference" info.id %}">Publication details</a></li>
    <li><a href="{% url "core:editreference_authors" info.id %}">Authors</a></li>
    <li class="active"><a href="{% url "core:editreference_tags" info.id %}">Tags</a></li>
    <li><a href="{% url "core:editreference_multiplicity" info.id %}">MultipliCity settings</a></li>
  </ul>

  <h2>Edit tags</h2>
  <p>
    DOI: <a href="https://sci-hub.tw/{{ info.doi }}">{{ info.doi }}</a><br>
    {% if info.file %}
    <a href="{{ info.file.url }}">{{ info.file }}</a>
    {% endif %}
  </p>
  {{ info.abstract|linebreaksbr }}<br><br>

  {% if False %}
  <h3>Automated lookup - case sensitive</h3>
  
  <ol>
  {{ case_sensitive|safe }}
  </ol>

  <h3>Automated lookup - case insensitive</h3>
  <ol>
  {{ case_insensitive|safe }}
  </ol>
  {% endif %}

  <form method="post" class="form form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Tags</label>
      <div class="col-sm-10">
        <select name="tags" class="form-control select2" multiple>
          {% for details in tags %}
            <option value="{{ details.id }}" {% if details in info.tags.all %}selected{% endif %}>{{ details.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    {% if request.GET.analyze or info.cityloops or request.GET.spaces %}
    <div class="form-group">
      <label class="col-sm-2 control-label">Spaces</label>
      <div class="col-sm-10">
        <select name="spaces" class="form-control" multiple id="spaces">
          {% for details in info.spaces.all %}
            <option selected value="{{ details.id }}">{{ details.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Comments</label>
      <div class="col-sm-10">
        <textarea class="form-control" name="cityloops_comments">{{ info.cityloops_comments|default_if_none:"" }}</textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
        <input type="checkbox" value="1" {% if info.cityloops %}checked{% endif %} name="cityloops"> Cityloops done?
          </label>
        </div>
      </div>
    </div>

    {% endif %}

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </div>
  </form>

  <h3>Browse tag tree</h3>

  <p>Use the list below to see which tags exist.</p>

  <div id="tree"></div>

  <p><a href="{% url 'core:admin_tag_list' %}" target="_blank">Edit tag list</a></p>

{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block footer %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/mar10/fancytree@2/dist/jquery.fancytree-all-deps.min.js"></script>
<script type="text/javascript">
$(function(){
    // Load tree from Ajax JSON
    $("#tree").fancytree({
      source: 
        [
          {% for details in parent_tags %}
            {title: "{{ details.name }}", key: "{{ details.id }}", lazy: true},
          {% endfor %}
        ]
      ,
			lazyLoad: function(event, data){
        var node = data.node;
				data.result = $.ajax({
					url: "{% url 'core:tag_ajax' %}",
					dataType: "json",
          data: {mode: "children", parent: node.key},
				});
			},
      activate: function(event, data) {
        var node = data.node;
      },
		});

  $('#spaces').select2({
    width: '100%',
    ajax: {
      url: '{% url 'multiplicity:referencespace_search_ajax' %}',
      dataType: 'json',
      processResults: function (data) {
        return {
          results: data
        };
      },
    }
  });
    
});

</script>
{% endblock %}
