{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Publications{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

</div>
</div>
</div>

  <h3>Publications</h3>

  <p>
    <a href="/admin/publications">Full list</a> | 
    <a href="/admin/publications?cityloops=true">CityLoops only</a> | 
    <a href="/admin/publications?casestudies=true">Case studies</a> | 
    <a href="/admin/publications?zotero=true">Zotero imports</a> | 
    <a href="/admin/publications?review=true">Review imports</a> | 
  </p>

  <div class="row">
    <div class="col-lg-12">
        <div class="boxit pad-all">
          <table class="table table-striped datatable">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Year</th>
                <th>Type</th>
                <th>Status</th>
                <th>Tags</th>
                {% if testing %}
                <th>Added</th>
                <th>Added by</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
            {% for details in list %}
              {% if national not in details.tags.all %}
              <tr {% if details.cityloops %}style='background:#c4dac4'{% endif %}>
                <td>{{ details.id }}</td>
                <td>
                  <a href="{% url 'core:admin_reference' details.id %}">{{ details }}</a>
                  {% if details.cityloops_comments %}
                  <br><br>
                  <strong>Cityloops comments:</strong><br>
                  {{ details.cityloops_comments|linebreaksbr }}
                  {% endif %}
                  <div class="hide">{{ details.authorlist }}</div>
                </td>
                <td>{{ details.year }}</td>
                <td>{{ details.type }}</td>
                <td>{{ details.status }}</td>
                <td>
                  {% for tag in details.tags.all %}
                    <div><span class="label label-default">{{ tag }}</span></div>
                  {% endfor %}
                </td>
                {% if testing %}
                <td data-sort="{{ details.date_added|date:"Ymd" }}">{{ details.date_added|date:"M d, Y" }}</td>
                <td></td>
                {% endif %}
              </tr>
                {% endif %}
            {% endfor %}
            </tbody>
          </table>
        </div>
        </div>
    </div>
  <p class="pad-top"><a href="{% url 'core:newreference' %}" class="btn btn-success"><i class="fas fa-plus fa-fw"></i> Add new publication</a></p>
</div>


{% endblock %}

{% block head %}
<style type="text/css">
#container.boxed-layout.reveal #content-container, #container.boxed-layout #content-container{min-height:1px}
.breadcrumb{display:none}
table.datatable{white-space:normal}
a{color:#337ab7}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block footer %}

{% endblock %}
