{% extends 'multiplicity/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}Video{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'team:controlpanel' %}">Back-end</a></li>
        <li><a href="{% url 'core:admin_videocollections' %}">Video Collections</a></li>
        {% if info.id %}
          <li class="active">{{ info.title }}</li>
        {% else %}
          <li class="active">Create new video collection</li>
        {% endif %}
    </ol>

  <h2>{{ info|yesno:"Edit details,Add new video collection" }}</h2>
  <form method="post" class="form form-horizontal boxit pad-all" enctype="multipart/form-data">

    {% bootstrap_form form layout='horizontal' %}
    {% buttons %}
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    {% endbuttons %}
    {% csrf_token %}
  </form>

{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'ie/js/summernote/summernote.min.css' %}" />
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'ie/js/summernote/summernote.min.js' %}"></script>
<script type="text/javascript">
$(function(){
  $('#id_description').summernote({
      height : '230px'
  });
});
</script>
{% endblock %}
