{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="./"><i class="pli-home"></i></a></li>
  <li><a href="{% url 'team:controlpanel' %}">Back-end</a></li>
  <li><a href="{% url 'multiplicity:admin_referencespaces' info.type.slug %}">{{ info.type.name }}</a></li>
  <li>{{ info.name }}</li>
  <li class="active">Data overview</li>
</ol>

<div class="row">
  <div class="col">
    <div class="panel">
      <div class="panel-body">
        <p><a href="{% url 'multiplicity:city' info.slug %}" class="btn btn-info">View {{ info.name }} online</a></p>
        <h3>Sectors</h3>
        <table class="table table-striped">
          <tr>
            <th>Sector</th>
            <th>Action</th>
            <th>View</th>
          </tr>
        {% for sector in sectors %}
          <tr>
            <td>{{ sector }}</td>
            <td>
            {% if sector.id in active_sectors %}
              <a href="{% url 'multiplicity:admin_deactivate_sector' info.slug sector.slug %}">deactivate</a>
            {% else %}
              <a href="{% url 'multiplicity:admin_activate_sector' info.slug sector.slug %}">activate</a>
            {% endif %}
            </td>
            <td>
              <a href="{% url 'multiplicity:sector' info.slug sector.slug %}">View</a>
            </td>
          </tr>
        {% endfor %}
        </table>


      </div>
    </div>
  </div>
</div>

{% if datasets %}

<div class="row">
  <div class="col">
    <div class="panel">
      <div class="panel-body">
        <h3>Datasets</h3>
        <table class="table table-striped datatable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Process</th>
                    <th>User</th>
                    <th>Creation date</th>
                </tr>
            </thead>
            <tbody>
            {% for details in datasets %}
                <tr>
                    <td>{{ details.id }}. <a href="{% url 'multiplicity:dataset' info.slug details.id %}">{{ details.name }}</a></td>
                    <td>{{ details.process.name|lower|capfirst }}</td>
                    <td>
                      {% for csv in details.csv_set.all %}
                        {{ csv.user }}<br>
                      {% endfor %}
                    </td>
                    <td>
                      {% for csv in details.csv_set.all %}
                        {{ csv.created_at|date:"M d, Y H:i" }}<br>
                      {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% if csv %}

<div class="row">
  <div class="col">
    <div class="panel">
      <div class="panel-body">
        <h3>CSV Files - datasets</h3>
        <table class="table table-striped datatable">
            <thead>
                <tr>
                    <th>Creation date</th>
                    <th>Name</th>
                    <th>User</th>
                    <th>Dataset</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
            {% for details in csv %}
                <tr>
                    <td data-sort="{{ details.created_at|date:"Y-m-d H:i" }}">{{ details.created_at }}</td>
                    <td>
                      <a href="{% url 'multiplicity:download_csv' info.slug details.id %}"><i class="fa fa-download"></i></a>
                      <a href="{% url 'multiplicity:upload_flow_review' info.slug details.datasettype.id details.id %}">{{ details.original_name }}</a>
                    </td>
                    <td><a href="{% url 'core:userdetails' details.user.id %}">{{ details.user.first_name }} {{ details.user.last_name }}</a></td>
                    <td>
                    {% if details.dataset %}
                      <a href="{% url 'multiplicity:dataset' info.slug details.dataset.id %}">#{{ details.dataset.id }}</a>
                    {% endif %}
                    </td>
                    <td>{{ details.datasettype.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% if space_csv %}

<div class="row">
  <div class="col">
    <div class="panel">
      <div class="panel-body">
        <h3>CSV Files - reference spaces</h3>
        <table class="table table-striped datatable">
            <thead>
                <tr>
                    <th>Creation date</th>
                    <th>Name</th>
                    <th>User</th>
                    <th>Import?</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
            {% for details in space_csv %}
                <tr>
                    <td data-sort="{{ details.created_at|date:"Y-m-d H:i" }}">{{ details.created_at }}</td>
                    <td><a href="{% url 'multiplicity:upload_infrastructure_review' info.slug details.type.slug details.id %}">{{ details.original_name }}</a></td>
                    <td><a href="{% url 'core:userdetails' details.user.id %}">{{ details.user.first_name }} {{ details.user.last_name }}</a></td>
                    <td>
                    {% if details.imported %}
                      Yes
                    {% endif %}
                    </td>
                    <td>{{ details.type.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% if information %}

<div class="row">
  <div class="col">
    <div class="panel">
      <div class="panel-body">
        <h3>Information</h3>

        <ul>
          {% for details in information %}
            <li><a href="{% url 'multiplicity:information_form' info.slug details.id %}">{{ details.title }}</a></li>
          {% endfor %}
        </ul>
        
      </div>
    </div>
  </div>
</div>

{% endif %}

{% if mtu_list %}

<div class="row">
  <div class="col">
    <div class="panel">
      <div class="panel-body">
        <h3>MTU List</h3>
        <table class="table table-striped datatable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
            {% for details in mtu_list %}
                <tr>
                  <td><a href="{% url 'multiplicity:map_mtu' info.slug details.type.slug %}">{{ details.type.name }}</a></td>
                  <td>{% if details.active %}Active{% else %}Inactive{% endif %}</td>
                  <td>{% if details.active %}<a href="{% url 'multiplicity:admin_mtu_delete' info.slug details.id %}" onclick="javascript:return confirm('Are you sure you want to deactivate all the MTUs in this category?')">Deactivate</a>{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% if spaces %}

<div class="row">
  <div class="col">
    <div class="panel">
      <div class="panel-body">
        <h3>Reference spaces</h3>
        <table class="table table-striped datatable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
            {% for details in spaces %}
                <tr>
                  <td><a href="{% url 'multiplicity:space' info.slug details.type.slug details.slug %}">{{ details.name }}</a></td>
                  <td>{{ details.type.name }}</td>
                  <td>{% if details.active %}Active{% else %}Inactive{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% if photos %}

  <div class="panel" id="gallery">
    <div class="panel-body">
      <div class="row">
      <h3>Photos</h3>
      <p>Images with red borders are not shown in the galleries. The number indicates the order in which the images are shown.</p>
      {% for details in photos %}
        {% ifchanged details.process %}
          </div><div class="row">

            <h4 class="mar-top">
              {% if details.process %}
                {{ details.process.name|lower|capfirst }}
              {% else %}
                General photos
                <br>
                <span style="font-size:15px">The first photo in this list will be shown on the homepage</span>
              {% endif %}
            </h4>

        {% endifchanged %}

      <figure class="col-lg-2 col-md-3 col-sm-4 col-xs-6 single-photo {% if details.deleted %}fade{% endif %}">
        <a href="{% url 'multiplicity:photo_form' info.slug details.id %}"><img src="{{ details.image.thumbnail.url }}" alt="" /></a>
        <span class="badge badge-default">{{ details.position }}</span>
      </figure>
      {% endfor %}
      </div>
    </div>
  </div>

{% endif %}

<p><a href="{% url 'multiplicity:photo_form' info.slug %}">Add new photo</a></p>

{% if referencephotos %}

  <div class="panel">
    {% for details in referencephotos %}
      <a href="{% url 'multiplicity:photo_form' info.slug details.id %}"><img src="{{ details.image.thumbnail.url }}" alt="" /></a>
    {% endfor %}
  </div>

{% endif %}

<p><a href="{% url 'multiplicity:admin_referencephoto' %}">Add new reference photo</a></p>


{% endblock %}

{% block head %}
<style type="text/css">
textarea.form-control{height:200px}

#gallery figure {
  position:relative;
}
#gallery figure span {
  position: absolute;
  top: 10px;
  right: 15px;
  opacity:0.7;
}

#gallery figure.fade {
  opacity: 0.6;
}
#gallery .fade img {
  border: 2px solid #f00;
}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block footer %}

{% endblock %}
