/* This is the right file! */
/* #068a9b */
/* also use #c2a060 */
.stretch-bg-head #page-head,
.stretch-bg-head #page-head h1,
.stretch-bg-head #page-head h2,
.stretch-bg-head #page-head h3,
.stretch-bg-head #page-head h4,
.stretch-bg-head #page-head h5,
.stretch-bg-head #page-head h6,
.stretch-bg-head #page-head .text-main,
.stretch-bg-head #page-head .breadcrumb li,
.stretch-bg-head #page-head .breadcrumb li a,
.stretch-bg-head #page-head .breadcrumb .active {
    color:#fff;
}
.navbar-content {
    background:#Fff;
}
.navbar-content a {
    color:#333 !important;
}
.navbar-content #dropdown-active {
    background:#9175a7;
}
.navbar-content li.dropdown > a {
    font-size:16px;
}
.navbar-content #dropdown-active > a{
    color:#fff !important;
}
#container.mainnav-in .brand-title, #container.mainnav-sm .brand-title, #container.mainnav-out .brand-title, #container.mainnav-lg .brand-title {
    color:#333;
    background:#fff;
}
.navbar-top-links > li > a:not(.mainnav-toggle) > i {
    color:#999;
}

#container.boxed-layout .boxed{margin-top:0;position:relative}
#topstrip{margin-top:59px;background:#9175a7;padding:10px;min-height:120px}
#topstrip .leftbox{width:220px}
#topstrip .leftbox img{max-width:120px}
#topstrip .rightbox{position:absolute;left:220px;top:0;text-align:left}
#topstrip .container{padding-left:0}
#content-container{padding-top:0}
#mainnav-container{padding-top:0}
.panel{background-color:transparent}
.narrow-dropdown{width:600px}
.text-main, a.text-main:hover, a.text-main:focus{color:#000}
.nav-tabs.nav-justified.topnav > li > a{
    background:rgba(254, 109, 51, 0.2);
    color:#333;
    border-color: #9175a7;
    border-bottom:none;
}
.nav-tabs.nav-justified.topnav > li.active > a{
    background:#fff;
}

.navbar-top-links > .open > a, .navbar-top-links > .open > a:focus,
.navbar-top-links > li > a:hover
{
  background-color: #9175a7 !important;
}

footer {
  box-shadow: inset 0 .25rem .2rem 0 rgba(0,0,0,0.15);
}

footer#footer {
  background-color:#4e374d;
  color:#fff;
  box-shadow: inset 0 .25rem .2rem 0 rgba(0,0,0,0.30);
}

footer#footer a{
  color:#fff;
  text-decoration:underline;
}

#footer h4 {
  color:#fff;
}

#topstrip {
  box-shadow: 0 .25rem .2rem 0 rgba(0,0,0,0.15);
}

#content-container, #page-content {
  background-color: #fff0;
}

section.top-banner .welcome-text {
  text-align: center;
  font-size: 2em;
  max-width: 700px;
  margin: 50px auto;
  border-top: 2px solid #3a444e;
  border-bottom: 2px solid #3a444e;
}

section.top-banner {
  padding-bottom: 48px;
}

section.site-overview {
  padding-bottom: 48px 0;
}

section.top-banner .welcome-text span.highlight {
  font-weight: bold;
}

section.top-banner .panel, #navbar {
  box-shadow: 0 2px 5px rgba(0,0,0,0.25) !important;
}

section.top-banner .slideshow.photos {
  min-height: 250px;
}

#mainnav-menu > .active-sub > a, #mainnav-menu > .active-sub > a:hover {
  background-color:#d1ac84;
}

#mainnav-menu .active:not(.active-sub) > a {
  color:#9175a7;
}

.homepage section.site-overview .highlight-link {
  display: block;
  margin-bottom: 0;
  border-radius: 2px 2px 0 0;
  background-color: #74a590;
  box-shadow:  0 2px 5px rgba(0,0,0,0.15) !important;
  transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.homepage section.site-overview .highlight-link:hover {
  text-decoration: none !important;
  background-color: #5b8c76;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5) !important;
}

.homepage section.site-overview .highlight-link i {
  font-size: 4em;
  color: #fff;
}

.homepage section.site-overview .highlight-link .text-main {
  color: #fff;
}

.listing-panel {
  border-radius: 0 0 2px 2px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15) !important;
}

.listing-panel .panel-heading {
  border-radius: 0;
}

.listing-panel li.list-group-item {
  border-radius: 0;
  border-bottom: 1px solid #9175a74d !important;
  padding: 15px;
}

.listing-panel li.list-group-item:last-of-type {
  border-bottom: none !important;
}