/* This is the right file! */
.stretch-bg-head #page-head, 
.stretch-bg-head #page-head h1, 
.stretch-bg-head #page-head h2, 
.stretch-bg-head #page-head h3, 
.stretch-bg-head #page-head h4,
.stretch-bg-head #page-head h5,
.stretch-bg-head #page-head h6,
.stretch-bg-head #page-head .text-main,
.stretch-bg-head #page-head .breadcrumb li,
.stretch-bg-head #page-head .breadcrumb li a,
.stretch-bg-head #page-head .breadcrumb .active {
  color:#fff;
}
.navbar-content {
  background:#Fff;
}
.navbar-content a {
  color:#333 !important;
}
.navbar-content #dropdown-active {
  background:#FE6D33;
}
.navbar-content li.dropdown > a {
  font-size:16px;
}
.navbar-content #dropdown-active > a{
  color:#fff !important;
}
#container.mainnav-in .brand-title, #container.mainnav-sm .brand-title, #container.mainnav-out .brand-title, #container.mainnav-lg .brand-title {
  color:#333;
  background:#fff;
}
.navbar-top-links > li > a:not(.mainnav-toggle) > i {
  color:#999;
}

#container.boxed-layout .boxed{margin-top:0;position:relative}
#topstrip{margin-top:59px;background:#FE6D33;padding:10px;min-height:120px}
#topstrip .leftbox{width:220px;position:absolute;right:0}
#topstrip .rightbox{position:absolute;left:220px;top:0;text-align:left}
#topstrip .rightbox{position:absolute;left:0;top:0;text-align:left}
#topstrip .leftbox img{max-width:120px}
#topstrip .leftbox{width:220px;position:absolute;width:110px}
#topstrip .container{padding-left:0}
#content-container{padding-top:0}
#mainnav-container{padding-top:0}
.panel{background-color:transparent}
.narrow-dropdown{width:600px}
.text-main, a.text-main:hover, a.text-main:focus{color:#000}

.nav-tabs.nav-justified.topnav > li > a{
  background:rgba(254, 109, 51, 0.2);
  color:#333;
  border-color: #FE6D33;
  border-bottom:none;
}
.nav-tabs.nav-justified.topnav > li.active > a{
  background:#fff;
}

/* Adjusting the height of the top nav menu */
.brand-title,
.navbar-brand,
.navbar-content,
.navbar-top-links > li > a {
  height: 75px;
}
#topstrip {
  margin-top: 75px;
}
.navbar-content li.dropdown > a,
.navbar-top-links > li {
  font-size: 19px;
}
#container.mainnav-sm #navbar .navbar-brand {
  width: 90px;
}
span.faded {
  opacity:0.5;
}
.future-cities a {
  cursor: default;
}
.future-cities a.showpointer {
  cursor: pointer;
}
#mainnav-menu > .active-sub > a, #mainnav-menu > .active-sub > a:hover {
  background-color: #ecf0f5;
  color: #333;
}
#mainnav-menu .active:not(.active-sub) > a {
  color: #cf3c21;
  font-weight: bold;
}

body .select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-color: #3a444e;
}
body .select2-container--default .select2-results__option[aria-selected="true"]:hover, body .select2-container--default .select2-selection--multiple .select2-selection__choice, body .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #ddd;
    color: #333;
}
footer#actions .btn-warning, footer#actions .btn-warning:hover {
  background-color:#cf4803 !important;
  border-color:#cf4803 !important;
}
footer#actions .btn-danger, footer#actions .btn-danger:hover {
  background-color:#A31621 !important;
  border-color:#A31621 !important;
}

.alert-info {
  background-color: #003B5F;
}
.panel > .list-group .list-group-item.active-sub {
  border-left: 8px solid #1f7a8c;
}
.panel-dark .panel-heading, .panel-dark .panel-footer, .panel-dark.panel-colorful {
  background-color: #285775;
}
.main-content-block a:not(.btn) {
  color:#cf4803;
  text-decoration:underline;
}
#page-content a:not(.btn):not(.list-group-item):hover {
  text-decoration: none;
}

.main-content-block a:not(.btn).single-resource {
  text-decoration: none;
}
a.list-group-item, .leaflet-control-zoom a {
  text-decoration: none !important;
}
.leaflet-control-zoom a {
  color: #333 !important;
}

span.icon-circle.bg-success {
  background-color:#1F7A8C
}
