{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-body">
          <div class="panel-heading">
              <h3>Cities</h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped datatable">
            <thead>
              <tr>
                <th>City</th>
                <th>Country</th>
              </tr>
            </thead>
            <tbody>
              {% for info in list %}
                <tr>
                  <td><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a></td>
                  <td>{{ info.country.name }}</td>
                </tr>
              {% endfor %}
            </tbody>
            </table>
          </div>
        </div>
    </div>
</div>


{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">Cities</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="/"><i class="pli-home"></i></a></li>
        <li><a href="cities">Cities</a></li>
        <li class="active">Overview</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
