{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<section>

<h2>{{ type.name }}</h2>

{% if information %}

  {% for details in information %}

      <h3>{{ details.title }}</h3>

      {{ details.content|safe }}

    {% endfor %}

{% endif %}

<div class="row">
{% for dataset in list %}
  <div class="col-lg-6">
    <div class="panel panel-dark">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="{% url 'multiplicity:dataset' info.slug dataset.id %}">{{ dataset.name }}</a></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-4 is-bold">
            City
          </div>
          <div class="col-lg-8">
            {{ dataset.primary_space.name }}, {{ dataset.primary_space.country.name }}
          </div>
          <div class="col-lg-4 is-bold">
            Source(s)
          </div>
          <div class="col-lg-8">
            {% for details in dataset.references.all %}
              <a href="{% url 'core:reference' details.id %}">{{ details.title }}</a>
            {% endfor %}
          </div>
          <div class="col-lg-4 is-bold">
            Data points
          </div>
          <div class="col-lg-8">
            {{ dataset.data_set.count }}
          </div>
          <div class="col-lg-4 is-bold">
            Time frames
          </div>
          <div class="col-lg-8">
            {{ dataset.timeframe.start }} - {{ dataset.timeframe.end }}
          </div>
          <div class="col-lg-4 is-bold">
            Materials
          </div>
          <div class="col-lg-8">
            <ul class="list-unstyled">
            {% for details in dataset.materials %}
              <li>
              <span class="label label-info">
              {{ details.material_name|truncatechars:20 }}
              </span>
              </li>
            {% endfor %}
            {% if materials_hidden %}
              <li><span class="label label-success">+{{ materials_hidden }} other materials</span></li>
            {% endif %}
            </ul>
          </div>
        </div>
        <p class="pull-right"><a href="{% url 'multiplicity:dataset' info.slug dataset.id %}" class="btn btn-success">View dataset</a></p>
      </div>
    </div>
  </div>
{% endfor %}
</div>

</section>

{% if photos %}
  <h3>Photos</h3>
  {% include 'multiplicity/includes/photos.html' %}
{% endif %}

{% endblock %}

{% block head %}
<style type="text/css">
.main-content-block h3.panel-title a{color:#fff}
</style>
{% endblock %}

{% block sidebar %}
  {% include 'multiplicity/sidebar.default.html' %}
{% endblock %}

{% block pagehead %}
<div id="page-head">

    <div id="page-title">
        <h1 class="page-header text-overflow">{{ info.name }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'multiplicity:index' %}">Cities</a></li>
        <li><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a></li>
        <li><a href="{% url 'multiplicity:overview_flows' info.slug type.category.slug %}">Material flows</a></li>
        <li><a href="{% url 'multiplicity:overview_flows' info.slug type.category.slug %}">{{ type.category.name }}</a></li>
        <li class="active">{{ type.name }}</li>
    </ol>

</div>
{% endblock %}

{% block footer %}
  <script type="text/javascript">
    $(function(){
      $(".data-available").each(function() {
        var available = $(this).attr("available");
        var total = $(this).attr("total");
        var unavailable = total - available;
        var width = 100 / total;

        for (var i = 1; i <= available; i++) {
          $(document.createElement('div')).addClass("data-box available").css("width", "calc(" + width + "% - 1px)").appendTo(this);
        };

        for (var i = 1; i <= unavailable; i++) {
          $(document.createElement('div')).addClass("data-box").css("width", "calc(" + width + "% - 1px)").appendTo(this);
        };
      });

      $(".city-overview .table .expand").click(function() {
        var parentRow = $(this).parent("tr");
        $(parentRow).children("td").each(function() {
          $(this).width( $(this).width() );
        });
        $("i", this).toggleClass("fa-caret-up");
        $(this).parent().next("tr.extra-info").toggle();
      });
    });
  </script>
{% endblock %}
