{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}



<section>

<h2>{{ type.name }}</h2>

{{ type.category }}


</section>

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">

    <div id="page-title">
        <h1 class="page-header text-overflow">{{ info.name }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'multiplicity:index' %}">Cities</a></li>
        <li><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a></li>
        <li><a href="{% url 'multiplicity:overview_flows' info.slug type.category.slug %}">Material flows</a></li>
        <li><a href="{% url 'multiplicity:overview_flows' info.slug type.category.slug %}">{{ type.category.name }}</a></li>
        <li class="active">{{ type.name }}</li>
    </ol>

</div>
{% endblock %}

{% block footer %}
  <script>
    $(".data-available").each(function() {
      var available = $(this).attr("available");
      var total = $(this).attr("total");
      var unavailable = total - available;
      var width = 100 / total;

      for (var i = 1; i <= available; i++) {
        $(document.createElement('div')).addClass("data-box available").css("width", "calc(" + width + "% - 1px)").appendTo(this);
      };

      for (var i = 1; i <= unavailable; i++) {
        $(document.createElement('div')).addClass("data-box").css("width", "calc(" + width + "% - 1px)").appendTo(this);
      };
    });

    $(".city-overview .table .expand").click(function() {
      var parentRow = $(this).parent("tr");
      $(parentRow).children("td").each(function() {
        $(this).width( $(this).width() );
      });
      $("i", this).toggleClass("fa-caret-up");
      $(this).parent().next("tr.extra-info").toggle();
    });
  </script>
{% endblock %}
