{% extends 'multiplicity/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
      <div class="panel panel-body">
        <div class="panel-heading">
          <h3>Upload {{ title }}</h3>
        </div>
          <div class="panel-body">
            <div class="alert alert-info">
              Only use {{ title|slugify }}s that have a permissive license (creative commons, public domain, etc.). 
              Do not use {{ title|slugify }}s without a clearly defined permissive license unless you have
              permission from the creator or if it can be classified as fair use. Recommended sites include:
              <ul>
                <li>Wikipedia (check especially <a href="https://commons.wikimedia.org/">Wikimedia Commons</a>)
                <li><a href="https://www.pexels.com">Pexels</a></li>
                <li><a href="https://pixabay.com">Pixabay</a></li>
            </ul>
            </div>
            <form method="post" class="form form-horizontal" enctype="multipart/form-data">
              {% bootstrap_form form layout='horizontal' %}
              <div class="form-group">
                <label class="col-md-3 control-label" for="processes">Processes</label>
                <div class="col-md-9">
                  <select class="form-control" name="process" id="processes">
                    <option value=""></option>
                    {% for details in processes %}
                      <option value="{{ details.id }}" {% if photo.process == details %}selected{% endif %}>{{ details.code }}. {{ details.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              {% buttons %}
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" class="btn btn-success">
                    Save
                  </button>
                </div>
              {% endbuttons %}
              {% csrf_token %}
          </form>
        </div>
      </div>
  </div>
</div>

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(function(){
  {% if request.GET.space %}
    $("#id_secondary_space").val('{{ request.GET.space }}');
    $("#id_secondary_space").trigger('change');
  {% endif %}
  {% if map %}
    $("#id_secondary_space").closest(".form-group").hide();
    $("#id_deleted").closest(".form-group").hide();
  {% else %}
    $("#id_secondary_space").select2();
  {% endif %}

});
</script>
{% endblock %}
