{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ info.name }} | {{ info.country.name }}{% endblock %}
{% block container %}stretch-bg-head floating-style{% endblock %}

{% block content %}

<div class="row">

  <div class="col-lg-6">
    <div class="panel widget">
      <div class="widget-header bg-purple city-header">
        {% if info.system_photo %}
          <img class="widget-bg img-responsive" src="{{ info.system_photo.image.large.url }}" alt="">
        {% endif %}
      </div>
      <div class="widget-body text-center">
        {% with "multiplicity/img/cities/map-"|add:info.slug|add:".jpg" as picture %}
          <img alt="" class="widget-img img-circle img-border-light" src="{% static picture %}">
        {% endwith %}
          <h4 class="mar-no text-main">{{ info.name }}</h4>
          <p class="text-muted mar-no">{{ info.country.name|default_if_none:"" }}</p>
      </div>
    </div>

    <section class="resources">

      <h2>Resources</h2>

      <div class="panel ">
          <div class="pad-all media">
              <div class="media-left">
                  <i class="fal fa-chart-area icon-3x icon-fw"></i>
              </div>
              <div class="media-body">
                  <p class="text-2x mar-no media-heading"><a style="color:#333" href="{% url 'multiplicity:datasets' info.slug %}">Datasets</a></p>
                  <span>Explore datasets on material flows, stocks, consumption, and more</span>
              </div>
          </div>
      </div>

      <div class="panel ">
          <div class="pad-all media">
              <div class="media-left">
                  <i class="fal fa-globe-africa icon-3x icon-fw"></i>
              </div>
              <div class="media-body">
                  <p class="text-2x mar-no media-heading"><a style="color:#333" href="{% url 'multiplicity:map' info.slug %}">Maps</a></p>
                  <span>View boundaries, micro-territorial units, infrastructure maps, and more</span>
              </div>
          </div>
      </div>

      <div class="panel ">
          <div class="pad-all media">
              <div class="media-left">
                  <i class="fal fa-books icon-3x icon-fw"></i>
              </div>
              <div class="media-body">
                  <p class="text-2x mar-no media-heading"><a style="color:#333" href="{% url 'multiplicity:resources' info.slug 'journal-articles' %}">Journal articles</a></p>
                  <span>Relevant academic literature published in peer-reviewed journals</span>
              </div>
          </div>
      </div>

      <div class="panel ">
          <div class="pad-all media">
              <div class="media-left">
                  <i class="fal fa-file-alt icon-3x icon-fw"></i>
              </div>
              <div class="media-body">
                  <p class="text-2x mar-no media-heading"><a style="color:#333" href="{% url 'multiplicity:resources' info.slug 'reports' %}">Reports</a></p>
                  <span>Governmental reports, institutional reports, corporate reports, and other relevant reports</span>
              </div>
          </div>
      </div>

      <div class="panel ">
          <div class="pad-all media">
              <div class="media-left">
                  <i class="fal fa-graduation-cap icon-3x icon-fw"></i>
              </div>
              <div class="media-body">
                  <p class="text-2x mar-no media-heading"><a style="color:#333" href="{% url 'multiplicity:resources' info.slug 'theses' %}">Theses</a></p>
                  <span>Academic theses, dissertations, and other relevant academic work</span>
              </div>
          </div>
      </div>

      <div class="panel ">
          <div class="pad-all media">
              <div class="media-left">
                  <i class="fal fa-images icon-3x icon-fw"></i>
              </div>
              <div class="media-body">
                  <p class="text-2x mar-no media-heading"><a style="color:#333" href="{% url 'multiplicity:photos' info.slug %}">Photos</a></p>
                  <span>View photos of resource infrastructure, material flows, and more</span>
              </div>
          </div>
      </div>

    </section>

  </div>

  <div class="col-lg-6">

    <div id="map"></div>

    <section class="sectors">
      <h2>Browse by sector...</h2>

      {% for details in info.sectors.all %}

        <div class="panel panel-success panel-colorful pad-all">
            <p class="text-2x mar-no text-semibold">
                <a href="{% url 'multiplicity:sector' info.slug details.process_group.slug %}">
                  <i class="{{ details.process_group.icon }} fa-fw mar-rgt"></i>
                  {{ details.process_group.name }}
                </a>
            </p>
        </div>

      {% endfor %}
    </section>

  </div>

</div>

{% include 'multiplicity/includes/multimedia.html' %}

{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'ie/css/morris.min.css' %}" />
<style type="text/css">
.city-header { min-height:330px;previous:298px;}
.sectors .text-2x{font-size:1.3em}
.sectors .panel{margin-bottom:10px}
#page-content .sectors a:not(.btn):not(.list-group-item):hover{text-decoration:none;opacity:0.7}

.sectors .panel-success.panel-colorful:nth-child(2){background-color:#1C270E}
.sectors .panel-success.panel-colorful:nth-child(3){background-color:#2A3A15}
.sectors .panel-success.panel-colorful:nth-child(4){background-color:#384E1C}
.sectors .panel-success.panel-colorful:nth-child(5){background-color:#476124}
.sectors .panel-success.panel-colorful:nth-child(5){background-color:#55752B}
.sectors .panel-success.panel-colorful:nth-child(6){background-color:#638832}
.sectors .panel-success.panel-colorful:nth-child(7){background-color:#719C39}
.sectors .panel-success.panel-colorful:nth-child(8){background-color:#7FAF40}
.sectors .panel-success.panel-colorful:nth-child(9){background-color:#8EC348}
.sectors .panel-success.panel-colorful:nth-child(10){background-color:#99C95A}
.sectors .panel-success.panel-colorful:nth-child(11){background-color:#A4CF6C}
.sectors .panel-success.panel-colorful:nth-child(12){background-color:#AFD57E}
.sectors .panel-success.panel-colorful{opacity:0.9}

#map{height:440px}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}
{% endblock %}

{% block footer %}

  {% if info.location.geojson %}
    <script type="text/javascript">

      var map = L.map('map');
      var geojson = {{ info.location.geojson|safe }}
      var geojsonlayer = L.geoJSON(geojson).addTo(map);

      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ MAPBOX_API_KEY }}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="http://mapbox.com">Mapbox</a>',
          id: 'mapbox.streets'
      }).addTo(map);

        map.scrollWheelZoom.disable();
        map.fitBounds(geojsonlayer.getBounds());

    </script>
  {% endif %}

{% endblock %}
