{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Overview{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<section class="city-overview">

  <div class="panel panel-dark">
    <div class="panel-heading">
      <h3 class="panel-title">{{ details.name }}</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>City</th>
            <th>Datasets</th>
            <th>Infrastructure</th>
            <th>MTUs</th>
          </tr>
        </thead>
        {% for details in list %}
          <tr>
            <td><a href="{% url "multiplicity:city" details.primary_space__slug %}">{{ details.primary_space__name }}</a></td>
            <td>{{ details.total }}</td>
            <td>{{ spaces|get_item:details.primary_space__name|default_if_none:""|safe }}</td>
            <td>{{ mtu|get_item:details.primary_space__name|default_if_none:""|safe }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

</section>

{% endblock %}

{% block pagehead %}
<div id="page-head">

    <div id="page-title">
        <h1 class="page-header text-overflow">{{ info.name }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="/"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'multiplicity:index' %}">{{ MULTIPLICITY_NAME }}</a></li>
        <li class="active">Overview</li>
    </ol>

</div>
{% endblock %}
