{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-body">
        <h2>1. External flows</h2>

        <h3>Extraction</h3>
        <table class="table is-striped">
        {% for item in extraction %}
          <tr>
            <td>{{ item }}</td>
            <td>12 out out of 15 datasets</td>
            <td>1 year</td>
            <td>City-wide</td>
            <td>46%</td>
          </tr>
        {% endfor %}
        </table>

        <h3>Imports</h3>
        <table class="table is-striped">
        {% for item in maingroups %}
          <tr>
            <td>{{ item }}</td>
            <td>12 out out of 15 datasets</td>
            <td>1 year</td>
            <td>City-wide</td>
            <td>46%</td>
          </tr>
        {% endfor %}
        </table>

        <h3>Exports</h3>
        <table class="table is-striped">
        {% for item in maingroups %}
          <tr>
            <td>{{ item }}</td>
            <td>12 out out of 15 datasets</td>
            <td>1 year</td>
            <td>City-wide</td>
            <td>46%</td>
          </tr>
        {% endfor %}
        </table>

        <h2>2. Internal flows</h2>

        <h3>Consumption</h3>
        <table class="table is-striped">
        {% for item in extraction %}
          <tr>
            <td>{{ item }}</td>
            <td>12 out out of 15 datasets</td>
            <td>1 year</td>
            <td>City-wide</td>
            <td>46%</td>
          </tr>
        {% endfor %}
        </table>

        <h3>Output to nature</h3>
        <table class="table is-striped">
        {% for item in output %}
          <tr>
            <td>{{ item }}</td>
            <td>12 out out of 15 datasets</td>
            <td>1 year</td>
            <td>City-wide</td>
            <td>46%</td>
          </tr>
        {% endfor %}
        </table>

        <h3>Waste</h3>
        <table class="table is-striped">
        {% for item in waste %}
          <tr>
            <td>{{ item }}</td>
            <td>12 out out of 15 datasets</td>
            <td>1 year</td>
            <td>City-wide</td>
            <td>46%</td>
          </tr>
        {% endfor %}
        </table>

        <h2>3. Built environment</h2>

        <h3>Stocks</h3>
        <table class="table is-striped">
        {% for item in stocks %}
          <tr>
            <td>{{ item }}</td>
            <td>12 out out of 15 datasets</td>
            <td>1 year</td>
            <td>City-wide</td>
            <td>46%</td>
          </tr>
        {% endfor %}
        </table>

        <h3>Infrastructure</h3>
        <table class="table is-striped">
        {% for item in infrastructure %}
          <tr>
            <td>{{ item }}</td>
            <td>12 out out of 15 datasets</td>
            <td>1 year</td>
            <td>City-wide</td>
            <td>46%</td>
          </tr>
        {% endfor %}
        </table>

      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">{{ info.name }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'multiplicity:index' %}">Cities</a></li>
        <li><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a></li>
        <li class="active">Data overview</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
