{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ title }} | {{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

{% if page == 'maps' %}
  {% include 'multiplicity/includes/navbar.maps.html' %}
{% endif %}

<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-body">
        <h3>{{ title }}</h3>
        <p>We have the following {{ page }} available for <strong>{{ info.name }}</strong>:</p>

          {% include 'multiplicity/includes/multimedia.html' %}

      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block head %}
<style type="text/css">
h4.mar-top {
  margin-top: 30px;
}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">{{ info.name }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="/"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'multiplicity:index' %}">{{ MULTIPLICITY_NAME }}</a></li>
        <li><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a></li>
        <li class="active">{{ title }}</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
