{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ sector.name }} | {{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<h2 id="sector-title">{{ sector.name }}</h2>

<article class="sector">
  <section id="info">
    <div class="row">
      <div class="col-lg-6">
        <h3>General information</h3>
      </div>
      <div class="col-lg-6 text-right">
        <div class="section-menu">
          General information | <a onclick="scrollToDiv('datasets')">Datasets</a> | <a onclick="scrollToDiv('infrastructure')">Infrastructure</a>
        </div>
      </div>
    </div>

    <div class="row flex flex-wrap subsector-panels">
      {% for details in information %}
        <div class="col-lg-4 col-sm-6 flex-none single-subsector-panel">
          <div class="panel height-100">
            <img class="img-responsive" src="https://prototype.metabolismofcities.org/media/photos/32486.thumbnail.jpg" alt="">
            <div class="pad-all">
              <h3>{{ details.title }}</h3>
              <p>{{ details.content|safe|truncatechars:200 }}</p>
              <a class="btn btn-dark" onclick="showSubSector('{{ details.title }}')">Show more</a>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="col-lg-4 col-sm-6 flex-none single-subsector-panel">
        <div class="panel height-100">
          <img class="img-responsive" src="https://prototype.metabolismofcities.org/media/photos/DSC00622.thumbnail.JPG" alt="">
          <div class="pad-all">
            <h3>Major companies</h3>
            <p>Aspernatur quidem id vero in veritatis. Repellat aut esse vero a eum reprehenderit. A et sunt delectus. Aut temporibus quas sint ullam.</p>
            <a class="btn btn-dark" onclick="showSubSector('Major companies')">Show more</a>
          </div>
        </div>
      </div>
    </div>

    <div class="subsector-content">
    {% for details in information %}
      <div class="single-subsector-content" subsector="{{ details.title }}">
        <a class="btn btn-dark back-subsectors" onclick="backSubsectors()"><i class="fas fa-arrow-left fa-fw"></i> Back to subsectors</a>
        <h3>{{ details.title }}</h3>
        <p>{{ details.content|safe }}</p>
        <div class="photos mar-top bg-gray-light pad-all bord-all">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 single-photo">
              <a data-fancybox="gallery" href="https://prototype.metabolismofcities.org/media/photos/DSC00628.large.JPG"><img src="https://prototype.metabolismofcities.org/media/photos/DSC00628.thumbnail.JPG"></a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 single-photo">
              <a data-fancybox="gallery" href="https://prototype.metabolismofcities.org/media/photos/zoek-de-verschillen-1-e1396440591891.large.jpg"><img src="https://prototype.metabolismofcities.org/media/photos/zoek-de-verschillen-1-e1396440591891.thumbnail.jpg"></a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 single-photo">
              <a data-fancybox="gallery" href="https://prototype.metabolismofcities.org/media/photos/IMG_0163.large.JPG"><img src="https://prototype.metabolismofcities.org/media/photos/IMG_0163.thumbnail.JPG"></a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 single-photo">
              <a data-fancybox="gallery" href="https://prototype.metabolismofcities.org/media/photos/31552.large.jpg"><img src="https://prototype.metabolismofcities.org/media/photos/31552.thumbnail.jpg"></a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 single-photo">
              <a data-fancybox="gallery" href="https://prototype.metabolismofcities.org/media/photos/32478.large.jpg"><img src="https://prototype.metabolismofcities.org/media/photos/32478.thumbnail.jpg"></a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 single-photo">
              <a data-fancybox="gallery" href="https://prototype.metabolismofcities.org/media/photos/32334.large.jpg"><img src="https://prototype.metabolismofcities.org/media/photos/32334.thumbnail.jpg"></a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 single-photo">
              <a data-fancybox="gallery" href="https://prototype.metabolismofcities.org/media/photos/IMG_2499.large.JPG"><img src="https://prototype.metabolismofcities.org/media/photos/IMG_2499.thumbnail.JPG"></a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 single-photo">
              <a data-fancybox="gallery" href="https://prototype.metabolismofcities.org/media/photos/IMG_2489.large.JPG"><img src="https://prototype.metabolismofcities.org/media/photos/IMG_2489.thumbnail.JPG"></a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 single-photo">
              <a data-fancybox="gallery" href="https://prototype.metabolismofcities.org/media/photos/south-africa-2267795_960_720.large.jpg"><img src="https://prototype.metabolismofcities.org/media/photos/south-africa-2267795_960_720.thumbnail.jpg"></a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </section>

  {% if datasets %}
  <section id="datasets">
    <div class="row">
      <div class="col-lg-6">
        <h3>Datasets</h3>
      </div>
      <div class="col-lg-6 text-right">
        <div class="section-menu">
          <a onclick="scrollToDiv('info')">General information</a> | Datasets | <a onclick="scrollToDiv('infrastructure')">Infrastructure</a>
        </div>
      </div>
    </div>

    <div id="graph">
      <div class="loading text-center text-2x pad-all mar-top">
        <span class="mar-top pad-all">Loading graph</span>
        <i class="fas fa-cog fa-spin mar-top"></i>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th width="300">Name</th>
          <th>Coverage</th>
          {% if False %}
          <th></th>
          <th>Smallest scale</th>
          {% endif %}
        </tr>
      </thead>
      {% for details in datasets %}
        <tr>
          <td><a href="{% url 'multiplicity:dataset' info.slug details.id %}">{{ details.name }}</a></td>
          <td>{{ details.timeframe.start }} - {{ details.timeframe.end }}</td>
          <td>
            {% for material in details.materials %}
              {{ material.name }}
            {% endfor %}
          </td>
          <td><a class="btn btn-sm btn-mint" onclick="previewChart({{ details.id }}, 4)"><i class="far fa-fw fa-chart-bar"></i> Preview chart</a></td>
        </tr>
      {% endfor %}
      <tr>
        <td><a href="">Bricks!</a></td>
        <td>asdfads</td>
        <td>
          Bricks!
        </td>
        <td><a class="btn btn-sm btn-mint" onclick="previewChart(15, 4)"><i class="far fa-fw fa-chart-bar"></i> Preview chart</a></td>
      </tr>
      <tr>
        <td><a href="">Vegatables</a></td>
        <td>Bla bla</td>
        <td>
          Carrots
        </td>
        <td><a class="btn btn-sm btn-mint active" onclick="previewChart(15, 2)"><i class="far fa-fw fa-chart-bar"></i> Preview chart</a></td>
      </tr>
    </table>
  </section>
  {% endif %}

  {% if spaces %}
  <section id="infrastructure">
    <div class="row">
      <div class="col-lg-6">
        <h3>Infrastructure</h3>
      </div>
      <div class="col-lg-6 text-right">
        <div class="section-menu">
          <a onclick="scrollToDiv('info')">General information</a> | <a onclick="scrollToDiv('datasets')">Datasets</a> | Infrastructure
        </div>
      </div>
    </div>
    <div id="infrastructure-anchor"></div>
    <div id="infrastructure-list" class="row col-panels mar-top">
      {% if types %}
        {% for details in types %}
          {% if details.total %}
            <div class="col-lg-6 single-infrastructure">
              <div class="panel">
                <div class="row flex flex-wrap">
                  <div class="col-lg-4">
                    <img class="img-responsive" src="{% get_static_prefix %}multiplicity/img/space_types/{{ details.slug }}.jpg" alt="">
                  </div>
                  <div class="col-lg-8 pad-all">
                    <h4 class="name">{{ details.name }}</h4>
                    <p>
                      <a href="">{{ details.total }} records</a> found
                      <img class="marker" src="{% get_static_prefix %}multiplicity/img/markers/marker.{{ details.marker_color }}.svg" alt="" />
                    </p>
                    <a class="btn btn-dark" onclick="showInfrastructureData('{{ details.name }}')">Show more</a>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    {% if types %}
      <div class="data mar-top">
        {% for details in types %}
          {% if details.total %}
            <div class="single-dataset" infrastructure="{{ details.name }}">
              <a class="btn btn-dark" onclick="backInfrastructure()"><i class="fas fa-arrow-left fa-fw"></i> Back to list</a>
              <a class="btn btn-mint" onclick="showInfrastructureMap(dams)"><i class="fas fa-map fa-fw"></i> Show on map</a>
              <!-- this uses dams as an example. It should be one of the variables in allFeatureGroups in map.html -->
              <table class="table mar-top">
                <thead>
                  <tr>
                    <th>{{ details.name }}</th>
                    <th>Lastname</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                  </tr>
                  <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                  </tr>
                  <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                  </tr>
                  <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                  </tr>
                  <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                  </tr>
                  <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                  </tr>
                </tbody>
              </table>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    <div id="map">
      {% include 'multiplicity/includes/map.html' %}
    </div>
  </section>
  {% endif %}
</article>


{% if request.user.is_staff %}
  <div class="panel panel-colorful panel-success">
    <div class="panel-body">
      <h3>Admin options</h3>
      <ul>
        <li><a href="{% url 'multiplicity:information_form' info.slug %}">Add information</a></li>
        <li><a href="{% url 'multiplicity:admin_data_overview' info.slug %}">City admin page</a></li>
      </ul>
    </div>
  </div>
{% endif %}

{% endblock %}

{% block head %}
<script src="{% static 'ie/js/highcharts.js' %}"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/streamgraph.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/treemap.js"></script>
<script src="https://code.highcharts.com/modules/sankey.js"></script>

{% include 'multiplicity/graphs/options.html' %}
{% include 'multiplicity/graphs/series.time.html' %}
{% include 'multiplicity/graphs/series.column.html' %}
{% include 'multiplicity/graphs/series.drill.html' %}

{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">

  <div id="page-title">
    <h1 class="page-header text-overflow">{{ info.name }}</h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="./"><i class="pli-home"></i></a></li>
    <li><a href="{% url 'multiplicity:index' %}">Cities</a></li>
    <li><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a></li>
    <li><a href="{% url 'multiplicity:map_home' info.slug %}">Maps</a></li>
    <li class="active">Boundaries</li>
  </ol>

</div>
{% endblock %}

{% block footer %}
  <script>
    // smooth scroll to an element on the page
    function scrollToDiv(id){
      $('html,body').animate({
       scrollTop: $("#" + id).offset().top - 20
      }, 'slow');
    }

    // show content of a subsector
    function showSubSector(subSectorTitle){
      $(".subsector-panels").slideUp();
      $(".back-subsectors").show();
      $(".single-subsector-content").hide();
      $(".single-subsector-content").each(function() {
        if ($(this).attr("subsector") == subSectorTitle) {
          $(this).fadeIn();
        }
      });
      scrollToDiv("sector-title");
    };

    // show cards with subsectors, hide content
    function backSubsectors() {
      $(".subsector-panels").slideDown();
      $(".single-subsector-content").hide();
    };

    // map with golden ratio
    $(window).on("load", function() {
      var containerWidth = $("article.sector").width();
      $("#map").height(containerWidth / 1.618);
      leafletMap.invalidateSize();
    })

    // show data of specific infrastructure
    function showInfrastructureData(infrastructure){
      $("section#infrastructure .data .single-dataset, #infrastructure-list").hide();
      $("section#infrastructure .data .single-dataset[infrastructure='" + infrastructure + "']").show();
      scrollToDiv("infrastructure-anchor");
    };

    // show specific infrastructure on map
    function showInfrastructureMap(infrastructure){
      showOneLayer(infrastructure);
      scrollToDiv("map");
    };

    // show infrastructure list, hide dataset
    function backInfrastructure() {
      $("#infrastructure-list").slideDown();
      $(".single-dataset").hide();
      scrollToDiv("infrastructure-anchor");
      showAllLayers();
    }

    // show a preview of the dataset's chart, id = dataset id, type = chart type id
    function previewChart(id, type){
      $("#graph").html("<div class='loading text-center text-2x pad-all mar-top'><span class='mar-top pad-all'>Loading graph</span><i class='fas fa-cog fa-spin mar-top'></i></div>");
      url = '/cities/cape-town/datasets/' + id + '/graph/' + type;
      $("#graph").load(url);
    };

    // make clicked button active, scroll to top of chart
    $("article.sector section#datasets .table a.btn").on("click", function() {
      $("article.sector section#datasets .table a.btn").removeClass("active");
      $(this).addClass("active");
      scrollToDiv("datasets");
    });

    previewChart(15, 2)
  </script>

{% endblock %}
