{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ sector.name }} | {{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<h2 id="sector-title">{{ sector.name }}</h2>

<article class="sector">
  <section id="info">
    <div class="row">
      <div class="col-lg-6">
        <h3>General information</h3>
      </div>
      <div class="col-lg-6 text-right">
        <div class="section-menu">
          General information | <a onclick="scrollToDiv('datasets')">Datasets</a> | <a onclick="scrollToDiv('infrastructure')">Infrastructure</a>
        </div>
      </div>
    </div>

    <a class="btn btn-dark back-subsectors" onclick="backSubsectors()"><i class="fas fa-arrow-left fa-fw"></i> Back to subsectors</a>

    <div class="row flex flex-wrap subsector-panels">
      {% for details in information %}
        <div class="col-lg-4 flex-none single-subsector-panel">
          <div class="panel height-100">
            <div class="blog-header">
              <img class="img-responsive" src="https://prototype.metabolismofcities.org/media/photos/32486.thumbnail.jpg" alt="">
            </div>
            <div class="pad-all">
              <h3>{{ details.title }}</h3>
              <p>{{ details.content|safe|truncatechars:200 }}</p>
              <a class="btn btn-dark" onclick="showSubSector('{{ details.title }}')">Show more</a>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="col-lg-4 flex-none single-subsector-panel">
        <div class="panel height-100">
          <div class="blog-header">
            <img class="img-responsive" src="https://prototype.metabolismofcities.org/media/photos/DSC00622.thumbnail.JPG" alt="">
          </div>
          <div class="pad-all">
            <h3>Major companies</h3>
            <p>Aspernatur quidem id vero in veritatis. Repellat aut esse vero a eum reprehenderit. A et sunt delectus. Aut temporibus quas sint ullam.</p>
            <a class="btn btn-dark" onclick="showSubSector('Major companies')">Show more</a>
          </div>
        </div>
      </div>
    </div>

    <div class="subsector-content">
    {% for details in information %}
      <div class="single-subsector-content" subsector="{{ details.title }}">
        <h3>{{ details.title }}</h3>
        <p>{{ details.content|safe }}</p>
        <div class="photos mar-top bg-gray-light pad-all bord-all">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 single-photo">
              <a data-fancybox="gallery" href="https://prototype.metabolismofcities.org/media/photos/DSC00628.large.JPG"><img src="https://prototype.metabolismofcities.org/media/photos/DSC00628.thumbnail.JPG"></a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 single-photo">
              <a data-fancybox="gallery" href="https://prototype.metabolismofcities.org/media/photos/zoek-de-verschillen-1-e1396440591891.large.jpg"><img src="https://prototype.metabolismofcities.org/media/photos/zoek-de-verschillen-1-e1396440591891.thumbnail.jpg"></a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 single-photo">
              <a data-fancybox="gallery" href="https://prototype.metabolismofcities.org/media/photos/IMG_0163.large.JPG"><img src="https://prototype.metabolismofcities.org/media/photos/IMG_0163.thumbnail.JPG"></a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 single-photo">
              <a data-fancybox="gallery" href="https://prototype.metabolismofcities.org/media/photos/31552.large.jpg"><img src="https://prototype.metabolismofcities.org/media/photos/31552.thumbnail.jpg"></a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 single-photo">
              <a data-fancybox="gallery" href="https://prototype.metabolismofcities.org/media/photos/32478.large.jpg"><img src="https://prototype.metabolismofcities.org/media/photos/32478.thumbnail.jpg"></a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 single-photo">
              <a data-fancybox="gallery" href="https://prototype.metabolismofcities.org/media/photos/32334.large.jpg"><img src="https://prototype.metabolismofcities.org/media/photos/32334.thumbnail.jpg"></a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 single-photo">
              <a data-fancybox="gallery" href="https://prototype.metabolismofcities.org/media/photos/IMG_2499.large.JPG"><img src="https://prototype.metabolismofcities.org/media/photos/IMG_2499.thumbnail.JPG"></a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 single-photo">
              <a data-fancybox="gallery" href="https://prototype.metabolismofcities.org/media/photos/IMG_2489.large.JPG"><img src="https://prototype.metabolismofcities.org/media/photos/IMG_2489.thumbnail.JPG"></a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 single-photo">
              <a data-fancybox="gallery" href="https://prototype.metabolismofcities.org/media/photos/south-africa-2267795_960_720.large.jpg"><img src="https://prototype.metabolismofcities.org/media/photos/south-africa-2267795_960_720.thumbnail.jpg"></a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </section>

  {% if datasets %}
  <section id="datasets">
    <div class="row">
      <div class="col-lg-6">
        <h3>Datasets</h3>
      </div>
      <div class="col-lg-6 text-right">
        <div class="section-menu">
          <a onclick="scrollToDiv('info')">General information</a> | Datasets | <a onclick="scrollToDiv('infrastructure')">Infrastructure</a>
        </div>
      </div>
    </div>

    <div id="graph">
      <div class="loading text-center text-2x pad-all mar-top">
        <span class="mar-top pad-all">Loading graph</span>
        <i class="fas fa-cog fa-spin mar-top"></i>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th width="300">Name</th>
          <th>Coverage</th>
          {% if False %}
          <th></th>
          <th>Smallest scale</th>
          {% endif %}
          <th>Upload</th>
        </tr>
      </thead>
    {% for details in datasets %}
      <tr>
        <td><a href="{% url 'multiplicity:dataset' info.slug details.id %}">{{ details.name }}</a></td>
        <td>{{ details.timeframe.start }} - {{ details.timeframe.end }}</td>
        <td>
          {% for material in details.materials %}
            {{ material.name }}
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
    </table>
  </section>
  {% endif %}

  {% if spaces %}
  <section id="infrastructure">
    <div class="row">
      <div class="col-lg-6">
        <h3>Infrastructure</h3>
      </div>
      <div class="col-lg-6 text-right">
        <div class="section-menu">
          <a onclick="scrollToDiv('info')">General information</a> | <a onclick="scrollToDiv('datasets')">Datasets</a> | Infrastructure
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div id="map">
          {% include 'multiplicity/includes/map.html' %}
        </div>
        <a class="btn btn-dark" onclick="showOneGroup(inland)">Filter markers 1</a>
        <a class="btn btn-dark" onclick="showOneGroup(coast)">Filter markers 2</a>
        <a class="btn btn-dark" onclick="showOneGroup(more)">Filter markers 3</a>
        <a class="btn btn-dark" onclick="removeAllGroups()">Remove them</a>
        <a class="btn btn-dark" onclick="showAllGroups()">Show all</a>
      </div>
      <div class="col-lg-6 col-panels">
        {% if types %}
          {% for details in types %}
            {% if details.total %}
            <div class="panel">
              <div class="row flex flex-wrap">
                <div class="col-lg-4">
                  <img class="img-responsive" src="{% get_static_prefix %}multiplicity/img/space_types/{{ details.slug }}.jpg" alt="">
                </div>
                <div class="col-lg-8 pad-all">
                  <h3>{{ details.name }}</h3>
                  <p>
                    {{ details.total }} records</a> found
                    <img class="marker" src="{% get_static_prefix %}multiplicity/img/markers/marker.{{ details.marker_color }}.png" alt="" />
                  </p>
                  <a class="btn btn-dark" onclick="showInfrastructure('{{ details.title }}')">Show more</a>
                </div>
              </div>

            </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </section>
  {% endif %}
</article>


{% if request.user.is_staff %}
  <div class="panel panel-colorful panel-success">
    <div class="panel-body">
      <h3>Admin options</h3>
      <ul>
        <li><a href="{% url 'multiplicity:information_form' info.slug %}">Add information</a></li>
        <li><a href="{% url 'multiplicity:admin_data_overview' info.slug %}">City admin page</a></li>
      </ul>
    </div>
  </div>
{% endif %}

{% endblock %}

{% block head %}
<script src="{% static 'ie/js/highcharts.js' %}"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/streamgraph.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/treemap.js"></script>
<script src="https://code.highcharts.com/modules/sankey.js"></script>

{% include 'multiplicity/graphs/options.html' %}
{% include 'multiplicity/graphs/series.time.html' %}
{% include 'multiplicity/graphs/series.column.html' %}
{% include 'multiplicity/graphs/series.drill.html' %}

{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">

  <div id="page-title">
    <h1 class="page-header text-overflow">{{ info.name }}</h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="./"><i class="pli-home"></i></a></li>
    <li><a href="{% url 'multiplicity:index' %}">Cities</a></li>
    <li><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a></li>
    <li><a href="{% url 'multiplicity:map_home' info.slug %}">Maps</a></li>
    <li class="active">Boundaries</li>
  </ol>

</div>
{% endblock %}

{% block footer %}
  <script>
    function showSubSector(subSectorTitle){
      $(".subsector-panels").slideUp();
      $(".back-subsectors").show();
      $(".single-subsector-content").hide();
      $(".single-subsector-content").each(function() {
        if ($(this).attr("subsector") == subSectorTitle) {
          $(this).fadeIn();
        }
      });
      scrollToDiv("sector-title");
    };

    function backSubsectors() {
      $(".subsector-panels").slideDown();
      $(".single-subsector-content").hide();
      $(".back-subsectors").hide();
    };

    // smooth scroll to an element on the page
    function scrollToDiv(id){
      $('html,body').animate({
       scrollTop: $("#" + id).offset().top - 20
      }, 'slow');
    }

    // map same height as panel column
    $( window ).on( "load", function() {
      var infrastructurePanelsHeight = $(".col-panels").height();
      $("#map").height(infrastructurePanelsHeight - 20);
      leafletMap.invalidateSize();
    })
  </script>

  <script type="text/javascript">
  $(function(){
    url = '/cities/cape-town/datasets/16/graph/4';
    $("#graph").load(url);
  });
  </script>

{% endblock %}
