{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ sector.name }} | {{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="panel">
  <div class="panel-body">

    <h2>{{ sector.name }}</h2>
    {% for details in information %}
      <h3>{{ details.title }}</h3>
      {{ details.content|safe }}
    {% endfor %}
  </div>
</div>

{% if request.user.is_staff %}
  <div class="panel panel-colorful panel-success">
    <div class="panel-body">
      <h3>Admin options</h3>
      <ul>
        <li><a href="{% url 'multiplicity:information_form' info.slug %}">Add information</a></li>
        <li><a href="{% url 'multiplicity:admin_data_overview' info.slug %}">City admin page</a></li>
      </ul>
    </div>
  </div>
{% endif %}

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">{{ info.name }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'multiplicity:index' %}">Cities</a></li>
        <li><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a></li>
        <li><a href="{% url 'multiplicity:map_home' info.slug %}">Maps</a></li>
        <li class="active">Boundaries</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
