<ul id="mainnav-menu" class="list-group">

  {% if page == 'taskforces' %}

    <li class="list-header">Task Forces</li>
    {% for details in taskforces %}
    <li{% if info.id == details.id %} class="active-sub"{% endif %}><a href="{% url 'core:taskforce' details.slug %}">{{ details.name }}</a></li>
    {% endfor %}

  {% endif %}
  {% if section == "data" %}
    <li class="list-header">Data</li>
    <li{% if menu == "index" %} class="active-sub"{% endif %}><a href="{% url 'staf:index' %}">About</a></li>
    <li{% if menu == "materials" %} class="active-sub"{% endif %}><a href="{% url 'staf:materials' %}">Material tree</a></li>
    <li{% if menu == "processes" %} class="active-sub"{% endif %}><a href="{% url 'staf:processes' %}">Process tree</a></li>
  {% elif section == "literature" %}
    <li class="list-header">Literature</li>
    <li{% if page == "publications" %} class="active-sub"{% endif %}><a href="{% url 'core:references' %}">Publications</a></li>
    <li{% if page == "journals" %} class="active-sub"{% endif %}><a href="{% url 'core:journals' %}">Journals</a></li>
    <li{% if page == "events" %} class="active-sub"{% endif %}><a href="{% url 'core:events' %}">Events</a></li>
    <li{% if page == "publishers" %} class="active-sub"{% endif %}><a href="{% url 'core:publishers' %}">Publishers</a></li>
  {% elif section == "more" %}
    <li class="list-header">More</li>
    <li{% if page == "videos" %} class="active-sub"{% endif %}><a href="{% url 'core:videos' %}">Videos</a></li>
    <li{% if page == "blog" %} class="active-sub"{% endif %}><a href="{% url 'core:blog' %}">Blog</a></li>
    <li{% if page == "news" %} class="active-sub"{% endif %}><a href="{% url 'core:news' %}">News</a></li>
  {% elif section == "cities" and info.id %}

  <li class="list-header">Materials</li>

  <li{% if menu == "dashboard" %} class="active-sub"{% endif %}><a href="{% url 'multiplicity:city' info.slug %}">
  <i class="fal fa-home fa-fw"></i>
      <span class="menu-title">
          Overview
      </span>
  </a>
  </li>

  <li>
      <a href="./">
        <i class="far fa-fw fa-exchange fa-fw"></i>
        <span class="menu-title">Material flows</span> <i class="arrow"></i>
      </a>

      <ul class="collapse {% if menu == "material-flows" %}in{% endif %}">
          <li{% if page == "external" %} class="active"{% endif %}><a href="{% url 'multiplicity:overview_flows' info.slug 'external' %}">External flows</a></li>
          <li{% if page == "internal" %} class="active"{% endif %}><a href="{% url 'multiplicity:overview_flows' info.slug 'internal' %}">Internal flows</a></li>
      </ul>
  </li>

  <li>
      <a href="./">
        <i class="fal fa-building fa-fw"></i>
        <span class="menu-title">Material stocks</span> <i class="arrow"></i>
      </a>

      <ul class="collapse {% if menu == "material-stocks" %}in{% endif %}">
          <li{% if page == "material-stocks" %} class="active"{% endif %}><a href="{% url 'multiplicity:overview_stocks' info.slug %}">Overview</a></li>
          <li{% if page == "aaaa" %} class="active"{% endif %}><a href="{% url 'multiplicity:overview_stocks' info.slug %}">Buildings</a></li>
          <li{% if menu == "materials" %} class="active"{% endif %}><a href="/">Roads</a></li>
          <li{% if menu == "materials" %} class="active"{% endif %}><a href="/">Vehicles</a></li>
          <li{% if menu == "materials" %} class="active"{% endif %}><a href="/">Other</a></li>
      </ul>
  </li>

  <li{% if menu == "infrastructure" %} class="active-sub"{% endif %}>
      <a href="#">
          <i class="fal fa-industry fa-fw"></i>
          <span class="menu-title">Infrastructure</span>
          <i class="arrow"></i>
      </a>

      <ul class="collapse {% if menu == "infrastructure" %}in{% endif %}">
        {% for details in topics %}
          <li{% if menu == "infrastructure" and topic == details %} class="active"{% endif %}><a href="{% url 'multiplicity:infrastructure_list' info.slug details.slug %}">{{ details.name }}</a></li>
        {% endfor %}
      </ul>
  </li>

  <li{% if menu == "materials" %} class="active-sub"{% endif %}>
      <a href="./">
        <i class="fal fa-user-friends fa-fw"></i>
        <span class="menu-title">Socio-economic</span> <i class="arrow"></i>
      </a>

      <ul class="collapse {% if flubber == details and menu == "materials" %}in{% endif %}">
          <li{% if menu == "materials" %} class="active"{% endif %}><a href="/">Population</a></li>
          <li{% if menu == "materials" %} class="active"{% endif %}><a href="/">Income</a></li>
      </ul>
  </li>

  <li{% if menu == "materials" %} class="active-sub"{% endif %}>
      <a href="./">
        <i class="fal fa-tree-alt fa-fw"></i>
        <span class="menu-title">Environment</span> <i class="arrow"></i>
      </a>

      <ul class="collapse {% if flubber == details and menu == "materials" %}in{% endif %}">
          <li{% if menu == "materials" %} class="active"{% endif %}><a href="/">Land use</a></li>
          <li{% if menu == "materials" %} class="active"{% endif %}><a href="/">Biodiversity</a></li>
          <li{% if menu == "materials" %} class="active"{% endif %}><a href="/">Climate</a></li>
      </ul>
  </li>

  <li>
      <a href="{% url 'multiplicity:map_home' info.slug %}">
          <i class="fal fa-map fa-fw"></i>
          <span class="menu-title">Maps</span>
          <i class="arrow"></i>
      </a>

      <ul class="collapse  {% if menu == "maps" %}in{% endif %}">
          <li {% if page == "boundaries" %} class="active-link"{% endif %}><a href="{% url 'multiplicity:map_home' info.slug %}">Boundaries</a></li>
          <li {% if page == "satellite" %} class="active-link"{% endif %}><a href="{% url 'multiplicity:map' info.slug 'satellite' %}">Satellite</a></li>
      </ul>
  </li>

  <li{% if menu == "research" %} class="active-sub"{% endif %} class="hide">
      <a href="#">
          <i class="pli-books"></i>
          <span class="menu-title">Community</span>
          <i class="arrow"></i>
      </a>

      <ul class="collapse {% if menu == "research" %}in{% endif %}">
          <li><a href="/{{ info.link }}/research">Overview</a></li>
          <li{% if page == "overview" %} class="active-link"{% endif %}><a href="{% url 'multiplicity:research' info.slug %}">Academic Literature</a></li>
          <li><a href="/{{ info.link }}/research/reports">Reports</a></li>
          <li><a href="/{{ info.link }}/research/universities">Universities</a></li>
          <li><a href="/{{ info.link }}/research/projects">Research Projects</a></li>
      </ul>
  </li>

  <li{% if menu == "resources" %} class="active-sub"{% endif %}>
      <a href="#">
        <i class="fal fa-file fa-fw"></i>
        <span class="menu-title">Resources</span>
        <i class="arrow"></i>
      </a>

      <ul class="collapse {% if menu == "resources" %}in{%endif %}">
          <li {% if page == "datasets" %} class="active" {% endif %}><a href="{% url 'multiplicity:datasets' info.slug %}">Datasets</a></li>
          <li {% if page == "journalarticles" %} class="active" {% endif %}><a href="{% url 'multiplicity:photos' info.slug %}">Journal articles</a></li>
          <li {% if page == "reports" %} class="active" {% endif %}><a href="{% url 'multiplicity:datasets' info.slug %}">Reports</a></li>
          <li {% if page == "theses" %} class="active" {% endif %}><a href="{% url 'multiplicity:datasets' info.slug %}">Theses</a></li>
          <li {% if page == "videos" %} class="active" {% endif %}><a href="{% url 'multiplicity:datasets' info.slug %}">Videos</a></li>
          <li {% if page == "photos" %} class="active" {% endif %}><a href="{% url 'multiplicity:photos' info.slug %}">Photos</a></li>
      </ul>
  </li>

  <li{% if menu == "upload" %} class="active-sub"{% endif %}><a href="{% url 'multiplicity:upload' info.slug %}">
  <i class="fal fa-upload fa-fw"></i>
      <span class="menu-title">
          Upload data
      </span>
  </a>
  </li>
  {% endif %}

</ul>
