<ul id="mainnav-menu" class="list-group">

  {% if page == 'taskforces' %}

    <li class="list-header">Task Forces</li>
    {% for details in taskforces %}
    <li{% if info.id == details.id %} class="active-sub"{% endif %}><a href="{% url 'core:taskforce' details.slug %}">{{ details.name }}</a></li>
    {% endfor %}

  {% endif %}
  {% if section == "data" %}
    <li class="list-header">Data</li>
    <li{% if menu == "index" %} class="active-sub"{% endif %}><a href="{% url 'staf:index' %}">About</a></li>
    <li{% if menu == "materials" %} class="active-sub"{% endif %}><a href="{% url 'staf:materials' %}">Material tree</a></li>
    <li{% if menu == "processes" %} class="active-sub"{% endif %}><a href="{% url 'staf:processes' %}">Process tree</a></li>
  {% elif section == "literature" %}
    <li class="list-header">Literature</li>
    <li{% if page == "publications" %} class="active-sub"{% endif %}><a href="{% url 'core:references' %}">Publications</a></li>
    <li{% if page == "journals" %} class="active-sub"{% endif %}><a href="{% url 'core:journals' %}">Journals</a></li>
    <li{% if page == "events" %} class="active-sub"{% endif %}><a href="{% url 'core:events' %}">Events</a></li>
    <li{% if page == "publishers" %} class="active-sub"{% endif %}><a href="{% url 'core:publishers' %}">Publishers</a></li>
  {% elif section == "more" %}
    <li class="list-header">More</li>
    <li{% if page == "videos" %} class="active-sub"{% endif %}><a href="{% url 'core:videos' %}">Videos</a></li>
    <li{% if page == "blog" %} class="active-sub"{% endif %}><a href="{% url 'core:blog' %}">Blog</a></li>
    <li{% if page == "news" %} class="active-sub"{% endif %}><a href="{% url 'core:news' %}">News</a></li>
  {% elif section == "cities" and info.id %}

  <li class="list-header">{{ info.name }}</li>

  {% if SITE_ID == 1 %}

  <li{% if menu == "dashboard" %} class="active-sub"{% endif %}><a href="{% url 'multiplicity:city' info.slug %}">
  <i class="fal fa-home fa-fw"></i>
      <span class="menu-title">
          Overview
      </span>
  </a>
  </li>

  {% else %}

  <li {% if menu == "profile" %} class="active-sub"{% endif %}>
      <a href="/">
        <i class="fal fa-user-friends fa-fw"></i>
        <span class="menu-title">Overview</span> <i class="arrow"></i>
      </a>

      <ul class="collapse {% if menu == "profile" %}in{% endif %}">
          <li{% if page == "demographics" %} class="active"{% endif %}><a href="{% url 'multiplicity:topic' info.slug 'demographics' %}">Demographics</a></li>
          <li{% if page == "economy" %} class="active"{% endif %}><a href="{% url 'multiplicity:topic' info.slug 'economy' %}">Economy</a></li>
          <li{% if page == "environment" %} class="active"{% endif %}><a href="{% url 'multiplicity:topic' info.slug 'environment' %}">Environment</a></li>
      </ul>
  </li>

  {% endif %}

  <li{% if menu == "infrastructure" %} class="active-sub"{% endif %}>
      <a href="#">
          <i class="fal fa-industry fa-fw"></i>
          <span class="menu-title">Sectors</span>
          <i class="arrow"></i>
      </a>

      <ul class="collapse {% if menu == "sectors" %}in{% endif %}">
        {% for details in info.sectors.all %}
            <li{% if menu == "sectors" and sector == details.process_group %} class="active"{% endif %}><a href="{% url 'multiplicity:sector' info.slug details.process_group.slug %}">{{ details.process_group.name }}</a></li>
        {% endfor %}
      </ul>
  </li>

{% if SITE_ID == 1 %}

  <li style="display:none">
      <a href="/">
        <i class="far fa-fw fa-exchange fa-fw"></i>
        <span class="menu-title">Material flows</span> <i class="arrow"></i>
      </a>

      <ul class="collapse {% if menu == "flows" %}in{% endif %}">
          <li{% if menu == "flows" and page == "biomass" %} class="active"{% endif %}><a href="{% url 'multiplicity:flows' info.slug 'biomass' %}">Biomass</a></li>
          <li{% if page == "fossil-fuels" %} class="active"{% endif %}><a href="{% url 'multiplicity:flows' info.slug 'fossil-fuels' %}">Fossil fuels</a></li>
          <li{% if menu == "flows" and page == "metals" %} class="active"{% endif %}><a href="{% url 'multiplicity:flows' info.slug 'metals' %}">Metals</a></li>
          <li{% if menu == "flows" and page == "minerals" %} class="active"{% endif %}><a href="{% url 'multiplicity:flows' info.slug 'minerals' %}">Minerals</a></li>
          <li{% if page == "water" %} class="active"{% endif %}><a href="{% url 'multiplicity:flows' info.slug 'water' %}">Water</a></li>
          <li{% if page == "waste" %} class="active"{% endif %}><a href="{% url 'multiplicity:flows' info.slug 'waste' %}">Waste</a></li>
          <li{% if page == "emissions" %} class="active"{% endif %}><a href="{% url 'multiplicity:flows' info.slug 'emissions' %}">Emissions</a></li>
      </ul>
  </li>

  {% if False %}
  <li>
      <a href="/">
        <i class="far fa-fw fa-bolt fa-fw"></i>
        <span class="menu-title">Energy flows</span> <i class="arrow"></i>
      </a>

      <ul class="collapse {% if menu == "energy" %}in{% endif %}">
          <li{% if page == "electricity" %} class="active"{% endif %}><a href="{% url 'multiplicity:energy_flows' info.slug 'electricity' %}">Electricity</a></li>
          <li{% if page == "fossil-fuels" %} class="active"{% endif %}><a href="{% url 'multiplicity:energy_flows' info.slug 'fossil-fuels' %}">Fossil fuels</a></li>
          <li{% if page == "renewables" %} class="active"{% endif %}><a href="{% url 'multiplicity:energy_flows' info.slug 'renewables' %}">Renewables</a></li>
          <li{% if page == "nuclear" %} class="active"{% endif %}><a href="{% url 'multiplicity:energy_flows' info.slug 'nuclear' %}">Nuclear energy</a></li>
      </ul>
  </li>
  {% endif %}

  <li style="display:none">
      <a href="/">
        <i class="fal fa-building fa-fw"></i>
        <span class="menu-title">Material stocks</span> <i class="arrow"></i>
      </a>

      <ul class="collapse {% if menu == "stocks" %}in{% endif %}">
          <li{% if menu == "stocks" and page == "biomass" %} class="active"{% endif %}><a href="{% url 'multiplicity:stocks' info.slug 'biomass' %}">Biomass</a></li>
          <li{% if menu == "stocks" and page == "metals" %} class="active"{% endif %}><a href="{% url 'multiplicity:stocks' info.slug 'metals' %}">Metals</a></li>
          <li{% if menu == "stocks" and page == "minerals" %} class="active"{% endif %}><a href="{% url 'multiplicity:stocks' info.slug 'minerals' %}">Minerals</a></li>
      </ul>
  </li>

  <li {% if menu == "profile" %} class="active-sub"{% endif %}>
      <a href="/">
        <i class="fal fa-user-friends fa-fw"></i>
        <span class="menu-title">City profile</span> <i class="arrow"></i>
      </a>

      <ul class="collapse {% if menu == "profile" %}in{% endif %}">
          <li{% if page == "demographics" %} class="active"{% endif %}><a href="{% url 'multiplicity:topic' info.slug 'demographics' %}">Demographics</a></li>
          <li{% if page == "economy" %} class="active"{% endif %}><a href="{% url 'multiplicity:topic' info.slug 'economy' %}">Economy</a></li>
          <li{% if page == "environment" %} class="active"{% endif %}><a href="{% url 'multiplicity:topic' info.slug 'environment' %}">Environment</a></li>
          <li{% if page == "climate" %} class="active"{% endif %}><a href="{% url 'multiplicity:topic' info.slug 'climate' %}">Climate</a></li>
      </ul>
  </li>

  <li{% if menu == "resources" %} class="active-sub"{% endif %}>
      <a href="#">
        <i class="fal fa-file fa-fw"></i>
        <span class="menu-title">Resources</span>
        <i class="arrow"></i>
      </a>

      <ul class="collapse {% if menu == "resources" %}in{%endif %}">
          <li {% if page == "datasets" %} class="active" {% endif %}><a href="{% url 'multiplicity:datasets' info.slug %}">Datasets</a></li>
          <li {% if page == "maps" %} class="active-link"{% endif %}><a href="{% url 'multiplicity:map' info.slug %}">Maps</a></li>
          <li {% if menu == "resources" and type.id == 16 %} class="active" {% endif %}><a href="{% url 'multiplicity:resources' info.slug 'journal-articles' %}">Journal articles</a></li>
          <li {% if menu == "resources" and type.id == 27 %} class="active" {% endif %}><a href="{% url 'multiplicity:resources' info.slug 'reports' %}">Reports</a></li>
          <li {% if menu == "resources" and type.id == 29 %} class="active" {% endif %}><a href="{% url 'multiplicity:resources' info.slug 'theses' %}">Theses</a></li>
          <li {% if page == "photos" %} class="active" {% endif %}><a href="{% url 'multiplicity:photos' info.slug %}">Photos</a></li>
      </ul>
  </li>

{% else %}

  <li{% if menu == "resources" %} class="active-sub"{% endif %}>
      <a href="#">
        <i class="fal fa-file fa-fw"></i>
        <span class="menu-title">Resources</span>
        <i class="arrow"></i>
      </a>

      <ul class="collapse {% if menu == "resources" %}in{%endif %}">
          <li {% if page == "datasets" %} class="active" {% endif %}><a href="{% url 'multiplicity:datasets' info.slug %}">Datasets</a></li>
          <li {% if page == "maps" %} class="active-link"{% endif %}><a href="{% url 'multiplicity:map' info.slug %}">Maps</a></li>
          <li {% if menu == "resources" and type.id == 16 %} class="active" {% endif %}><a href="{% url 'multiplicity:resources' info.slug 'journal-articles' %}">Academic publications</a></li>
          <li {% if menu == "resources" and type.id == 27 %} class="active" {% endif %}><a href="{% url 'multiplicity:resources' info.slug 'reports' %}">Reports</a></li>
          <li {% if page == "videos" %} class="active" {% endif %}><a href="{% url 'multiplicity:photos' info.slug %}">Videos</a></li>
          <li {% if page == "photos" %} class="active" {% endif %}><a href="{% url 'multiplicity:photos' info.slug %}">Photos</a></li>
          <li {% if menu == "resources" and type.id == 24 %} class="active" {% endif %}><a href="{% url 'multiplicity:resources' info.slug 'podcasts' %}">Podcasts</a></li>
          <li {% if menu == "resources" and type.id == 25 %} class="active" {% endif %}><a href="{% url 'multiplicity:resources' info.slug 'presentations' %}">Presentations</a></li>
      </ul>
  </li>

{% endif %}

  <li{% if menu == "upload" %} class="active-sub"{% endif %}><a href="{% url 'multiplicity:upload' info.slug %}">
  <i class="fal fa-upload fa-fw"></i>
      <span class="menu-title">
          Upload
      </span>
  </a>
  </li>

  {% if False %}
    <li{% if menu == "download" %} class="active-sub"{% endif %}><a href="{% url 'multiplicity:download' info.slug %}">
    <i class="fal fa-download fa-fw"></i>
        <span class="menu-title">
            Download
        </span>
    </a>
    </li>
  {% endif %}
{% endif %}

</ul>
