{% extends 'multiplicity/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}{{ space.name }} | {{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head floating-style{% endblock %}

{% block content %}
{% include 'multiplicity/includes/top.navbar.html' %}

{% if space.location.lat %}
<div class="panel padding10">

  <div class="panel-content">
    <div class="row">
      <div class="col-lg-6">
        <div id="map"></div>
      </div>
      <div class="col-lg-6">
        <div id="sat"></div>
      </div>
    </div>
  </div>

  <div class="panel-title">
    <p>Map and satellite image of <strong>{{ space.name }}</strong>.</p>
  </div>

</div>
{% endif %}


<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-body">
      <div class="fixed-fluid">

        <div class="fixed-md-200 pull-sm-left fixed-right-border">

          <div class="text-center">
              <div class="pad-ver">
                {% if False %}
                  <img src="{% static 'multiplicity/img/icons/wwtp.png' %}" class="img-lg img-circle" alt="Profile Picture">
                {% endif %}
              </div>
              <h4 class="text-lg text-overflow mar-no">{{ space.name }}</h4>
              <p class="text-sm text-muted">{{ space.type.name }}</p>

              {% if data_out or data_out %}
                <a href="" class="btn btn-block btn-success btn-lg">Download Data</a>
              {% endif %}
          </div>
          <hr>

          <dl class="dl featureslist">

            <dt>City</dt>
            <dd><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a> </dd>
          {% for details in feature_list %}

              <dt>
              {{ details.feature.name }}
              </dt>
              <dd>
              {% if details.feature.unit %}
                {{ details.value|intcomma }} {{ details.feature.unit.symbol }}
              {% else %}
                {{ details.value }}
              {% endif %}
              </dd>

          {% endfor %}

          </dl>

          {% if space.url %}
            <p><a href="{{ space.url }}" class="btn btn-info">Website</a></p>
          {% endif %}

      </div>

      <div class="fluid">

          <div class="text-right">
              <button class="btn btn-sm btn-primary">Report Error</button>
              <button class="btn btn-sm btn-primary">Ask Question</button>
              <a class="btn btn-sm btn-success" href="{% url 'multiplicity:upload_flow_file' info.slug 5 %}">Add Missing Data</a>
          </div>

          {% if space.description %}
            <h3>Description</h3>
            <p>{{ space.description|linebreaksbr }}</p>
          {% endif %}

          {% if data_out %}
          <h3>Data</h3>

          <canvas id="data_out" width="400" height="200"></canvas>

          <h3>Data</h3>

          <table class="table table-striped datatable">
            <thead>
              <tr>
                <th>Time period</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
              {% for details in data_out %}
                <tr>
                  <td data-sort="{{ details.timeframe.start|date:"Y-m-d" }}">{{ details.timeframe.name }}</td>
                  <td>{{ details.quantity|intcomma }} {{ details.unit.symbol }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          {% elif data_in %}

          {% if data_in.count > 1 %}
            <h3>Graph</h3>
            <canvas id="data_in" width="400" height="200"></canvas>
          {% endif %}

          <h3>Data</h3>

          <table class="table table-striped datatable">
            <thead>
              <tr>
                <th>Time period</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
              {% for details in data_in %}
                <tr>
                  <td data-sort="{{ details.timeframe.start|date:"Y-m-d" }}">{{ details.timeframe.name }}</td>
                  <td>{{ details.quantity|intcomma }} {{ details.unit.symbol }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          {% else %}

          <img src="{% static 'multiplicity/img/cloud.svg' %}" alt="" height="300" />
          <div class="alert alert-warning">
            No data is available yet. <a href="{% url 'multiplicity:upload_flow_file' info.slug 5 %}">Contribute data</a>
          </div>

          {% endif %}

          <p><a href="{% url 'multiplicity:space_list' info.slug type.topic.slug type.slug %}" class="btn btn-success">Back to overview</a></p>

      </div>

      </div>

    </div>
  </div>
</div>

{% if photos %}

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-body">
        <h3>Photos</h3>

          {% include 'multiplicity/includes/photos.html' %}

      </div>
    </div>
  </div>

{% endif %}



<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-body">
      <h3>Log</h3>
      <table class="table table-striped datatable">
        <thead>
          <tr>
            <th>Date</th>
            <th>Contributor</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for details in log %}
            <tr>
              <td>{{ details.date|date }}</td>
              <td>{{ details.user.first_name }} {{ details.user.last_name }}</td>
              <td>{{ details.action.name }}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
<style type="text/css">
#sat,#map{height:500px;border:1px solid #ccc}
#chart{height:400px}
dl.featureslist dd{margin-bottom:20px}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">

    <div id="page-title">
        <h1 class="page-header text-overflow">{{ space.name }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'multiplicity:index' %}">Cities</a></li>
        <li><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a></li>
        <li><a href="{% url 'multiplicity:infrastructure_list' info.slug type.topic.slug %}">{{ type.topic.name }}</a></li>
        <li><a href="{% url 'multiplicity:space_list' info.slug type.topic.slug space.type.slug %}">{{ space.type.name }}</a></li>
        <li class="active">{{ space.name }}</li>
    </ol>

</div>
{% endblock %}

{% block footer %}
  {% if data_out %}
    <script>

    var ctx = document.getElementById("data_out");
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for details in data_out %}"{{ details.timeframe.name }}", {% endfor %}],
            datasets: [{
                label: 'ML/month',
                data: [{% for details in data_out %}{{ details.quantity }},{% endfor %}],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    </script>
  {% endif %}
  {% if data_in %}
    <script>

    var ctx = document.getElementById("data_in");
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for details in data_in %}"{{ details.timeframe.name }}", {% endfor %}],
            datasets: [{
                label: 'ML/month',
                data: [{% for details in data_in %}{{ details.quantity }},{% endfor %}],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    </script>
  {% endif %}
  {% if space.location %}
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
    <script type="text/javascript">

      var mymap = L.map('map').setView([{{ space.location.lat }}, {{ space.location.lng }}], 11);

      {% include 'multiplicity/includes/markers.html' %}

      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ MAPBOX_API_KEY }}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="http://mapbox.com">Mapbox</a>',
        id: 'mapbox.streets'
      }).addTo(mymap);

      {% if space.location.lat %}
              L.marker([{{ space.location.lat }}, {{space.location.lng }}], {icon:{{ space.type.marker_color }}marker}).addTo(mymap);
      {% endif %}

		var satmap = L.map('sat').setView([{{ space.location.lat }}, {{ space.location.lng }}], 16);
		L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ MAPBOX_API_KEY }}', {
      id: 'mapbox.satellite'
		}).addTo(satmap);
        mymap.scrollWheelZoom.disable();
        satmap.scrollWheelZoom.disable();
    </script>
  {% endif %}
{% endblock %}
