{% extends 'multiplicity/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}{{ space.name }} | {{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head floating-style{% endblock %}

{% block content %}

{% if space.location.lat or space.location.geojson %}
<div class="panel padding10">

  <div class="panel-content">
    <div class="row">
      <div class="col-lg-6">
        <div id="map"></div>
      </div>
      <div class="col-lg-6">
        <div id="sat"></div>
      </div>
    </div>
  </div>

  <div class="panel-title">
    <p>Map and satellite image of <strong>{{ space.name }}</strong>.</p>
  </div>

</div>
{% endif %}


<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-body">
      <div class="fixed-fluid">

        <div class="fixed-md-400 pull-sm-left fixed-right-border">

          <dl class="dl featureslist">

            <dt>{{ SYSTEM|title }}</dt>
            <dd><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a> </dd>
          {% for details in feature_list %}

              <dt>
              {{ details.feature.name }}
              </dt>
              <dd>
              {% if details.feature.unit %}
                {{ details.value|intcomma }} {{ details.feature.unit.symbol }}
              {% else %}
                {{ details.value }}
              {% endif %}
              </dd>

          {% endfor %}

          </dl>

          {% if space.url %}
            <p><a href="{{ space.url }}" class="btn btn-info">Website</a></p>
          {% endif %}

      </div>

      <div class="fluid">

          <div class="text-center">
              <div class="pad-ver">
                {% if False %}
                  <img src="{% static 'multiplicity/img/icons/wwtp.png' %}" class="img-lg img-circle" alt="Profile Picture">
                {% endif %}
              </div>
              <h4 class="text-lg text-overflow mar-no">{{ space.name }}</h4>
              <p class="text-sm text-muted">{{ space.type.name }}</p>

              {% if data_out or data_out %}
                <a href="" class="btn btn-block btn-success btn-lg">Download Data</a>
              {% endif %}
          </div>
          <hr>


          <div class="text-right">
              <a href="{% url 'core:contact' %}?report=error" class="btn btn-sm btn-primary">Report Error</a>
              <a href="{% url 'core:contact' %}" class="btn btn-sm btn-primary">Ask Question</a>
              <a class="btn btn-sm btn-success" href="{% url 'multiplicity:upload_flow_file' info.slug 5 %}">Add Missing Data</a>
          </div>

          {% if space.description %}
            <h3>Description</h3>
            <p>{{ space.description|linebreaksbr }}</p>
          {% endif %}


          <p><a href="{% url 'multiplicity:space_list' info.slug type.slug %}" class="btn btn-success">Back to list: {{ type }}</a></p>

      </div>

      </div>

    </div>
  </div>
</div>


<section id="datasets">

  {% if datasets %}

    <div id="graph">
      <div class="loading text-center text-2x pad-all mar-top">
        <span class="mar-top pad-all">Loading graph</span>
        <i class="fas fa-cog fa-spin mar-top"></i>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th width="300">Dataset</th>
          <th>Coverage</th>
          <th>Options</th>
        </tr>
      </thead>
      {% for details in datasets %}
        <tr>
          <td><a href="{% url 'multiplicity:dataset' info.slug details.id %}">{{ details.name }}</a></td>
          <td>{{ details.timeframe.start }} - {{ details.timeframe.end }}</td>
          <td><a class="btn btn-sm btn-mint" data-id="{{ details.id }}" data-graph="{{ details.graph.id|default:4 }}" onclick="previewChart({{ details.id }}, {{ details.graph.id|default:4 }}, {{ space.id }})"><i class="far fa-fw fa-chart-bar"></i> Preview chart</a>
          <a class="btn btn-sm btn-primary" href="{% url 'multiplicity:dataset' info.slug details.id %}">View details</a>
          </td>
        </tr>
      {% endfor %}
    </table>


  {% else %}

  <img src="{% static 'multiplicity/img/cloud.svg' %}" alt="" height="300" />
  <div class="alert alert-warning">
    No data is available yet. <a href="{% url 'multiplicity:upload_flow_file' info.slug 5 %}">Contribute data</a>
  </div>

  {% endif %}

</section>

{% if photos or videos %}

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-body">
        <h3>Multimedia</h3>

          {% include 'multiplicity/includes/multimedia.html' %}

      </div>
    </div>
  </div>

{% endif %}

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-body">
      <h3>Log</h3>
      <table class="table table-striped datatable">
        <thead>
          <tr>
            <th>Date</th>
            <th>Contributor</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for details in log %}
            <tr>
              <td>{{ details.date|date }}</td>
              <td>{{ details.user.first_name }} {{ details.user.last_name }}</td>
              <td>{{ details.action.name }}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
<style type="text/css">
#sat,#map{height:500px;border:1px solid #ccc}
dl.featureslist dd{margin-bottom:20px}
div.loading,#graph{height:600px}
div.loading{background:#f4f4f4;border:1px #ccc solid}
</style>

{% if datasets %}

  <script src="{% static 'ie/js/highcharts.js' %}"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/drilldown.js"></script>
  <script src="https://code.highcharts.com/modules/streamgraph.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/treemap.js"></script>
  <script src="https://code.highcharts.com/modules/sankey.js"></script>

  {% include 'multiplicity/graphs/options.html' %}
  {% include 'multiplicity/graphs/series.time.html' %}
  {% include 'multiplicity/graphs/series.column.html' %}
  {% include 'multiplicity/graphs/series.drill.html' %}

{% endif %}

{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">

    <div id="page-title">
        <h1 class="page-header text-overflow">{{ space.name }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="/"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'multiplicity:index' %}">{{ MULTIPLICITY_NAME }}</a></li>
        <li><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a></li>
        <li><a href="{% url 'multiplicity:infrastructure_list' info.slug %}">Infrastructure</a></li>
        <li><a href="{% url 'multiplicity:space_list' info.slug space.type.slug %}">{{ space.type.name }}</a></li>
        <li class="active">{{ space.name }}</li>
    </ol>

</div>
{% endblock %}

{% block footer %}
  {% if datasets %}
    <script type="text/javascript">
    function scrollToDiv(id){
      $('html,body').animate({
       scrollTop: $("#" + id).offset().top - 20
      }, 'slow');
    }
    function previewChart(id, type, space){
      $("#graph").html("<div class='fullcenter loading text-center text-2x pad-all mar-top'><span class='mar-top pad-all'>Loading graph</span><i class='fas fa-cog fa-spin mar-top'></i></div>");
      url = '/cities/{{ info.slug }}/datasets/' + id + '/graph/' + type + '/space/' + space;
      $("#graph").load(url);
    };

    // make clicked button active, scroll to top of chart
    $("#datasets .table a.btn").on("click", function() {
      $("#datasets .table a.btn").removeClass("active");
      $(this).addClass("active");
      scrollToDiv("datasets");
    });

      // We want the first dataset to start loading so we check the ID and type and load this
      first_dataset = $("#datasets table tr:first-child a.btn-mint");
      first_dataset.addClass("active");
      previewChart(first_dataset.data("id"), first_dataset.data("graph"), {{ space.id }});
  </script>
  {% endif %}
  {% if space.location %}
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
    <script type="text/javascript">

      {% if space.location.lat %}
        var map = L.map('map').setView([{{ space.location.lat }}, {{ space.location.lng }}], 11);
        var satmap = L.map('sat').setView([{{ space.location.lat }}, {{ space.location.lng }}], 16);
      {% else %}
        var map = L.map('map');
        var satmap = L.map('sat');
        var geojson = {{ space.location.geojson|safe }};
        var geojsonlayer = L.geoJSON(geojson).addTo(map);
        var geojsonlayersat = L.geoJSON(geojson,{color: 'red',fillOpacity:0}).addTo(satmap);
      {% endif %}

      {% include 'multiplicity/includes/markers.html' %}

      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ MAPBOX_API_KEY }}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="http://mapbox.com">Mapbox</a>',
        id: 'mapbox.streets'
      }).addTo(map);

      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ MAPBOX_API_KEY }}', {
        id: 'mapbox.satellite'
      }).addTo(satmap);

      {% if space.location.lat %}
        L.marker([{{ space.location.lat }}, {{space.location.lng }}], {icon:{{ space.type.marker_color }}marker}).addTo(map);
      {% endif %}

      map.scrollWheelZoom.disable();
      satmap.scrollWheelZoom.disable();

      {% if space.location.geojson %}
        map.fitBounds(geojsonlayer.getBounds());
        satmap.fitBounds(geojsonlayersat.getBounds());
      {% endif %}

    </script>
  {% endif %}
{% endblock %}
