{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

  <div class="panel">
    <div class="panel-body">
      <h3>{{ topic.name }}</h3>
      {% if information %}
      {{ information.content|safe }}
      {% endif %}
    </div>
  </div>

  {% if datasets %}
    {% include 'multiplicity/includes/datasetlist.html' %}
  {% endif %}

    <div class="panel panel-colorful panel-success">
      <div class="panel-body">
        <h3>Admin panel</h3>
        <p><a href="{% url 'multiplicity:information_form_topic' info.slug topic.id %}">{% if information %}Edit{% else %}Add{% endif %} information</a></p>
      </div>
    </div>

{% endblock %}

{% block head %}
  {% if datasets %}
    {% include 'multiplicity/includes/charts.head.html' %}
  {% endif %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">{{ info.name }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'multiplicity:index' %}">Cities</a></li>
        <li><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a></li>
        <li class="active">{{ topic.name }}</li>
    </ol>

</div>
{% endblock %}

{% block footer %}
  {% if datasets %}
    {% include 'multiplicity/includes/charts.footer.html' %}
  {% endif %}
{% endblock %}
