
  <div class="col-sm-4">
    <div class="panel">
        <div class="panel-body text-center bg-dark">
            <i class="fas fa-chalkboard-teacher icon-5x"></i>

            <h4 class="text-light">Manuals</h4>
            <p class="text-sm">Learn how to use different parts of the website</p>
        </div>
        <div class="list-group ">
            <a class="list-group-item"
            href="https://docs.google.com/document/d/1mSrNe560Xs3LSTqHW5tRI_zYHxPDKMOJRw6wtvFleAY/edit#heading=h.w33ecwlh0zq7">Reviewing
            publications</a>
        </div>
    </div>
  </div>

