{% load static %}
<div class="panel">

    <p class="alert alert-success nobottommargin">
      <span class="subscribers">
      Subscriber(s):
      {% for member in members %}
        <span class="badge badge-{% if member.type == "instantly" %}info{% elif member.type == "weekly" %}primary{% elif member.type == "daily" %}warning{% endif %}">
        {{ member.user.first_name }}
        </span>
      {% endfor %}
      </span>
        <span class="subscription">
        Manage your subscription:
        {% if subscribed %}
          <a class="pull-right badge badge-danger" href="{% url 'team:topic_subscribe' topic.id 'unsubscribe' %}">Unsubscribe</a>
        {% endif %}
          <a class="pull-right badge badge-primary" href="{% url 'team:topic_subscribe' topic.id 'weekly' %}">Weekly digest</a>
          <a class="pull-right badge badge-warning" href="{% url 'team:topic_subscribe' topic.id 'daily' %}">Daily digest</a>
          <a class="pull-right badge badge-info" href="{% url 'team:topic_subscribe' topic.id 'instantly' %}">Instantly</a>
        </span>
        <a class="pull-right badge badge-default" id="subscription" href="#">{% if subscribed %}Manage subscription{% else %}Subscribe{% endif %}</a>
    </p>

    <div class="media-block pad-all bord-btm">
        <div class="media-left">
            {% with 'moc/team/team.'|add:topic.author.first_name|lower|add:'.jpg' as image_static %}
              <img class="img-circle img-xs" src="{% static image_static %}" alt="">
            {% endwith %}
        </div>
        <div class="media-body">
            <p class="mar-no text-main text-bold text-lg">{{ topic.name }}
            <a href="{% url 'team:edittopic' topic.id %}"><i class="fa fa-pencil-alt"></i></a>
            </p>
            <small class="text-muteds">Thread opened by {{ topic.author.first_name }} on {{ topic.created_at }}</small>
            Posted in: 
            {% for category in categories %}
                <a href="{% url 'team:viewcategory' category.id %}">
                    <span class="badge badge-warning">{{ category.name }}</span>
                </a>
            {% endfor %}
            {% if ticket %}
              <a class="badge badge-success" href="{% url 'team:ticket' ticket.id %}">View task</a>
            {% endif %}
        </div>
    </div>

    <div class="nano" style="height: 56vh">
        <div class="nano-content">
            <div class="panel-body chat-body media-block">
                {% for info in list.all %}
                <div class="chat-{% if info.author == user %}me{% else %}user{% endif %}">
                    <div class="media-left">
                        {% with 'moc/team/team.'|add:info.author.first_name|lower|add:'.jpg' as image_static %}
                          <img src="{% static image_static %}" class="img-circle img-sm" alt="">
                        {% endwith %}
                    </div>
                    <div class="media-body">

                        <div>
                            <p>{{ info.message|linebreaksbr|urlizetrunc:30 }}
                            <small>{{ info.author.first_name }} | {{ info.date|timesince }} ago
                            {% if info.author == request.user %}
                            | <a class="delete" href="{% url 'team:deletemessage' info.id %}" onclick="javascript:return confirm('Are you sure?')">delete this post</a>
                            {% endif %}
                            </small>
                            </p>
                        </div>

                    </div>
                </div>
                {% endfor %}
                <!--
                <div class="chat-meta-day"><span class="badge">Previous messages</span></div>
                <div class="chat-meta-day"><span class="badge">Load older messages</span></div>
                -->
            </div>
        </div>
    <div class="nano-pane"><div class="nano-slider" style="height: 80px; transform: translate(0px, 37.9179px);"></div></div></div>
    <form action="/intranet/topic/{{ topic.id }}/message" method="post">
        {% csrf_token %}
        <div class="pad-all">
            <div class="input-group">
                 <textarea placeholder="Type your message" class="form-control" type="text" name="message" required></textarea>
                 <span class="input-group-btn">
                     <button class="hide btn btn-icon add-tooltip" data-original-title="Add file" type="button"><i class="pli-paperclip icon-lg"></i></button>
                     <button class="btn btn-icon add-tooltip" data-original-title="Send" type="submit"><i class="pli-yes icon-lg"></i></button>
                 </span>
             </div>
            Use CTRL+Enter to submit message
        </div>
    </form>
    <div class="pad-all" id="savingmessage">
      <i class="fa fa-spinner fa-lg"></i> Saving your message... stay tuned...
    </div>
</div>

<script src="{% static 'ie/js/nifty.min.js' %}"></script>
<script type="text/javascript">
$(function(){
  $("#chat .nano-content").scrollTop($("#chat .nano-content")[0].scrollHeight);
  $("#chat .nano-content a:not(.delete)").attr("target", "_blank");
  $("#subscription").click(function(e){
    e.preventDefault();
    $(this).hide()
    $(".subscribers").hide();
    $(".subscription").show();
  });
});
</script>

