{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Control Panel{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}
<div class="row jumpdown">
  <div class="col-sm-4">
    <div class="panel">
        <div class="panel-body text-center bg-warning">
            <i class="fas fa-building icon-5x"></i>

            <h4 class="text-light">MultipliCity</h4>
            <p class="text-sm">Manage the content within MultipliCity</p>
        </div>
        <div class="list-group ">
            <a class="list-group-item" href="{% url 'multiplicity:admin_referencespaces' 'countries' %}">Countries</a>
            <a class="list-group-item" href="{% url 'multiplicity:admin_referencespaces' 'cities' %}">Cities</a>
            <a class="list-group-item" href="{% url 'multiplicity:admin_referencespaces' 'islands' %}">Islands</a>
        </div>
    </div>
  </div><div class="col-sm-4">
    <div class="panel">
        <div class="panel-body text-center bg-mint">
            <i class="fas fa-users icon-5x"></i>

            <h4 class="text-light">Research</h4>
            <p class="text-sm">Manage authors, users, etc.</p>
        </div>
        <div class="list-group ">
            <a class="list-group-item" href="{% url 'core:admin_people_list' %}">People</a>
            <a class="list-group-item" href="/admin/core/project/">Research projects</a>
            <a class="list-group-item" href="/resources/publications/add">Add publication</a>
            <a class="list-group-item" href="{% url 'core:admin_references' %}">Publication list</a>
            <a class="list-group-item" href="{% url 'core:admin_tag_list' %}">Tags</a>
            <a class="list-group-item" href="{% url 'core:admin_organization_list' %}">Organizations</a>
        </div>
    </div>
  </div><div class="col-sm-4">
    <div class="panel">
        <div class="panel-body text-center bg-pink">
            <i class="fas fa-camera icon-5x"></i>

            <h4 class="text-light">Multimedia</h4>
            <p class="text-sm">Manage videos, photos, etc.</p>
        </div>
        <div class="list-group ">
            <a class="list-group-item" href="{% url 'core:admin_video_list' %}">Videos</a>
        </div>
    </div>
  </div>

</div>

<hr>

<div class="row jumpdown">
  <div class="col-sm-4">
    <div class="panel">
        <div class="panel-body text-center bg-danger">
            <i class="fa fa-link icon-5x"></i>

            <h4 class="text-light">Useful Links</h4>
            <p class="text-sm">A number of useful links for our team members.</p>
        </div>
        <div class="list-group ">
            <a class="list-group-item" href="/admin/"> <i class="fas fa-edit icon-lg icon-fw"></i>Content Management System</a>
           <a class="list-group-item" href="https://pixabay.com/"><i class="fa fa-image icon-fw"></i> Pixabay: open source photo bank</a>
           <a class="list-group-item" href="https://fontawesome.com/icons?d=gallery&m=free"><i class="fab fa-font-awesome  icon-fw"></i> Font-awesome: icons</a>
           <a class="list-group-item" href="http://www.themeon.net/nifty/v2.9.1/index.html"><i class="fa fa-crop icon-fw"></i> Nifty Template</a>
        </div>
    </div>
  </div>

  {% include "team/_controlpanel.manuals.html" %}


</div>



{% endblock %}

{% block head %}
<style type="text/css">
#navbar-container,.stretch-bg-head #content-container::before {
  background-color:#727272;
}
#projects,#communitydrive, #communityboard, #taskforces{display:none}
.jumpdown{padding-top:33px}
.list-group a.list-group-item{color:#333}
.col-sm-4 .panel{margin-bottom:0}
</style>
{% endblock %}

{% block pagehead %}
<div id="page-head">
    
</div>
{% endblock %}

{% block footer %}
  <script type="text/javascript">
  $(function(){
    $(".show").click(function(e){
      e.preventDefault();
      var show = $(this).data("show");
      $("#"+show).toggle('fast');
    });
  });
  </script>
{% endblock %}
