{% extends 'multiplicity/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}{{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

{% if update %}
  <p class="alert alert-warning">
    You are <strong>adding</strong> data to an existing dataset 
    (<a href="{% url 'multiplicity:dataset' info.slug update.id %}">{{ update }}</a>). <br>
  </p>
{% endif %}

<div class="panel">
  <div class="panel-heading">
      <h3 class="panel-title">Review your data</h3>
  </div>
  <div class="panel-body">

    <div class="row">
      <a href="{% url 'multiplicity:upload_flow_file' info.slug dataset.id %}{% if update %}?update={{ update.id }}{% endif %}">
      <div class="col-sm-3">
        <div class="panel panel-default panel-colorful">
            <div class="pad-all text-center">
                <span class="text-3x text-thin">1</span>
                <p>Upload data</p>
                <i class="psi-upload icon-lg"></i>
            </div>
        </div>
      </div>
      </a>
      <div class="col-sm-3">
        <div class="panel panel-success panel-colorful">
            <div class="pad-all text-center">
                <span class="text-3x text-thin">2</span>
                <p>Review data</p>
                <i class="psi-eye icon-lg"></i>
            </div>
        </div>
      </div>
        <a href="{% url 'multiplicity:upload_flow_meta' info.slug dataset.id file.id %}{% if update %}?update={{ update.id }}{% endif %}">
        <div class="col-sm-3">
          <div class="panel panel-default panel-colorful">
              <div class="pad-all text-center">
                  <span class="text-3x text-thin">3</span>
                  <p>Meta data</p>
                  <i class="psi-lock icon-lg"></i>
              </div>
          </div>
        </div>
      </a>
    </div>

    <p class="well">File: <strong>{{ file.original_name }}</strong></p>

    {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
    {% else %}
      {% if warning %}
        <div class="alert alert-warning">{{ warning }}</div>
      {% endif %}
      <table class="table table-fullwidth table-striped datatable">
        <thead>
          <tr>
            <th>{% if type == "stocks" %}Date{% else %}Timeframe{% endif %}</th>
            {% if dataset.name != "Population" %}
              <th>Material</th>
              <th>Material classification</th>
            {% endif %}
            <th>Quantity</th>
            {% if show_location %}
                <th>Location</th>
            {% else %}
                {% if show_origin %}
                    <th>Origin</th>
                {% endif %}
                {% if show_destination %}
                    <th>Destination</th>
                {% endif %}
            {% endif %}
            <th>Comments</th>
          </tr>
          </thead>
          <tbody>
            {% for details in data %}
              <tr>
                <td data-order="{{ details.from|date:"Y-m-d" }}">
                {% if type == "stocks" %}
                  {{ details.from|date:"M d, Y" }}
                {% else %}
                  <span class="date" title="From {{ details.from|date:"M d, Y" }} to {{ details.to|date:"M d, Y" }}">{{ details.timeframe }}</span>
                {% endif %}
                </td>
                {% if dataset.name != "Population" %}
                  <td>{{ details.material }}</td>
                  <td class="shorten" title="{{ details.material_info.name }}">{{ details.material_info.code }}: {{ details.material_info.name }}</td>
                  <td>{{ details.quantity|intcomma }} {{ details.unit }}</td>
                {% else %}
                  <td>{{ details.quantity|intcomma }} ({{ details.material }})</td>
                {% endif %}
                {% if show_origin %}
                    <td>
                        {% if details.origin_info %}
                          {% if False %}
                            <a href="{% url 'multiplicity:space' info.slug details.origin_info.type.topic.theme.slug details.origin_info.type.topic.slug details.origin_info.type.slug details.origin_info.slug %}" title="Type: {{details.origin_info.type.name }}. City: {{details.origin_info.city.name }}">{{ details.origin }}</a>
                          {% else %}
                            {{ details.origin_info.name }}
                          {% endif %}
                        {% else %}
                            <span class="dottedline new">{{ details.origin }}</span>
                        {% endif %}
                    </td>
                {% endif %}
                {% if show_destination %}
                    <td>
                        {% if details.destination_info %}
                          {{ details.destination }}
                        {% else %}
                            <span class="dottedline new">{{ details.destination }}</span>
                        {% endif %}
                    </td>
                {% endif %}
                <td>{{ details.comments }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <hr>

          {% if warning %}
            <p><a href="javascript:history.back()" class="btn btn-dark btn-lg">Back</a></p>
          {% else %}
            <p><a href="{% url 'multiplicity:upload_flow_meta' info.slug dataset.id file.id %}{% if update %}?update={{ update.id }}{% endif %}" class="btn btn-success btn-lg">Next</a></p>
          {% endif %}

        {% endif %}

  </div>
</div>
{% endblock %}

{% block head %}
<style type="text/css">
.exists{opacity:0.5}
.main-content-block .exists a:not(.btn){color:red;text-decoration:dotted}
.table td{color:#333}
.table{margin-bottom:20px}
table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
.date, .dottedline{  border-bottom: 1px dashed #999;}
.new{font-weight:bold;color:red}
.new.dottedline{border-color:red}
td.shorten {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">Material {{ type }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'multiplicity:index' %}">Cities</a></li>
        <li><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a></li>
        <li><a href="{% url 'multiplicity:upload' info.slug %}">Upload</a></li>
        <li><a href="{% url 'multiplicity:upload_flow' info.slug %}">Material {{ type }}</a></li>
        <li><a href="{% url 'multiplicity:upload_flow_file' info.slug dataset.id %}">{{ dataset.name }}</a></li>
        <li class="active">Review data</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
