{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<h2>Data</h2>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-success panel-colorful">
      <div class="panel-body text-center">
        <i class="psi-factory icon-5x"></i>
      </div>
      <div class="pad-all text-center">
        <p class="text-2x mar-no">Infrastructure</p>
        <p class="text-overflow pad-top">
          <a class="btn btn-default" href="{% url 'multiplicity:upload_infrastructure' info.slug %}">Upload now</a>
        </p>
      </div>
    </div>
  </div><div class="col-sm-4">
    <div class="panel panel-warning panel-colorful">
      <div class="panel-body text-center">
        <i class="psi-arrow-shuffle icon-5x"></i>
      </div>
      <div class="pad-all text-center">
        <p class="text-2x mar-no">Material flow</p>
        <p class="text-overflow pad-top">
          <a class="btn btn-default" href="{% url 'multiplicity:upload_flow' info.slug %}">Upload now</a>
        </p>
      </div>
    </div>
  </div><div class="col-sm-4">
    <div class="panel panel-pink panel-colorful">
      <div class="panel-body text-center">
        <i class="psi-road icon-5x"></i>
      </div>
      <div class="pad-all text-center">
        <p class="text-2x mar-no">Material stock</p>
        <p class="text-overflow pad-top">
          <a class="btn btn-default" href="{% url 'multiplicity:upload_stock' info.slug %}">Upload now</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% if request.user.is_staff %}

  <section class="information">

    <h2>Information</h2>

    <div class="row">
      <div class="col-sm-2">
        <div class="panel panel-info panel-colorful">
          <div class="panel-body text-center">
            <i class="fa fa-image icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'multiplicity:photo_form' info.slug %}">Photo</a>
            </p>
          </div>
        </div>
      </div><div class="col-sm-2">
        <div class="panel panel-info panel-colorful">
          <div class="panel-body text-center">
            <i class="fa fa-align-left icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'multiplicity:information_form' info.slug %}">Sector info</a>
            </p>
          </div>
        </div>
      </div><div class="col-sm-2">
        <div class="panel panel-info panel-colorful">
          <div class="panel-body text-center">
            <i class="fa fa-book icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'core:newreference' %}">Publication</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-info panel-colorful">
          <div class="panel-body text-center">
            <i class="fa fa-building icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'core:admin_organization_referencespace' info.slug %}">Organization</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-info panel-colorful">
          <div class="panel-body text-center">
            <i class="fa fa-users icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
            <a href="{% url 'multiplicity:upload_flow_file' info.slug 70 %}">Population</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-info panel-colorful">
          <div class="panel-body text-center">
            <i class="far fa-file icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'core:newreference' %}">Profile</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <h2>Geo-spatial</h2>

    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-primary panel-colorful">
          <div class="panel-body text-center">
            <i class="fal fa-globe-africa icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'core:newreference' %}">System Boundaries</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-primary panel-colorful">
          <div class="panel-body text-center">
            <i class="far fa-globe-africa icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'core:newreference' %}">Micro-territorial units</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-primary panel-colorful">
          <div class="panel-body text-center">
            <i class="fa fa-globe-africa icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'core:newreference' %}">Maps</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </section>

{% endif %}

{% endblock %}

{% block head %}
<style type="text/css">
textarea.form-control{height:200px}
.information .panel {
  opacity:0.7;
  cursor:pointer;
}
.information .panel:hover {
  opacity:1;
  transition: all 0.8s;
}

</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">Upload</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'multiplicity:index' %}">Cities</a></li>
        <li><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a></li>
        <li class="active">Upload</li>
    </ol>

</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(function(){
  $(".information .panel").click(function() {
    link = $(this).find("a");
    href = link.attr("href");
    window.location = href;
  });
});
</script>
{% endblock %}
