{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

{% if tips %}

  <h2>Tips &amp; tricks</h2>

  {{ tips.content|safe }}

{% endif %}

<h2>Data</h2>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-success panel-colorful">
      <div class="panel-body text-center">
        <i class="psi-factory icon-5x"></i>
      </div>
      <div class="pad-all text-center">
        <p class="text-2x mar-no">Infrastructure</p>
        <p class="text-overflow pad-top">
          <a class="btn btn-default" href="{% url 'multiplicity:upload_infrastructure' info.slug %}">Upload now</a>
        </p>
      </div>
    </div>
  </div><div class="col-sm-4">
    <div class="panel panel-warning panel-colorful">
      <div class="panel-body text-center">
        <i class="psi-arrow-shuffle icon-5x"></i>
      </div>
      <div class="pad-all text-center">
        <p class="text-2x mar-no">Material flow</p>
        <p class="text-overflow pad-top">
          <a class="btn btn-default" href="{% url 'multiplicity:upload_flow' info.slug %}">Upload now</a>
        </p>
      </div>
    </div>
  </div><div class="col-sm-4">
    <div class="panel panel-pink panel-colorful">
      <div class="panel-body text-center">
        <i class="psi-road icon-5x"></i>
      </div>
      <div class="pad-all text-center">
        <p class="text-2x mar-no">Material stock</p>
        <p class="text-overflow pad-top">
          <a class="btn btn-default" href="{% url 'multiplicity:upload_stock' info.slug %}">Upload now</a>
        </p>
      </div>
    </div>
  </div>
</div>

  <section class="resources jslinks">

    <h2>Resources</h2>

    <div class="row">
    {% if SITE_ID == 1 %}
      <div class="col-sm-2">
        <div class="panel panel-info panel-colorful">
          <div class="panel-body text-center">
            <i class="fa fa-file icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'core:newreference' %}">Journal article</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-info panel-colorful">
          <div class="panel-body text-center">
            <i class="fa fa-pen icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'core:newreference' %}">Thesis</a>
            </p>
          </div>
        </div>
      </div>
      {% else %}
      <div class="col-sm-2">
        <div class="panel panel-info panel-colorful">
          <div class="panel-body text-center">
            <i class="fa fa-file icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'core:newreference' %}">Academic publication</a>
            </p>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="col-sm-2">
        <div class="panel panel-info panel-colorful">
          <div class="panel-body text-center">
            <i class="fa fa-book icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'core:newreference' %}">Report</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-info panel-colorful">
          <div class="panel-body text-center">
            <i class="fa fa-video icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'multiplicity:upload_video' info.slug %}">Video</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-info panel-colorful">
          <div class="panel-body text-center">
            <i class="fa fa-image icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'multiplicity:photo_form' info.slug %}">Photo</a>
            </p>
          </div>
        </div>
      </div>
      {% if SITE_ID == 2 %}
      <div class="col-sm-2">
        <div class="panel panel-info panel-colorful">
          <div class="panel-body text-center">
            <i class="fa fa-podcast icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'core:newreference' %}">Podcast</a>
            </p>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="col-sm-2">
        <div class="panel panel-info panel-colorful">
          <div class="panel-body text-center">
            <i class="fa fa-presentation icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'core:newreference' %}">Presentation</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="information jslinks">

    <h2>Information</h2>

    <div class="row">
      <div class="col-sm-2">
        <div class="panel panel-info panel-colorful">
          <div class="panel-body text-center">
            <i class="fa fa-align-left icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'multiplicity:information_form' info.slug %}">Sector info</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-info panel-colorful">
          <div class="panel-body text-center">
            <i class="fa fa-building icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'core:admin_organization_referencespace' info.slug %}">Organization</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-info panel-colorful">
          <div class="panel-body text-center">
            <i class="fa fa-users icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
            <a href="{% url 'multiplicity:upload_flow_file' info.slug 70 %}">Population</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-info panel-colorful">
          <div class="panel-body text-center">
            <i class="far fa-file icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'core:newreference' %}">Profile</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-info panel-colorful">
          <div class="panel-body text-center">
            <i class="far fa-gavel icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'core:newreference' %}">Legislation</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-info panel-colorful">
          <div class="panel-body text-center">
            <i class="far fa-info-circle icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'core:newreference' %}">Summary</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="geo jslinks">

    <h2>Geo-spatial</h2>

    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-primary panel-colorful">
          <div class="panel-body text-center">
            <i class="fal fa-globe-africa icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'multiplicity:upload_systemboundaries' info.slug %}">System Boundaries</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-primary panel-colorful">
          <div class="panel-body text-center">
            <i class="far fa-globe-africa icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'multiplicity:upload_mtu' info.slug %}">Micro-territorial units</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-primary panel-colorful">
          <div class="panel-body text-center">
            <i class="fa fa-globe-africa icon-3x"></i>
          </div>
          <div class="pad-all text-center">
            <p class="mar-no">
              <a href="{% url 'multiplicity:map_form' info.slug %}">Maps</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </section>

{% endblock %}

{% block head %}
<style type="text/css">
textarea.form-control{height:200px}
.geo .panel, .resources .panel, .information .panel {
  opacity:0.7;
  cursor:pointer;
}
.information .panel:hover,
.geo .panel:hover,
.resources .panel:hover
{
  opacity:1;
  transition: all 0.8s;
}
.information .panel {
  background-color:#7ab4ce;
}
.panel-warning .panel-heading, .panel-warning .panel-footer, .panel-warning.panel-colorful {
  border-color:#ffb300 !important;
  background-color:#ffb300 !important;
}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">Upload</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'multiplicity:index' %}">Cities</a></li>
        <li><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a></li>
        <li class="active">Upload</li>
    </ol>

</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(function(){
  $(".jslinks .panel").click(function() {
    link = $(this).find("a");
    href = link.attr("href");
    window.location = href;
  });
});
</script>
{% endblock %}
