{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="panel">
  <div class="panel-heading">
      <h3 class="panel-title">Material {{ type }} data</h3>
  </div>
  <div class="panel-body">

    <div class="row">
      {% if type == 'flows' %}
        <div class="col-sm-3">
          <p><strong>Topic:</strong></p>
          <ul class="nav nav-list types">
            {% for details in types %}
              <li><a href="#" data-type="{{ details.id }}">{{ details.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <div class="col-sm-9 datasets">

          <p><strong>Datasets:</strong></p>
          <ul class="nav nav-list">
          {% for details in list %}
              <li class="type-{{ details.category.id }}"><a href="{% url 'multiplicity:upload_flow_file' info.slug details.id %}">{{ details.name }}</a></li>
          {% endfor %}
          </ul>
           
        </div>

    </div>

  </div>
</div>
{% endblock %}

{% block head %}
<style type="text/css">
{% if type == 'flows' %}.datasets p,.datasets li{display:none}{% endif %}
.nav > li > a:focus, .nav > li > a:hover{background:#fff}
#page-content .nav-list a:not(.btn):not(.list-group-item):hover{text-decoration:none}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">Material {{ type }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'multiplicity:index' %}">Cities</a></li>
        <li><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a></li>
        <li><a href="{% url 'multiplicity:upload' info.slug %}">Upload</a></li>
        <li class="active">Material {{ type }}</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

  <script type="text/javascript">
  $(function(){
    $(".types a").click(function(e){
      e.preventDefault();
      $(".datasets p").show();
      $(".datasets li").hide();
      var type = $(this).data("type");
      $(".datasets li.type-"+type).show('fast');
    });
  });
  </script>
{% endblock %}
