{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<h2>System Boundaries</h2>

{% if locations %}

   <table class="table table-striped">
     <thead>
       <tr>
         <th>Name</th>
         <th>Source</th>
         <th>Options</th>
       </tr>
     </thead>
     <tbody>
     {% for details in locations %}
       <tr>
         <td>{{ details.name }}</td>
         <td>{{ details.source }}</td>
         <td>
           <a class="btn btn-warning" href="{% url 'multiplicity:upload_systemboundary' info.slug details.id %}"><i class="fa fa-pencil"></i> Edit</a>
           <a class="btn btn-info" href="{% url 'multiplicity:map' info.slug details.id %}"><i class="fa fa-globe"></i> View</a>
         </td>
       </tr>
     {% endfor %}
     </tbody>
   </table>

{% endif %}

   <p><a href="{% url 'multiplicity:upload_systemboundary' info.slug %}" class="btn btn-info"><i class="fa fa-plus"></i> Add new boundaries</a></p>

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">Upload</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'multiplicity:index' %}">Cities</a></li>
        <li><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a></li>
        <li><a href="{% url 'multiplicity:upload' info.slug %}">Upload</a></li>
        <li class="active">System boundaries</li>
    </ol>

</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(function(){
  $(".information .panel").click(function() {
    link = $(this).find("a");
    href = link.attr("href");
    window.location = href;
  });
});
</script>
{% endblock %}
