<script type="text/javascript">
	var timeframes1 = {{ t1|safe }};
	var timeframes2 = {{ t2|safe }};
	var timeframes3 = {{ t3|safe }};
	var groups = {{ groups|safe }};
	var subgroups = {{ subgroups|safe }};
	var types = {{ spaces|safe }};
	var data = {{ data|safe }};

  var columnSeries = [{
  	data: []
  }];

  var columnDrillDown = {
  	series: []
  }

	$(groups).each(function() {
	  var groupSeries = {
	    name: this.label,
	    drilldown: this.label,
	    y: 0,
	  };
	  columnSeries[0].data.push(groupSeries);

	  var groupDrilldown = {
	    name: this.label,
	    id: this.label,
	    data: [],
	  };
	  columnDrillDown.series.push(groupDrilldown);

	  $(data).each(function() {
	    if (this.material_group == groupSeries.name) {
	    	groupSeries.y = groupSeries.y + this.quantity;
	    	var dataPoint = [this.material_name, this.quantity];
			  groupDrilldown.data.push(dataPoint);
	    };
	  });
	});

</script>


<div id="columnChart" style="width:100%; height: 600px;"></div>

	<script>
	  Highcharts.chart('columnChart', {
	    chart: {
	      type: 'column'
	    },
	    title: {
	      text: 'City-wide water consumption'
	    },

	    subtitle: {
	      text: 'Cape Town'
	    },

      colors: colorScheme,
      xAxis: {
        type: 'category'
	    },
	    yAxis: {
	      min: 0,
	      title: {
	        text: 'Consumption in liters',
	        style: {
	          fontWeight: 'bold'
	        },
	      }
	    },
	    legend: {
	      reversed: true,
        verticalAlign: 'top',
	    },
	    plotOptions: {
	      series: {
	        stacking: 'normal'
	      }
	    },
	    series: columnSeries,
	    drilldown: columnDrillDown,
	  });

	  // lines for chart burger menu thinner
	  $(".highcharts-button-symbol").attr("stroke-width", 1);
	</script>
