{% load static %}
<div id="barDrillChart" style="width:100%; height: 600px;"></div>

{% include 'multiplicity/graphs/options.html' %}
{% include 'multiplicity/graphs/series.drill.html' %}

	<script>
	  Highcharts.chart('barDrillChart', {
      chart: {
        type: 'bar'
      },

      title: {
        text: 'Agricultural production by type'
      },

      subtitle: {
        text: 'Click the bars for more details'
      },

      plotOptions: {
        series: {
          dataLabels: {
            enabled: true,
            format: '{point.y} t'
          }
        }
      },

      colors: colorScheme,

      tooltip: {
        pointFormat: '<b>{point.y} t</b>'
      },

      xAxis: {
        type: 'category'
	    },

	    yAxis: {
        title: {
          text: 'Production in tons'
        }
	    },

	    legend: {
        enabled: false
	    },

      "series": drillSeries,
      "drilldown": drillDrillDown,
	  });

    // lines for chart burger menu thinner
    $(".highcharts-button-symbol").attr("stroke-width", 1);
	</script>


