<script type="text/javascript">
  var timeframes1 = {{ t1|safe }};
  var timeframes2 = {{ t2|safe }};
  var timeframes3 = {{ t3|safe }};
  var groups = {{ groups|safe }};
  var subgroups = {{ subgroups|safe }};
  var types = {{ spaces|safe }};
  var data = {{ data|safe }};

  // empty arrays we'll fill the data with and use to draw chart
  var lineCategories = [];
  var lineSeries = []

  // add each time marker on the X axis
  $(timeframes1).each(function() {
    lineCategories.push(this.label);
  });

  // check if the data has multiple subgroups
  var isMultipleSubgroups = false;
  if (subgroups.length > 1) {
    isMultipleSubgroups = true;
  }

  if (isMultipleSubgroups == true) {
    $(subgroups).each(function() {
      // filling array with subgroup names
      var singleSubgroup = {
        name: this.label,
        data: []
      };

      lineSeries.push(singleSubgroup);

      // filling group names with data
      $(data).each(function() {
        if (this.material_name == singleSubgroup.name) {
          singleSubgroup.data.push(this.quantity);
        };
      });
    });
  } else {
    $(types).each(function() {
      // filling array with subgroup names
      var singleType = {
        name: this.toString(),
        data: []
      };

      lineSeries.push(singleType);

      // filling group names with data
      $(data).each(function() {
        if (this.type == singleType.name) {
          singleType.data.push(this.quantity);
        };
      });
    });
  }

  // gets the right unit to use
  var lineUnit = data[0].unit

</script>

<div id="lineChart" style="width:100%; height: 600px;"></div>

<script>
  Highcharts.chart('lineChart', {
      chart: {
        type: 'spline',
        animation: false
      },
      title: {
        text: 'Title'
      },
      subtitle: {
        text: 'Subtitle'
      },
      colors: colorScheme,
      xAxis: {
        categories: lineCategories,
        crosshair: true,
        title: {
          text: 'X axis label',
          style: {
            fontWeight: 'bold'
          },
        },
      },
      yAxis: {
        title: {
          text: lineUnit,
          style: {
            fontWeight: 'bold'
          },
        },
        min: 0
      },
      tooltip: {
        shared: true,
        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y} ' + lineUnit + '<br/>',
      },
      plotOptions: {
        spline: {
          marker: {
            enabled: false
          }
        }
      },

      series: lineSeries,
  });

  // lines for chart burger menu thinner
  $(".highcharts-button-symbol").attr("stroke-width", 1);
</script>