<script>
  var colorScheme = ['#03a9f4', '#ffb300', '#f44336', '#ab47bc', '#26a69a', '#8bc34a', '#a6cee3', '#1f78b4', '#b2df8a', '#33a02c', '#fb9a99', '#e31a1c', '#fdbf6f', '#ff7f00', '#cab2d6', '#6a3d9a', '#ffff99', '#b15928'];

	Highcharts.setOptions({
    credits: false,
		chart: {
			style: {
				fontFamily: "'Lato', sans-serif"
			},
		},
		plotOptions: {
			series: {
				animation: false,
        marker: {
          enabled: false
        },
			},
			column: {
				animation: false,
        marker: {
          enabled: false
        },
			},
			line: {
				animation: false,
        marker: {
          enabled: false
        },
      },
    },
  });
</script>
