<script type="text/javascript">
  var timeframes1 = {{ t1|safe }};
  var timeframes2 = {{ t2|safe }};
  var timeframes3 = {{ t3|safe }};
  var groups = {{ groups|safe }};
  var subgroups = {{ subgroups|safe }};
  var types = {{ spaces|safe }};
  var data = {{ data|safe }};

  var pieSeries = [{
    data: []
  }];

  var pieDrillDown = {
    series: []
  }

  $(groups).each(function() {
    var groupSeries = {
      name: this.label,
      drilldown: this.label,
      y: 0,
    };
    pieSeries[0].data.push(groupSeries);

    var groupDrilldown = {
      name: this.label,
      id: this.label,
      data: [],
    };
    pieDrillDown.series.push(groupDrilldown);

    $(data).each(function() {
      if (this.material_group == groupSeries.name) {
        groupSeries.y = groupSeries.y + this.quantity;
        var dataPoint = [this.material_name, this.quantity];
        groupDrilldown.data.push(dataPoint);
      };
    });
  });

  // removes drilldown from groups that don't have subgroups

  // getting all groups from the subgroups
  var allGroups = []

  $(subgroups).each(function() {
    allGroups.push(this.group);
  });

  // checks which elements in allGroups only appears once - https://stackoverflow.com/a/8700035
  for(var index = 0, noDrillGroups = []; index < allGroups.length; index++ ) {
    if( allGroups.indexOf( allGroups[index], allGroups.indexOf( allGroups[index] ) + 1 ) == -1 ) noDrillGroups.push( allGroups[index] );
  };

  // removes the drilldown key from the groups in pieSeries that don't have subgroups
  $(noDrillGroups).each(function() {
    var groupToRemove = this;
    $(pieSeries[0].data).each(function() {
      if (this.name == groupToRemove) {
        delete this.drilldown;
      }
    });
  });

</script>

<div id="pieDrillChart" style="width:100%; height: 600px;"></div>

  <script>
    Highcharts.chart('pieDrillChart', {
      chart: {
        type: 'pie'
      },

      title: {
        text: 'Agricultural production by type'
      },

      subtitle: {
        text: 'Click the slices for more details'
      },

      plotOptions: {
        series: {
          dataLabels: {
            enabled: true,
            format: '{point.name}: {point.y} t'
          }
        }
      },

      colors: colorScheme,

      tooltip: {
        pointFormat: '<b>{point.y} t</b>'
      },

      legend: {
        enabled: false
      },

      "series": pieSeries,
      "drilldown": pieDrillDown,
    });

    // lines for chart burger menu thinner
    $(".highcharts-button-symbol").attr("stroke-width", 1);
  </script>
