{% load static %}
<div id="pieChart" style="width:100%; height: 600px;"></div>

{% include 'multiplicity/graphs/series.drill.html' %}

	<script>
    // use drilldown pie chart data but remove keys from data that indicate it's drilldown
    $(drillSeries[0].data).each(function() {
      this["drilldown"] = null;
    });

	  Highcharts.chart('pieChart', {
      chart: {
        type: 'pie'
      },

      title: {
        text: 'Agricultural production by type'
      },

      subtitle: {
        text: 'Cape Town'
      },

      plotOptions: {
        series: {
          dataLabels: {
            enabled: true,
            format: '{point.name}: {point.y} t'
          }
        }
      },

      colors: colorScheme,

      tooltip: {
        pointFormat: '<b>{point.y} t</b>'
      },

	    legend: {
        enabled: false
	    },

      "series": drillSeries
	  });

    // lines for chart burger menu thinner
    $(".highcharts-button-symbol").attr("stroke-width", 1);
	</script>
