<script type="text/javascript">

var timeframes1 = {{ t1|safe }};

var timeframes2 = {{ t2|safe }};

var timeframes3 = {{ t3|safe }};

var timeframes4 = {{ t4|safe }};

var groups = {{ groups|safe }};

var subgroups = {{ subgroups|safe }};

var data = {{ data|safe }};

</script>

<div id="pieChart" style="width:100%; height: 600px;"></div>

	<script>
    // the non-drilldown pie chart uses the same series as the drilldown pie chart
    // however, you'll need to remove the "drilldown" key from the data

	  Highcharts.chart('pieChart', {
      chart: {
        type: 'pie'
      },

      title: {
        text: 'Agricultural production by type'
      },

      subtitle: {
        text: 'Cape Town'
      },

      plotOptions: {
        series: {
          dataLabels: {
            enabled: true,
            format: '{point.name}: {point.y} t'
          }
        }
      },

      colors: colorScheme,

      tooltip: {
        pointFormat: '<b>{point.y} t</b>'
      },

	    legend: {
        enabled: false
	    },

      "series": drillSeries
	  });

    // lines for chart burger menu thinner
    $(".highcharts-button-symbol").attr("stroke-width", 1);
	</script>
