<script>
	var drillSeries = [
      {
        "name": "Types",
        "colorByPoint": true,
        "data": [
            {
                "name": "Cereals",
                "y": 29325 + 24438 + 924 + 194,
                "drilldown": "Cereals"
            },
            {
                "name": "Roots, tubers",
                "y": 12927 + 4732 + 1358,
                "drilldown": "Roots, tubers"
            },
            {
                "name": "Pulses",
                "y": 46234 + 243 + 99,
                "drilldown": "Pulses"
            },
            {
                "name": "Oil-bearing crops",
                "y": 4739 + 2605,
                "drilldown": "Oil-bearing crops"
            },
            {
                "name": "Vegetables",
                "y": 18167 + 4744 + 10090 + 6743 + 793 + 1476 + 433 + 3685 + 464 + 194 + 137 + 94 + 76 + 2,
                "drilldown": "Vegetables"
            },
            {
                "name": "Fruits",
                "y": 48430 + 6162 + 5854 + 4086 + 1465 + 989 + 258,
                "drilldown": "Fruits"
            },
            {
                "name": "Fodder crops",
                "y": 30860 + 22134,
                "drilldown": "Fodder crops"
            },
            {
                "name": "Grazed biomass",
                "y": 1107,
                "drilldown": null,
            },
        ]
      }
  ]

  var drillDrillDown = {
      "series": [
        {
          "name": "Cereals",
          "id": "Cereals",
          "data": [
            ["Wheat", 29325],
            ["Small Grain Grazing", 24438],
            ["Barley", 924],
            ["Oats", 194],
          ]
        },
        {
          "name": "Roots, tubers",
          "id": "Roots, tubers",
          "data": [
            ["Carrots", 12927],
            ["Potatoes", 4732],
            ["Beetroot", 1358],
          ]
        },
        {
          "name": "Pulses",
          "id": "Pulses",
          "data": [
            ["Lucerne", 46234],
            ["Lupine", 243],
            ["Grean beans", 99],
          ]
        },
        {
          "name": "Oil-bearing crops",
          "id": "Oil-bearing crops",
          "data": [
            ["Canola", 4739],
            ["Olives", 2605],
          ]
        },
        {
          "name": "Vegetables",
          "id": "Vegetables",
          "data": [
            ["Cabbage", 18167],
            ["Lettuce", 4744],
            ["Cauliflower", 10090],
            ["Vegetable mixed", 6743],
            ["Broccoli", 793],
            ["Onions", 1476],
            ["Butternut", 433],
            ["Mushrooms", 3685],
            ["Celery", 464],
            ["Gemsquash", 194],
            ["Pumpkin", 137],
            ["Tomatoes", 94],
            ["Peppers", 76],
            ["Chillies", 2],
          ]
        },
        {
          "name": "Fruits",
          "id": "Fruits",
          "data": [
            ["Wine Grapes", 48430],
            ["Pears", 6162],
            ["Guava", 5854],
            ["Apples", 4086],
            ["Plums", 1465],
            ["Pomegranate", 989],
            ["Table Grapes", 258],
          ]
        },
        {
          "name": "Fodder crops",
          "id": "Fodder crops",
          "data": [
            ["Planted Pastures Perennial", 30860],
            ["Planted Pastures", 22134],
          ]
        },
      ]
  }
</script>
