<script>
    var timeXAxis = [Date.UTC(2015, 4, 1), Date.UTC(2015, 3, 1), Date.UTC(2015, 2, 1), Date.UTC(2015, 1, 1), Date.UTC(2014, 12, ), Date.UTC(2014, 11, ), Date.UTC(2014, 10, ), Date.UTC(2014, 9, 1), Date.UTC(2014, 8, 1), Date.UTC(2014, 7, 1), Date.UTC(2014, 6, 1), Date.UTC(2014, 5, 1), Date.UTC(2014, 4, 1), Date.UTC(2014, 3, 1), Date.UTC(2014, 2, 1), Date.UTC(2014, 1, 1), Date.UTC(2013, 12, ), Date.UTC(2013, 11, ), Date.UTC(2013, 10, ), Date.UTC(2013, 9, 1), Date.UTC(2013, 8, 1), Date.UTC(2013, 7, 1)]

	 var timeSeries = [
     {
       name: "Athlone",
       data: [
         [Date.UTC(2015, 4, 1),2912],
         [Date.UTC(2015, 3, 1),3059],
         [Date.UTC(2015, 2, 1),2875],
         [Date.UTC(2015, 1, 1),3412],
         [Date.UTC(2014, 12, 1),3529],
         [Date.UTC(2014, 11, 1),3487],
         [Date.UTC(2014, 10, 1),2861],
         [Date.UTC(2014, 9, 1),4589],
         [Date.UTC(2014, 8, 1),5393],
         [Date.UTC(2014, 7, 1),5396],
         [Date.UTC(2014, 6, 1),4651],
         [Date.UTC(2014, 5, 1),3377],
         [Date.UTC(2014, 4, 1),3258],
         [Date.UTC(2014, 3, 1),3391],
         [Date.UTC(2014, 2, 1),2861],
         [Date.UTC(2014, 1, 1),3630],
         [Date.UTC(2013, 12, 1),3817],
         [Date.UTC(2013, 11, 1),4485],
         [Date.UTC(2013, 10, 1),4777],
         [Date.UTC(2013, 9, 1),5718],
         [Date.UTC(2013, 8, 1),5695],
         [Date.UTC(2013, 7, 1),4967]
       ]
     },
     {
       name: "Bellville",
       data: [
         [Date.UTC(2015, 4, 1),1398],
         [Date.UTC(2015, 3, 1),1538],
         [Date.UTC(2015, 2, 1),1392],
         [Date.UTC(2015, 1, 1),1528],
         [Date.UTC(2014, 12, 1),1179],
         [Date.UTC(2014, 11, 1),1220],
         [Date.UTC(2014, 10, 1),1449],
         [Date.UTC(2014, 9, 1),1766],
         [Date.UTC(2014, 8, 1),2105],
         [Date.UTC(2014, 7, 1),2045],
         [Date.UTC(2014, 6, 1),1928],
         [Date.UTC(2014, 5, 1),1684],
         [Date.UTC(2014, 4, 1),1537],
         [Date.UTC(2014, 3, 1),1608],
         [Date.UTC(2014, 2, 1),1449],
         [Date.UTC(2014, 1, 1),1421],
         [Date.UTC(2013, 12, 1),1587],
         [Date.UTC(2013, 11, 1),1898],
         [Date.UTC(2013, 10, 1),1986],
         [Date.UTC(2013, 9, 1),2287],
         [Date.UTC(2013, 8, 1),2412],
         [Date.UTC(2013, 7, 1),1790]
       ]
     },
     {
       name: "Borcherds Quarry",
       data: [
         [Date.UTC(2015, 4, 1),995],
         [Date.UTC(2015, 3, 1),1033],
         [Date.UTC(2015, 2, 1),921],
         [Date.UTC(2015, 1, 1),1039],
         [Date.UTC(2014, 12, 1),1036],
         [Date.UTC(2014, 11, 1),1068],
         [Date.UTC(2014, 10, 1),1024],
         [Date.UTC(2014, 9, 1),1113],
         [Date.UTC(2014, 8, 1),1376],
         [Date.UTC(2014, 7, 1),1333],
         [Date.UTC(2014, 6, 1),1115],
         [Date.UTC(2014, 5, 1),1143],
         [Date.UTC(2014, 4, 1),1104],
         [Date.UTC(2014, 3, 1),1157],
         [Date.UTC(2014, 2, 1),1024],
         [Date.UTC(2014, 1, 1),1196],
         [Date.UTC(2013, 12, 1),1297],
         [Date.UTC(2013, 11, 1),1306],
         [Date.UTC(2013, 10, 1),1260],
         [Date.UTC(2013, 9, 1),1313],
         [Date.UTC(2013, 8, 1),1412],
         [Date.UTC(2013, 7, 1),1226]
       ]
     }
   ]

</script>
