{% load static %}
<script src="https://code.highcharts.com/modules/treemap.js"></script>

<div id="treeMapChart" style="width:100%; height: 600px;"></div>

{% include 'multiplicity/graphs/options.html' %}
{% include 'multiplicity/graphs/series.column.html' %}

  <script>
    Highcharts.chart('treeMapChart', {
        series: [{
            type: 'treemap',
            layoutAlgorithm: 'stripes',
            alternateStartingDirection: true,
            levels: [{
                level: 1,
                layoutAlgorithm: 'sliceAndDice',
                dataLabels: {
                    enabled: true,
                    align: 'left',
                    verticalAlign: 'top',
                    style: {
                        fontSize: '15px',
                        fontWeight: 'bold'
                    }
                }
            }],
            colors: colorScheme,
            data: [{
                id: 'Cereals',
                name: 'Cereals',
                color: colorScheme[0]
            }, {
                id: 'Roots, tubers',
                name: 'Roots, tubers',
                color: colorScheme[1]
            }, {
                id: 'Pulses',
                name: 'Pulses',
                color: colorScheme[2]
            }, {
                id: 'Oil-bearing crops',
                name: 'Oil-bearing crops',
                color: colorScheme[3]
            }, {
                name: 'Cabbage',
                parent: 'Cereals',
                value: 3
            }, {
                name: 'Lettuce',
                parent: 'Cereals',
                value: 4
            }, {
                name: 'Mushrooms',
                parent: 'Roots, tubers',
                value: 4
            }, {
                name: 'Cauliflower',
                parent: 'Roots, tubers',
                value: 10
            }, {
                name: 'Wine Grapes',
                parent: 'Oil-bearing crops',
                value: 1
            }, {
                name: 'Pears',
                parent: 'Oil-bearing crops',
                value: 1
            }, {
                name: 'Canola',
                parent: 'Pulses',
                value: 3
            }, {
                name: 'Olives',
                parent: 'Pulses',
                value: 3
            }]
        }],
        title: {
          text: 'Agricultural production by type'
        }
    });

    // lines for chart burger menu thinner
    $(".highcharts-button-symbol").attr("stroke-width", 1);
  </script>
