 <div class="modal fade" id="bibtext-modal" tabindex="-1" role="dialog" aria-labelledby="Bibtext" aria-hidden="true">
  <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <h4 class="modal-title">Bibtext</h4>
       </div>
       <div id="form-modal-body" class="modal-body">
         <p>@article{{info.id},</p>
         <p>author = "{{info.authorlist}}",</p>
         <p>title = "{{info.title}}",</p>
         <p>journal = "{{info.journal}}",</p>
         <p>year = {{info.year}},</p>
         <p>url = "{{info.url}}",</p>
         <p>doi = "{{info.doi}}",</p>
         }
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>

<!--
 <div id="bibtext-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div> -->
