{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Glossary{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}
{% include 'multiplicity/includes/top.navbar.html' %}

<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-body">
        <h3>Glossary</h3>
        {% for details in list %}
          <h4>{{ details }}</h4>
          {{ details.description|safe }}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block head %}
{% endblock %}

{% block pagehead %}
<div id="page-head">
    
  <div id="page-title">
    <h1 class="page-header text-overflow">Glossary</h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="/"><i class="pli-home"></i></a></li>
    <li><a href="{% url 'core:resources_home' %}">Resources</a></li>
    <li class="active">Glossary</li>
  </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
