{% extends 'multiplicity/base.home.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<article class="main home onepage-wrapper">
  <section class="section hero">
    <div class="complete-center">
      <div class="container">
        <h1 class="white text">Cities are where the struggle for global sustainability "will either be won or lost"</h1>
        <h4 class="white text hidden-xs hidden-sm">Cities <span class="changing cities">consume 70% of global natural resources|generate 64% of global waste|do something else|are where many people live</span></h4>
      </div>
    </div>
    <img class="hidden-md hidden-lg" src="https://prototype.metabolismofcities.org/media/referencespace/capetown.jpg">
    <div class="downArrow bounce hidden-xs hidden-sm">
      <i class="fas fa-angle-down fa-4x"></i>
    </div>
  </section>
  <section class="section what-is">
    <div class="split"></div>
      <div class="row">
        <div class="col-md-6 left-right-padding">
          <h2 class="white text">
            Urban metabolism systematically assesses the sustainability of cities.
          </h2>
          <h4 class="white text">
            It measures material, waste, water, and energy flows and stock in cities
          </h4>
        </div>
        <div class="col-md-6 left-right-padding">
          <h2 class="white text mar-no we-need-to hidden-xs hidden-sm">
            To be more successfully used, we need to <span class="changing success">collect more data|do research|eat candy|get down to business</span>
          </h2>
        </div>
      </div>
    <img class="hidden-md hidden-lg" src="/static/multiplicity/img/space_types/dams.jpg">
    <div class="downArrow bounce hidden-xs hidden-sm">
      <i class="fas fa-angle-down fa-4x"></i>
    </div>
  </section>
  <section class="section do-what">
    <div class="split do-what"></div>
    <div class="row">
      <div class="col-md-6 left-right-padding">
        <div class="standard split-text">
          <h2 class="white text">
            Our mission it so collaborate on systematically improving the sustainability of cities.
          </h2>
          <h2 class="white text">
            We do this by creating and sharing urban metabolism knowledge and accelerating its implementation in policy and practive.
          </h2>
        </div>
        <div class="create white text split-text">
          <h3 class="white text">
            <i class="fas fa-lightbulb fa-fw mar-rgt"></i> Create knowledge
          </h3>
          <p>
            We aim to create new knowledge by participating and collaborating in research projects and developing new open source tools.
          </p>
        </div>
        <div class="share white text split-text">
          <h3 class="white text">
            <i class="fas fa-chart-network fa-fw mar-rgt"></i> Share knowledge
          </h3>
          <p>
            We aim to gather and curate (all) knowledge around urban metabolism in one central platform in order to make it accessible to different target audiences
          </p>
        </div>
        <div class="apply white text split-text">
          <h3 class="white text">
            <i class="fas fa-puzzle-piece fa-fw mar-rgt"></i> Apply knowledge
          </h3>
          <p>
            We help policy makers and practitioners to tackle their challenges with Urban Metabolism thinking.
          </p>
        </div>
        <div class="community white text split-text">
          <h3 class="white text">
            <i class="fas fa-users fa-fw mar-rgt"></i> Foster a community
          </h3>
          <p>
            We believe that tackling the urban sustainability challenge can not be done alone. We want to foster a community of stakeholders that collaborates on developping solutions.
          </p>
        </div>
      </div>
      <div class="col-md-6 panels hidden-xs hidden-sm">
        <div class="row panel-collection">
          <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div panelClass="create" class="panel panel-warning panel-colorful pad-all">
              <p class="text-2x mar-no text-semibold">
                <i class="fas fa-lightbulb fa-fw mar-rgt"></i> Create knowledge
              </p>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div panelClass="share" class="panel panel-success panel-colorful pad-all">
              <p class="text-2x mar-no text-semibold">
                <i class="fas fa-chart-network fa-fw mar-rgt"></i> Share knowledge
              </p>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div panelClass="apply" class="panel panel-danger panel-colorful pad-all">
              <p class="text-2x mar-no text-semibold">
                <i class="fas fa-puzzle-piece fa-fw mar-rgt"></i> Apply knowledge
              </p>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div panelClass="community" class="panel panel-info panel-colorful pad-all mar-no">
              <p class="text-2x mar-no text-semibold">
                <i class="fas fa-users fa-fw mar-rgt"></i> Foster a community
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="downArrow bounce hidden-xs hidden-sm">
      <i class="fas fa-angle-down fa-4x"></i>
    </div>
    <img class="hidden-md hidden-lg" src="/static/multiplicity/img/space_types/farms.jpg">
  </section>
  <section class="section for-whom">
    <div class="split do-what"></div>
    <div class="row">
      <div class="col-md-6 left-right-padding">
        <div class="standard split-text">
          <h2 class="white text text-center">
            Who is Metabolism of Cities for?
          </h2>
        </div>
        <div class="citizens white text split-text">
          <h3 class="white text">
            <i class="fas fa-users fa-fw mar-rgt"></i> Citizens
          </h3>
          <p>
            Fuga accusamus incidunt aliquid. Dolores tempore repellat qui. Ea enim laborum earum. Repellat iste et quidem assumenda autem adipisci necessitatibus deleniti. Consectetur architecto omnis praesentium. Optio facere voluptas et molestiae quisquam recusandae beatae est.
          </p>
        </div>
        <div class="city-officials white text split-text">
          <h3 class="white text">
            <i class="fas fa-university fa-fw mar-rgt"></i> City officials
          </h3>
          <p>
            Non qui adipisci quis in. Quam reprehenderit eos provident et possimus aspernatur ab. Pariatur veniam ab nisi nisi et id.
          </p>
          <p>
            Fuga accusamus incidunt aliquid. Dolores tempore repellat qui. Ea enim laborum earum. Repellat iste et quidem.
          </p>
        </div>
        <div class="academia white text split-text">
          <h3 class="white text">
            <i class="fas fa-graduation-cap fa-fw mar-rgt"></i> Academia
          </h3>
          <p>
            Fuga accusamus incidunt aliquid. Dolores tempore repellat qui. Ea enim laborum earum. Repellat iste et quidem assumenda autem adipisci necessitatibus deleniti. Consectetur architecto omnis praesentium. Optio facere voluptas et molestiae quisquam recusandae beatae est.
          </p>
        </div>
        <div class="business white text split-text">
          <h3 class="white text">
            <i class="fas fa-piggy-bank fa-fw mar-rgt"></i> Business
          </h3>
          <p>
            Non qui adipisci quis in. Quam reprehenderit eos provident et possimus aspernatur ab. Pariatur veniam ab nisi nisi et id.
          </p>
        </div>
      </div>
      <div class="col-md-6 panels hidden-xs hidden-sm">
        <div class="row panel-collection">
          <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div panelClass="citizens" class="panel panel-warning panel-colorful pad-all">
              <p class="text-2x mar-no text-semibold">
                <i class="fas fa-users fa-fw mar-rgt"></i> Citizens
              </p>
            </div>
          </div>
          <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div panelClass="city-officials" class="panel panel-success panel-colorful pad-all">
              <p class="text-2x mar-no text-semibold">
                <i class="fas fa-university fa-fw mar-rgt"></i> City officials
              </p>
            </div>
          </div>
          <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div panelClass="academia" class="panel panel-danger panel-colorful pad-all">
              <p class="text-2x mar-no text-semibold">
                <i class="fas fa-graduation-cap fa-fw mar-rgt"></i> Academia
              </p>
            </div>
          </div>
          <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div panelClass="business" class="panel panel-info panel-colorful pad-all mar-no">
              <p class="text-2x mar-no text-semibold">
                <i class="fas fa-piggy-bank fa-fw mar-rgt"></i> Business
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img class="hidden-md hidden-lg" src="/static/multiplicity/img/space_types/landfills.jpg">
    <div class="social-media-bar">
      <a class="btn text-2x" href="https://www.youtube.com/channel/UCwaliuWsJWhdhk-KUfQHlYA">
        <i class="fab fa-youtube"></i>
      </a>
      <a class="btn text-2x" href="https://linkedin.com/company/metabolism-of-cities">
        <i class="fab fa-linked-in fa-linkedin"></i>
      </a>
      <a class="btn btn-primary mar-hor" href="{% url 'core:contact' %}">
        Contact us
      </a>
      <a class="btn btn-primary" href="{% url 'core:about' 'join' %}">
        Join us
      </a>
      <a class="btn text-2x" href="https://www.instagram.com/metabolism_of_cities/">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="btn text-2x" href="https://twitter.com/CityMetabolism">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </section>
</article>

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
  {% include 'multiplicity/sidebar.default.html' %}
{% endblock %}

{% block pagehead %}
<div id="page-head">
  <div id="page-title">
    <h1 class="page-header text-overflow">Metabolism of Cities</h1>
  </div>

</div>
{% endblock %}

{% block footer %}
{% endblock %}
