{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}
{% include 'multiplicity/includes/top.navbar.html' %}

<article class="home">
  <section class="what-is">
    <div class="row">
      <div class="col-lg-4">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-control">
              <i class="far fa-exclamation-circle fa-lg fa-fw"></i>
            </div>
            <h3 class="panel-title">Challenges</h3>
          </div>
          <div class="panel-body">
            <hr>
            <ol>
              <li>No standardized methodology</li>
              <span class="label label-dark">Multiplicity</span>
              <span class="label label-dark">UM studies</span>
              <span class="label label-dark">MSA</span>
              <li>Lack of application</li>
              <span class="label label-dark">Corporate MFA</span>
              <span class="label label-dark">Research</span>
              <span class="label label-dark">Development of tools</span>
              <span class="label label-dark">Communication</span>
              <li>Multi-level wicked problem</li>
              <li>Lack of awareness</li>
              <li>Data</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-control">
              <i class="far fa-wrench fa-lg fa-fw"></i>
            </div>
            <h3 class="panel-title">Activities</h3>
          </div>
          <div class="panel-body">
            <hr>
            <ol>
              <li>Multiplicity </li>
              <li>Public awareness campaigns</li>
              <li>Organizing seminars</li>
              <li>Speaking engagements</li>
              <li>Training / education</li>
              <li>Doing UM studies</li>
              <li>Corporate MFA</li>
              <li>Matchmaking platform</li>
              <li>MSA</li>
              <li>Communication for projects</li>
              <li>Research</li>
              <li>Collection and curation of publications</li>
              <li>Provision of OMAT</li>
              <li>Development of tools</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-control">
              <i class="far fa-box-full fa-lg fa-fw"></i>
            </div>
            <h3 class="panel-title">Purpose</h3>
          </div>
          <div class="panel-body">
            <hr>
            <ol type="A">
              <li>Create knowledge</li>
              The foundation of academic research is having the necessary information to conduct the research. At Metablism of Cities ...
              <li>Share knowledge</li>
              Cities are growing and this information is useful across the globe ...
              <li>Apply / implement knowledge</li>
              We must apply research in order to ...
              <li>Foster a community</li>
              Metabolism of Cities is as useful as the people who use it find it ...
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="for-whom">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="panel">
          <div class="panel-body text-center bg-mint">
            <i class="fas fa-users fa-fw fa-5x"></i>
          </div>
          <div class="panel-body">
            <h3>Citizens</h3>
            <hr>
            <p>
              Quas id repudiandae maiores et exercitationem ex. Qui aut maiores ipsam aut voluptatem magnam quis. Unde et eos sapiente culpa numquam modi et eum. Magnam ut provident doloremque eveniet omnis sint. Doloribus et iusto minus veniam id ducimus.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel">
          <div class="panel-body text-center bg-mint">
            <i class="fas fa-university fa-fw fa-5x"></i>
          </div>
          <div class="panel-body">
            <h3>City officials</h3>
            <hr>
            <p>
              Quo nihil doloremque est doloribus deleniti cum quo officia. Id ea error aut asperiores cum quos. Quia quos est beatae facilis repellat sint qui rerum. At nesciunt tempore illum molestiae omnis inventore. Ipsam iste aspernatur aliquid id aperiam ducimus eos.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel">
          <div class="panel-body text-center bg-mint">
            <i class="fas fa-graduation-cap fa-fw fa-5x"></i>
          </div>
          <div class="panel-body">
            <h3>Academia</h3>
            <hr>
            <p>
              Quibusdam aut minus deserunt dolorem nulla consequatur rem laudantium. Est beatae incidunt aliquam. Velit ullam illum dolore aut voluptate et doloremque vero. Molestias dolorem sed voluptatem amet non non voluptatem. Sunt mollitia ipsum pariatur dicta saepe sapiente.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel">
          <div class="panel-body text-center bg-mint">
            <i class="fas fa-piggy-bank fa-fw fa-5x"></i>
          </div>
          <div class="panel-body">
            <h3>Business</h3>
            <hr>
            <p>
              Qui sunt quia quis modi qui. Quod omnis et facilis et. Optio ut placeat voluptatum exercitationem sint dolor architecto commodi. Praesentium et neque sint. Occaecati reprehenderit qui maxime suscipit quis quia ut et. Ab fuga expedita necessitatibus quod.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="feeds">
    <div class="row">
      <div class="col-lg-4">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-control">
              <i class="fab fa-twitter fa-lg fa-fw"></i>
            </div>
            <h3 class="panel-title">Social media feed</h3>
          </div>
          <div class="panel-body">
            <hr>
            <div class="single-feed">
              <p class="pad-btm bord-btm text-sm">Doloribus quod ipsam quasi. Labore distinctio iste qui vero. Cumque iusto ea dignissimos voluptas. Omnis qui rerum et atque. Aspernatur iure magnam sit. Dolores dolore et voluptatem odit.</p>
              <div class="row text-sm">
                <div class="col-sm-6">
                  <a href="">@fulano</a>
                </div>
                <div class="col-sm-6 text-right">
                  <a href="">16 Nov 2018</a>
                </div>
              </div>
            </div>
            <div class="single-feed">
              <p class="pad-btm bord-btm text-sm">Doloribus quod ipsam quasi. Labore distinctio iste qui vero. Cumque iusto ea dignissimos voluptas. Omnis qui rerum et atque. Aspernatur iure magnam sit. Dolores dolore et voluptatem odit.</p>
              <div class="row text-sm">
                <div class="col-sm-6">
                  <a href="">@fulano</a>
                </div>
                <div class="col-sm-6 text-right">
                  <a href="">16 Nov 2018</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-control">
              <i class="fal fa-newspaper fa-lg fa-fw"></i>
            </div>
            <h3 class="panel-title">Latest news</h3>
          </div>
          <div class="panel-body">
            <hr>
            osdif
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-control">
              <i class="fal fa-file-alt fa-lg fa-fw"></i>
            </div>
            <h3 class="panel-title">Latest publications</h3>
          </div>
          <div class="panel-body">
            <hr>
            osdif
          </div>
        </div>
      </div>
    </div>
  </section>
</article>


{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">

  <div id="page-title">
    <h1 class="page-header text-overflow">Metabolism of Cities</h1>
  </div>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
