{% load static %}
<article class="main home onepage-wrapper">
  <section class="section hero">
    <div class="complete-center">
      <div class="container">
          <h1 class="white text" style="font-size:36px">Most islands heavily rely on imports of food, energy, construction materials and industrial manufactures. Much of it ends up as waste on the island, some of it toxic and non-biodegradable.</h1>
      </div>
    </div>
    <div class="downArrow bounce hidden-xs hidden-sm">
      <i class="fas fa-angle-down fa-4x"></i>
    </div>
  </section>

  <section class="section hero what-is">
    <div class="complete-center">
      <div class="container">
          <h1 class="white text" style="font-size:36px">Often infrastructure and buildings are concentrated in one or two locations on the island, putting all critical services at risk in the wake of an extreme weather event. </h1>
      </div>
    </div>
    <div class="downArrow bounce hidden-xs hidden-sm">
      <i class="fas fa-angle-down fa-4x"></i>
    </div>
  </section>

  <section class="section hero do-what">
    <div class="complete-center">
      <div class="container">
          <h1 class="white text" style="font-size:36px">
Islands have the potential to transition towards a circular economy, a more efficient way of using resources and build resilience. Circular economy is when by-products from one sector is a resource for another, thus reducing import of virgin materials and also waste. 
          </h1>
      </div>
    </div>
    <div class="downArrow bounce hidden-xs hidden-sm">
      <i class="fas fa-angle-down fa-4x"></i>
    </div>
  </section>

  <section class="section do-what">
    <div class="split do-what"></div>
    <div class="row">
      <div class="col-md-6 left-right-padding">
        <div class="standard split-text">
          <h2 class="white text">
            Metabolism of Cities’ mission is to collaborate on improving the sustainability of cities in a holistic way.
          </h2>
          <h2 class="white text">
Click on the boxes to find out how
          </h2>
        </div>
        <div class="create white text split-text">
          <h3 class="white text">
            <i class="fas fa-lightbulb fa-fw mar-rgt"></i> Creating knowledge
          </h3>
          <p>
            We aim to create new knowledge by participating and collaborating in research projects and developing new open source tools.
          </p>
        </div>
        <div class="share white text split-text">
          <h3 class="white text">
            <i class="fas fa-chart-network fa-fw mar-rgt"></i> Sharing knowledge
          </h3>
          <p>
            We aim to gather and curate (all) knowledge around urban metabolism in one central platform in order to make it accessible to different target audiences.
          </p>
        </div>
        <div class="apply white text split-text">
          <h3 class="white text">
            <i class="fas fa-puzzle-piece fa-fw mar-rgt"></i> Applying knowledge
          </h3>
          <p>
            We help policy makers and practitioners to tackle their challenges with Urban Metabolism thinking.
          </p>
        </div>
        <div class="community white text split-text">
          <h3 class="white text">
            <i class="fas fa-users fa-fw mar-rgt"></i> Fostering a community
          </h3>
          <p>
            We believe that tackling the urban sustainability challenge cannot be done alone. We want to foster a community of stakeholders that collaborates on developing solutions.
          </p>
        </div>
      </div>
      <div class="col-md-6 panels hidden-xs hidden-sm">
        <div class="row panel-collection">
          <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div panelClass="create" class="panel panel-warning panel-colorful pad-all" style="background:#1f7a8c">
              <p class="text-2x mar-no text-semibold">
                <i class="fas fa-lightbulb fa-fw mar-rgt"></i> Creating knowledge
              </p>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div panelClass="share" class="panel panel-success panel-colorful pad-all" style="background:#1f7a8c">
              <p class="text-2x mar-no text-semibold">
                <i class="fas fa-chart-network fa-fw mar-rgt"></i> Sharing knowledge
              </p>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div panelClass="apply" class="panel panel-danger panel-colorful pad-all" style="background:#1f7a8c">
              <p class="text-2x mar-no text-semibold">
                <i class="fas fa-puzzle-piece fa-fw mar-rgt"></i> Applying knowledge
              </p>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div panelClass="community" class="panel panel-info panel-colorful pad-all mar-no" style="background:#1f7a8c">
              <p class="text-2x mar-no text-semibold">
                <i class="fas fa-users fa-fw mar-rgt"></i> Fostering a community
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
