{% load static %}
<article class="main home onepage-wrapper">
  <section class="section hero">
    <div class="complete-center">
      <div class="container">
          <h1 class="white text" style="font-size:36px">Most islands heavily rely on imports of food, energy, construction materials. Much of it ends up as waste on the island.</h1>
      </div>
    </div>
    <div class="downArrow bounce hidden-xs hidden-sm">
      <i class="fas fa-angle-down fa-4x"></i>
    </div>
  </section>

  <section class="section hero what-is">
    <div class="complete-center">
      <div class="container">
          <h1 class="white text" style="font-size:36px">Most infrastructure on an island is concentrated in the coastal zone, putting all critical services at risk in the wake of an extreme weather event. </h1>
      </div>
    </div>
    <div class="downArrow bounce hidden-xs hidden-sm">
      <i class="fas fa-angle-down fa-4x"></i>
    </div>
  </section>

  <section class="section hero do-what">
    <div class="complete-center">
      <div class="container">
          <h1 class="white text" style="font-size:36px">Islands have the potential to transition towards a circular economy, a more efficient way of using resources and become leaders in climate action. </h1>
      </div>
    </div>
  </section>

</article>
