{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Methods{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}
{% include 'multiplicity/includes/top.navbar.html' %}

<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-body">

      {% for details in families %}
        <h4>{{ details }}</h4>
        {{ details.description|safe }}

        <table class="table table-striped">
          <tr>
            <th>Method</th>
            <th>Case studies</th>
            <th>Strengths</th>
            <th>Weaknesses</th>
          </tr>
          {% for method in list %}
            {% if method.category == details %}
              <tr>
                <td>{{ method }}</td>
                <td style="width:150px">{{ count|get_item:method.id }}</td>
                <td>{{ method.strengths|safe }}</td>
                <td>{{ method.weaknesses|safe }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>


        {% for method in list %}

          {% if method.category == details %}
            <h4>{{ method }}</h4>

            {{ method.description|safe }}

            <table class="table table-striped datatable">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Methodology</th>
                  <th>City</th>
                  <th>Year</th>
                </tr>
              </thead>
              <tbody class="list">
              {% for paper in paper_list|get_item:method.id %}
                <tr>
                  <td><a href="{% url 'core:reference' paper.id %}"><span class="title">{{ paper.title }}</span></a></td>
                  <td class="tags">
                    <div class="taglist">
                    {% for tag in paper.tags.all %}
                      {% if tag.parent_tag.id == 318 and tag.id != 1 %}
                        <div><span class="label label-default">{{ tag.shortcode }}</span></div>
                      {% endif %}
                    {% endfor %}
                    </div>
                  </td>
                  <td class="tags">
                    <div class="taglist">
                    {% for space in paper.spaces.all %}
                        <div><span class="label label-default">{{ space.name }}</span></div>
                        <span style="display:none">{{ space.country.name }}</span>
                    {% endfor %}
                    </div>
                  </td>
                  <td class="year">{{ paper.year }}</td>
              {% endfor %}
              </tbody>
            </table>

          {% endif %}

        {% endfor %}

      {% endfor %}

        <h4>Multi-methods</h4>

          <table class="table table-striped datatable">
            <thead>
              <tr>
                <th>Title</th>
                <th>Methodology</th>
                <th>City</th>
                <th>Year</th>
              </tr>
            </thead>
            <tbody class="list">
            {% for details in all %}
              {% if details.accountingMethods.count > 1 %}
                <tr>
                  <td><a href="{% url 'core:reference' details.id %}"><span class="title">{{ details.title }}</span></a></td>
                  <td class="tags">
                    <div class="taglist">
                    {% for tag in details.tags.all %}
                      {% if tag.parent_tag.id == 318 and tag.id != 1 %}
                        <div><span class="label label-default">{{ tag.shortcode }}</span></div>
                      {% endif %}
                    {% endfor %}
                    </div>
                  </td>
                  <td class="tags">
                    <div class="taglist">
                    {% for space in details.spaces.all %}
                        <div><span class="label label-default">{{ space.name }}</span></div>
                        <span style="display:none">{{ space.country.name }}</span>
                    {% endfor %}
                    </div>
                  </td>
                  <td class="year">{{ details.year }}</td>
              {% endif %}
            {% endfor %}
            </tbody>
          </table>


        <h4>Brief summary of method categories</h4>

        <p>Note: each time a method is used, we add another point.</p>

        <table class="table table-striped">
          <tr>
            <th>Method category</th>
            <th>Case studies</th>
            <th>Strengths</th>
            <th>Weaknesses</th>
          </tr>
          {% for details in families %}
            <tr>
              <td>{{ details }}</td>
              <td style="width:150px">{{ family_count|get_item:details.id }}</td>
              <td>{{ details.strengths|safe }}</td>
              <td>{{ details.weaknesses|safe }}</td>
            </tr>
          {% endfor %}
        </table>

        <h4>Brief summary of method categories</h4>

        <p>Note: each paper is classified only ONCE</p>

        <table class="table table-striped">
          <tr>
            <th>Method category</th>
            <th>Case studies</th>
          </tr>
          {% for key,value in all_family.items %}
            <tr>
              <td>{{ key }}</td>
              <td style="width:150px">{{ value }}</td>
            </tr>
          {% endfor %}
            <tr>
              <td>Multi-method</td>
              <td>{{ all_multi }}</td>
            </tr>
            <tr>
              <th>Total</th>
              <th>{{ grand_total }}</th>
            </tr>
        </table>

        <h4>Year-by-year overview</h4>

        <p>Note: each paper is classified only ONCE</p>

        <table class="table table-striped">
          <tr>
            <th>Method category</th>
            <th>Case studies</th>
            {% for year in years %}
              <th>{{ year }}</th>
            {% endfor %}
          </tr>
          {% for key,value in all_family.items %}
            <tr>
              <td>{{ key }}</td>
              <td style="width:150px">{{ value }}</td>
              {% for year in years %}
                <td>{{ all_by_year.year.key }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
            <tr>
              <td>Multi-method</td>
              <td>{{ all_multi }}</td>
            </tr>
            <tr>
              <th>Total</th>
              <th>{{ grand_total }}</th>
            </tr>
        </table>

      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block head %}
<style type="text/css">
.tt{text-align:center}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
  <div id="page-title">
    <h1 class="page-header text-overflow">About Us</h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="/"><i class="pli-home"></i></a></li>
    <li><a href="{% url 'core:about' %}">About</a></li>
    <li class="active">About Us</li>
  </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
