{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Methodologies{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block head %}
<style type="text/css">
#container.boxed-layout.reveal #content-container, #container.boxed-layout #content-container{min-height:0}
table{margin:10px}
th.width200{width:200px}
.table td{white-space: nowrap}
#container{overflow:auto}
a{color:#1F7A8C;font-weight:bold}
.hide{display:none}
</style>
{% endblock %}

{% block content %}
{% include 'multiplicity/includes/top.navbar.html' %}

</div>
</div>
</div>

        <h3>Methodologies</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th class="hide">Material scope</th>
              <th>Substances</th>
              <th>Materials</th>
              <th>Energy</th>
              <th>Outputs</th>
              <th>Recycling</th>
              <th>Stock changes</th>
              <th>Specific goods and services</th>
              <th>Production processes</th>
              <th>Between-flows</th>
              <th class="hide">Classifications</th>
              <th class="hide">Scale</th>
              <th class="hide">Entity</th>
              <th class="hide">Temporal study boundary</th>
              <th class="hide">Data sources</th>
              <th class="hide">Cradle to grave</th>
              <th class="hide">Hidden flows</th>
              <th class="hide">Impacts</th>
              <th class="hide">Main unit</th>
              <th class="hide">Mass balancing</th>
              <th class="hide">Avoidance double counting</th>
              <th class="hide">Sustainability criteria</th>
              <th class="hide">Developed by</th>
              <th class="hide">Based on</th>
              <th class="hide">Gaps addressed</th>
              <th class="hide">Next steps</th>
              <th class="hide">Materials catalog</th>
              <th class="hide">Also known as</th>
              <th class="hide">Representative paper</th>
              <th class="hide">Internal notes</th>
            </tr>
          </thead>
          <tbody>
          {% for details in list %}
            <tr>
              <td {% if details.complete %}style='background:#c4dac4'{% endif %}><a href="admin/core/method/{{ details.id }}/change/">{{ details.tag|default_if_none:"" }}</a></td>
              <td class="hide">{{ details.material_scope|default_if_none:"" }}</td>
              <td>{{ details.substances|default_if_none:"" }}</td>
              <td>{{ details.materials|default_if_none:"" }}</td>
              <td>{{ details.energy|default_if_none:"" }}</td>
              <td>{{ details.outputs|default_if_none:"" }}</td>
              <td>{{ details.recycling|default_if_none:"" }}</td>
              <td>{{ details.stock_changes|default_if_none:"" }}</td>
              <td>{{ details.specific|default_if_none:"" }}</td>
              <td>{{ details.production|default_if_none:"" }}</td>
              <td>{{ details.between_flows|default_if_none:"" }}</td>
              <td class="hide">{% for classification in details.classification.all %}{{ classification }}<br>{% endfor %}</td>
              <td class="hide">{% for scale in details.scale.all %}{{ scale }}<br>{% endfor %}</td>
              <td class="hide">{{ details.entity|default_if_none:"" }}</td>
              <td class="hide">{{ details.temporal_study|default_if_none:"" }}</td>
              <td class="hide">{{ details.data_sources|default_if_none:"" }}</td>
              <td class="hide">{{ details.cradle_to_grave|default_if_none:"" }}</td>
              <td class="hide">{{ details.hidden_flows|default_if_none:"" }}</td>
              <td class="hide">{{ details.impacts|default_if_none:"" }}</td>
              <td class="hide">{{ details.main_measurement_unit|default_if_none:"" }}</td>
              <td class="hide">{{ details.mass_balancing|default_if_none:"" }}</td>
              <td class="hide">{{ details.avoidance_double_counting|default_if_none:"" }}</td>
              <td class="hide">{{ details.sustainability_reference_criteria|default_if_none:"" }}</td>
              <td class="hide">{{ details.developed_by|default_if_none:"" }}</td>
              <td class="hide">{{ details.based_on|default_if_none:"" }}</td>
              <td class="hide">{{ details.gaps_addressed|default_if_none:"" }}</td>
              <td class="hide">{{ details.next_steps|default_if_none:"" }}</td>
              <td class="hide">{{ details.materials_catalog|default_if_none:"" }}</td>
              <td class="hide">{{ details.also_known_as|default_if_none:"" }}</td>
              <td class="hide">{{ details.representative_paper|default_if_none:"" }}</td>
              <td class="hide">{{ details.internal_notes|default_if_none:"" }}</td>

            </tr>
          {% endfor %}
          </tbody>
        </table>


  <div style="padding:30px">
  {% for details in list %}

    <h2>{{ details }}</h2>

    {{ details.tag.description|safe }}

    <ul>
      {% for publication in details.tag.reference_set.all %}
        {% if filter in publication.tags.all %}
          <li>{{ publication }} ({{ publication.year }})</li>
        {% endif %}
      {% endfor %}
    </ul>

  {% endfor %}


  <h1>Methodology categories</h1>
  {% for details in categories %}
    <h2>{{ details }}</h2>
    {{ details.description|safe }}
  {% endfor %}

  </div>

{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
  <div id="page-title">
    <h1 class="page-header text-overflow">About Us</h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="/"><i class="pli-home"></i></a></li>
    <li><a href="{% url 'core:about' %}">About</a></li>
    <li class="active">About Us</li>
  </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
