{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Methods{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}
{% include 'multiplicity/includes/top.navbar.html' %}

<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-body">

      {% for details in families %}
        <h4>{{ details }}</h4>
        {{ details.description|safe }}

        <table class="table table-striped">
          <tr>
            <th>Method</th>
            <th>Case studies</th>
            <th>Strengths</th>
            <th>Weaknesses</th>
          </tr>
          {% for method in list %}
            {% if method.category == details %}
              <tr>
                <td>{{ method }}</td>
                <td style="width:150px">{{ count|get_item:method.id }}</td>
                <td>{{ method.strengths|safe }}</td>
                <td>{{ method.weaknesses|safe }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>

        {% for method in list %}

          {% if method.category == details %}
            <h4>{{ method }}</h4>

            {{ method.description|safe }}

            <table class="table table-striped datatable">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Methodology</th>
                  <th>City</th>
                  <th>Year</th>
                </tr>
              </thead>
              <tbody class="list">
              {% for paper in paper_list|get_item:method.id %}
                <tr>
                  <td><a href="{% url 'core:reference' paper.id %}"><span class="title">{{ paper.title }}</span></a></td>
                  <td class="tags">
                    <div class="taglist">
                    {% for tag in paper.tags.all %}
                      {% if tag.parent_tag.id == 318 and tag.id != 1 %}
                        <div><span class="label label-default">{{ tag.shortcode }}</span></div>
                      {% endif %}
                    {% endfor %}
                    </div>
                  </td>
                  <td class="tags">
                    <div class="taglist">
                    {% for space in paper.spaces.all %}
                      {% if space.name not in remove_from_list %}
                        <div><span class="label label-default">{{ space.name }}</span></div>
                        <span style="display:none">{{ space.country.name }}</span>
                      {% endif %}
                    {% endfor %}
                    </div>
                  </td>
                  <td class="year">{{ paper.year }}</td>
              {% endfor %}
              </tbody>
            </table>

          {% endif %}

        {% endfor %}

      {% endfor %}

        <h4>Multi-methods</h4>

          <table class="table table-striped datatable">
            <thead>
              <tr>
                <th>Title</th>
                <th>Methodology</th>
                <th>City</th>
                <th>Year</th>
              </tr>
            </thead>
            <tbody class="list">
            {% for details in all %}
              {% if details.accountingMethods.count > 1 %}
                <tr>
                  <td><a href="{% url 'core:reference' details.id %}"><span class="title">{{ details.title }}</span></a></td>
                  <td class="tags">
                    <div class="taglist">
                    {% for tag in details.tags.all %}
                      {% if tag.parent_tag.id == 318 and tag.id != 1 %}
                        <div><span class="label label-default">{{ tag.shortcode }}</span></div>
                      {% endif %}
                    {% endfor %}
                    </div>
                  </td>
                  <td class="tags">
                    <div class="taglist">
                    {% for space in details.spaces.all %}
                      {% if space.name not in remove_from_list %}
                        <div><span class="label label-default">{{ space.name }}</span></div>
                        <span style="display:none">{{ space.country.name }}</span>
                      {% endif %}
                    {% endfor %}
                    </div>
                  </td>
                  <td class="year">{{ details.year }}</td>
              {% endif %}
            {% endfor %}
            </tbody>
          </table>


        <h4>Brief summary of method categories</h4>

        <p>Note: each time a method is used, we add another point.</p>

        <table class="table table-striped">
          <tr>
            <th>Method category</th>
            <th>Case studies</th>
            <th>Strengths</th>
            <th>Weaknesses</th>
          </tr>
          {% for details in families %}
            <tr>
              <td>{{ details }}</td>
              <td style="width:150px">{{ family_count|get_item:details.id }}</td>
              <td>{{ details.strengths|safe }}</td>
              <td>{{ details.weaknesses|safe }}</td>
            </tr>
          {% endfor %}
        </table>

        <h4>Brief summary of method categories</h4>

        <p>Note: each paper is classified only ONCE</p>

        <table class="table table-striped">
          <tr>
            <th>Method category</th>
            <th>Case studies</th>
          </tr>
          {% for key,value in all_family.items %}
            <tr>
              <td>{{ key }}</td>
              <td style="width:150px">{{ value }}</td>
            </tr>
          {% endfor %}
            <tr>
              <th>Total</th>
              <th>{{ grand_total }}</th>
            </tr>
        </table>

        <div id="piechart" style="height:500px;width:700px"></div>

        <h4>Year-by-year overview</h4>

        <script src="{% static 'ie/js/highcharts.js' %}"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/drilldown.js"></script>
        <script src="https://code.highcharts.com/modules/streamgraph.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/treemap.js"></script>
        <script src="https://code.highcharts.com/modules/sankey.js"></script>

        {% include 'multiplicity/graphs/options.html' %}
        {% include 'multiplicity/graphs/series.time.html' %}
        {% include 'multiplicity/graphs/series.column.html' %}
        {% include 'multiplicity/graphs/series.drill.html' %}

        <script type="text/javascript">
          // Build the chart
          Highcharts.chart('piechart', {
              chart: {
                  type: 'pie'
              },
              title: {
                  text: 'Breakdown by method group'
              },
              tooltip: {
                  pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
              },
              colors: colorScheme,
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      dataLabels: {
                          enabled: false
                      },
                      showInLegend: true
                  }
              },
              series: [{
                  name: 'Case studies',
                  colorByPoint: true,
                  data: [
                  {% for key,value in all_family.items %}
                    {
                        name: '{{ key }}',
                        y: {{ value }}
                    },
                  {% endfor %}
                  ]
              }]
          });
        </script>

        <p>Note: each paper is classified only ONCE</p>

        <div class="tablecontainer">
          <table class="table table-striped">
            <tr>
              <th>Method category</th>
              {% for year in years %}
                <th>{{ year }}</th>
              {% endfor %}
            </tr>
            {% for key,value in all_family.items %}
              <tr>
                <td>{{ key }}</td>
                {% for year in years %}
                  <td>{{ all_by_year|get_item:key|get_item:year }} </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </table>
        </div>

        <div id="years" style="height:700px"></div>

<script type="text/javascript">
Highcharts.chart('years', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Method use over time'
    },
    xAxis: {
        categories: [{% for year in years %}'{{ year }}',{% endfor %}]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Number of case studies'
        },
    },
    legend: {
      reversed: true
    },
    colors: colorScheme,
    tooltip: {
        headerFormat: '<b>{point.x}</b><br/>',
        pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
    },
    plotOptions: {
        column: {
            stacking: 'normal',
            dataLabels: {
                enabled: true
            }
        }
    },
    series: [
      {% for key,value in all_family.items %}
        {
          name: '{{ key }}',
          data: [{% for year in years %}{{ all_by_year|get_item:key|get_item:year }},{% endfor %}]
        },
      {% endfor %}
    ]
});
</script>

      </div>
    </div>
  </div>
</div>



{% endblock %}

{% block head %}
<style type="text/css">
.tt{text-align:center}
.tablecontainer{width:100%;overflow-x:scroll}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
  <div id="page-title">
    <h1 class="page-header text-overflow">About Us</h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="/"><i class="pli-home"></i></a></li>
    <li><a href="{% url 'core:about' %}">About</a></li>
    <li class="active">About Us</li>
  </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
