{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ page|title }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}


<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-body">
      <div class="panel-body">
        <h1>{{ page.title }}</h1>
        {{ page.content|safe }}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-body panel-colorful panel-default">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
          {% for details in list %}
            <tr>
              <td><a href="{% url 'core:news' details.id %}">{{ details.title }}</a>
              {% if page.title == "Blog" and details.authors %}
              <br>
                {% for author in details.authors.all %}
                  <span>
                    {{ author }}
                  </span>
                {% endfor %}
              {% endif %}
              </td>
              <td>{{ details.created_at|date:"M d, Y" }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</div>

{% endblock %}

{% block head %}
<style type="text/css">
.date{color:#333;opacity:0.7}
.col-sm-4 img{max-width:100%}
.panel-body img{max-width:200px;float:right;border:1px solid #ccc; padding:4px;margin:5px}
td span{margin-right:10px}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">{{ page|title }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'core:community_home' %}">Community</a></li>
        <li class="active">{{ page|title }}</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
