{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ page.title }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

{% if page.id == 37 %}
  {{ page.content|safe }}
{% else %}
  <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-body">
          <div class="panel-heading">
              <h3>{{ page.title }}</h3>
          </div>
          <div class="panel-body">

            {% if request.GET.report == "error" %}
              <div class="alert alert-info">
                Thanks for reporting errors to us. Please provide as many details as possible and 
                we will do our best to correct this error as soon as possible.
              </div>
            {% endif %}

              <p>
                  {{ content|safe }}
              </p>
          </div>
          </div>
      </div>
  </div>

{% endif %}

{% endblock %}

{% block head %}
  {{ page.head|default_if_none:""|safe }}
{% endblock %}
