{% extends 'multiplicity/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}{{ info }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">

  <div class="col-lg-8">

    <div class="panel panel-body">
      <div class="panel-heading">
        <h3>{{ info }}</h3>
      </div>
      <div class="panel-body">
        <p>{{ info.profile }}</p>

      </div>
    </div>

    {% if references %}
      <h4>Publications</h4>
      {% include 'core/includes/references.list.html' %}
    {% endif %}


    {% if videos %}
      <h2>Videos</h2>
      {% include 'multiplicity/includes/multimedia.html' %}
    {% endif %}

    {% if log %}

      <div class="panel panel-body">
        <div class="panel-heading">
          <h2>Score</h2>
          <p>Most recent activity</p>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Action</th>
                <th>Reference</th>
                <th>Points</th>
              </tr>
            </thead>
            <tbody>
            {% for details in log %}
              <tr>
                <td>{{ details.date|naturalday }}</td>
                <td>{{ details.action }}</td>
                <td>
                {% if details.space.city %}
                  <a href="{% url 'multiplicity:space' details.space.city.slug details.space.type.slug details.space.slug %}">{{ details.space }}</a>
                {% else %}
                  <a href="{% url 'multiplicity:city' details.space.slug %}">{{ details.space.name }}</a>
                {% endif %}

                {% if details.model %}
                  <br>{{ details.model }}
                {% endif %}
                </td>
                <td>{{ details.points }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    {% endif %}

    </div>

    {% if info.city %}
      <div class="col-lg-4">
        <div class="panel widget">
          {% if info.city.system_photo %}
            <div class="coverpic bg-purple">
              <img class="img-responsive" src="{{ info.city.system_photo.image.url }}" alt="">
            </div>
            {% endif %}

            <div class="widget-body text-center">
            {% if info.image %}
              <img alt="Profile picture: {{ info }}" class="widget-img img-circle img-border-light" src="{{ info.image.url }}">
            {% endif %}

            <h4 class="mar-no text-main">{{ info }}</h4>
            <p class="text-muted">{{ info.city.name }}, {{ info.city.country.name }}</p>

            <div class="btn-group btn-group-justified pad-top">
              {% if info.website %}
                <a href="{{ info.website }}" class="btn btn-icon bord-no icon-lg add-tooltip fa fa-link" data-original-title="Website" data-container="body"></a>
              {% endif %}
              {% if info.twitter %}
                <a href="{{ info.twitter }}" class="btn btn-icon bord-no icon-lg add-tooltip fab fa-twitter" data-original-title="Twitter" data-container="body"></a>
              {% endif %}
              {% if info.orcid %}
                <a href="https://orcid.org/{{ info.orcid }}" class="btn btn-icon bord-no icon-lg add-tooltip fas fa-id-card-alt" data-original-title="ORCID" data-container="body"></a>
              {% endif %}
              {% if info.researchgate %}
                <a href="{{ info.researchgate }}" class="btn btn-icon bord-no icon-lg add-tooltip fab fa-researchgate" data-original-title="Research Gate" data-container="body"></a>
              {% endif %}
              {% if info.linkedin %}
                <a href="{{ info.linkedin }}" class="btn btn-icon bord-no icon-lg add-tooltip fab fa-linkedin" data-original-title="LinkedIn" data-container="body"></a>
              {% endif %}
            </div>

          </div>
        </div>

        {% if info.member_since %}
          <div class="panel">
            <div class="panel-body text-center bg-success infobox">
              <img src="{% static 'ie/img/logo.white.svg' %}" alt="" />
              <p class="pad-top"><strong>{{ info.firstname }} is a member of Metabolism of Cities</strong></p>
              <p>Member since {{ info.member_since }}</p>
            </div>
          </div>
        {% endif %}

        {% if info.user.log.all %}
          <div class="panel points">
            <div class="panel-body text-center bg-info infobox">
              <h4 class="pad-top">MultipliCity Contributions</h4>
              <p>
                Score: 
                <strong>{{ points.total }} points</strong>
              </p>
            </div>
          </div>
        {% endif %}

        </div>

      {% endif %}

    </div>

  </div>

</div>

{% endblock %}

{% block head %}
<style type="text/css">
.infobox img{max-width:120px}
.coverpic img{
  width: 100%;
  max-height: 190px;
  object-fit: cover;
}
.points h4 {
  color: #fff;
}
.points .bg-info a {
  color: #333;
}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">People</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'core:about' %}">Community</a></li>
        <li><a href="{% url 'core:people' %}">People</a></li>
        <li class="active">{{ info }}</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
