{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ page.title }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-body">
      <div class="panel-body">
        <h3>{{ page.title }}</h3>
        <p>{{ page.content|safe }}</p>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>Title and institution</th>
      {% if page.title == "Projects" %}
        <th>Project leader</th>
      {% else %}
        <th>Researcher</th>
      {% endif %}
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  {% for details in list %}
    <tr>
      <td><a href="{% url 'core:project' details.type details.id %}">{{ details.name }}</a><br>
        <em>{{ details.institution }}</em>
      </td>
      <td>{{ details.researcher }}</td>
      <td data-sort="{% if details.start_date %}{{ details.start_date|date:"Ymd" }}{% else %}{{ details.status }}{% endif %}">{{ details.status }}<br>

      {% if details.start_date and not details.end_date %}
        <em>Start: {{ details.start_date|date:"Y" }}</em>
      {% elif details.start_date and details.end_date %}
        <em>{{ details.start_date|date:"Y" }}{% ifnotequal details.end_date|date:"Y" details.start_date|date:"Y" %}-{{ details.end_date|date:"Y" }}{% endifnotequal %}</em>
      {% endif %}
      
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block head %}
<style type="text/css">
td {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
  <div id="page-title">
    <h1 class="page-header text-overflow">{{ page.title }}</h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="./"><i class="pli-home"></i></a></li>
    <li><a href="{% url 'core:section_home' page.section %}">{{ page.get_section_display }}</a></li>
    <li class="active">{{ page.title }}</li>
  </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
