{% extends 'multiplicity/base.html' %}
{% load humanize %}

{% block title %}Projects{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}
{% include 'multiplicity/includes/top.navbar.html' %}

<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-body">
        <h3>Full project overview</h3>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Project</th>
              <th>Cities</th>
              <th>Materials</th>
              <th>Methodologies</th>
              <th>Budget</th>
              <th>Funding programme</th>
            </tr>
          </thead>
          <tbody>
          {% for details in list %}
            <tr>
              <td>{{ details.name }}<span class="hide">{{ details.full_name }}</span><br>
                {{ details.start_date|date:"Y" }} -
                {{ details.end_date|date:"Y" }} 
              </td>
              <td>{% for city in details.reference_spaces.all %}{{ city.name }}<br>{% endfor %}</td>
              <td>{% for material in details.material_groups.all %}{{ material.name }}<br>{% endfor %}</td>
              <td>{% for methodology in details.methodologies_tags.all %}{{ methodology.name }}<br>{% endfor %}</td>
              <td>{% if details.budget %}&euro; {{ details.budget|floatformat:0|intcomma }}{% endif %}</td>
              <td>{{ details.funding_program }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        <h3>Projects using accounting methodologies</h3>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Project</th>
              <th>Aim</th>
              <th>Methodologies</th>
              <th>Relevance</th>
            </tr>
          </thead>
          <tbody>
          {% for details in list %}
            {% if details.methodologies_tags.all %}
              <tr>
                <td>{{ details.name }}<span class="hide">{{ details.full_name }}</span><br>
                  {{ details.start_date|date:"Y" }} -
                  {{ details.end_date|date:"Y" }} 
                </td>
                <td>{{ details.print_aim|default_if_none:"" }}</td>
                <td>{% for methodology in details.methodologies_tags.all %}{{ methodology.name }}<br>{% endfor %}</td>
                <td>{{ details.print_relevance|default_if_none:"" }}</td>
              </tr>
            {% endif %}
          {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
  <div id="page-title">
    <h1 class="page-header text-overflow">About Us</h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="/"><i class="pli-home"></i></a></li>
    <li><a href="{% url 'core:about' %}">About</a></li>
    <li class="active">About Us</li>
  </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
