{% extends 'multiplicity/base.html' %}
{% load humanize %}

{% block title %}Projects{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}
{% include 'multiplicity/includes/top.navbar.html' %}

<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-body">
        <h3>Full project overview</h3>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Project</th>
              <th>Aim</th>
              <th>Materials</th>
              <th>Methods</th>
              <th>Budget</th>
              <th>Funding programme</th>
            </tr>
          </thead>
          <tbody>
          {% for details in list_all %}
            <tr>
              <td>
              <strong>{{ details.name }}</strong><br>
                {{ details.start_date|date:"Y" }} -
                {{ details.end_date|date:"Y" }} 
                <br><br><em>{% for city in details.reference_spaces.all %}{{ city.name }}<br>{% endfor %}</em>
              </td>
              <td>
              <strong>{{ details.full_name }}</strong><br>
              {{ details.print_aim|default_if_none:"" }}</td>
              <td>{% for material in details.material_groups.all %}{{ material.name }}<br>{% endfor %}</td>
              <td>
              {% if not details.methodologies_tags.all %}
                <em>No accounting methods used</em><br>
              {% else %}
                {% for methodology in details.methodologies_tags.all %}{{ methodology.name }}<br>{% endfor %}
              {% endif %}
              </td>
              <td>{% if details.budget %}&euro; {{ details.budget|floatformat:0|intcomma }}{% endif %}</td>
              <td>{{ details.funding_program }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        <h3>Detailed overview</h3>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Project</th>
              <th>Methods &amp; materials</th>
              <th>Relevance</th>
            </tr>
          </thead>
          <tbody>
          {% for details in list %}
            {% if details %}
              <tr>
                <td>
                <strong>{{ details.name }}</strong> - 
                {{ details.full_name }}
                <br><br>
                  {{ details.start_date|date:"Y" }} -
                  {{ details.end_date|date:"Y" }} 
                  <br><em>{% for city in details.reference_spaces.all %}
                  {{ city.name }}{% if not forloop.last %},{% endif %} {% endfor %}</em>
                </td>
                <td>
                {% if not details.methodologies_tags.all %}
                  <em>No accounting methods used</em><br>
                {% else %}
                  {% for methodology in details.methodologies_tags.all %}
                  {% if methodology.is_accounting_method  %}
                    {{ methodology.shortcode }}
                  {% elif methodology.name == "Unknown" %}
                    <em>Unknown</em>
                  {% else %}
                    <span style="color:#b4a4a4">{{ methodology.shortcode }}</span>
                  {% endif %}
                  <br>
                  {% endfor %}
                {% endif %}
                ----------------<br>
                {% for material in details.material_groups.all %}{{ material.name }}<br>{% endfor %}
                <td>
                <em>{{ details.get_relevance_display }}</em><br>
                {{ details.print_relevance|default_if_none:"" }}</td>
              </tr>
            {% endif %}
          {% endfor %}
          </tbody>
        </table>
        <p>a</p>

      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
  <div id="page-title">
    <h1 class="page-header text-overflow">About Us</h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="/"><i class="pli-home"></i></a></li>
    <li><a href="{% url 'core:about' %}">About</a></li>
    <li class="active">About Us</li>
  </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
