{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ info.name }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <h3>{{ info.name }}</h3>
  </div>
</div>

<div class="row">

  <div class="col-lg-8">
      <div class="text-justify">
        <h4>Summary</h4>
        <p>{{ info.description|safe }}</p>
    </div>

    <div class="panel panel-default panel-body statusdetails">

      <div class="row">
        {% if info.start_date %}
          <div class="col-md-4">
            <p>Start date</p>
            <p>{{ info.start_date|date:"M d, Y" }}</p>
          </div>
        {% endif %}

        {% if info.start_date %}
          <div class="col-md-4">
            <p>End date</p>
            <p>{{ info.end_date|date:"M d, Y" }}</p>
          </div>
        {% endif %}

          <div class="col-md-4">
            <p>Status</p>
            <p>{{ info.get_status_display }}</p>
          </div>

        {% if info.status != 'finished' and info.target_finish_date %}
          <div class="col-md-4">
            <p>Targete completion date</p>
            <p>{{ info.target_finish_date }}</p>
          </div>
        {% endif %}

      </div>

    </div>

    {% if references %}
        <h4 style="margin-top:50px">Related publications</h4>
        {% include 'core/includes/references.list.html' %}
    {% endif %}

    <p>
      <a href="{% url 'core:projects' info.type %}" class="btn btn-info">
        Back to list
      </a>
    </p>


  </div>
  <div class="col-lg-4">
    <div class="panel">
      <div class="panel-body panel-colorful panel-success">

        <h2><i class="fa fa-users"></i> Details</h2>

        <dl class="dl">
          {% if info.type == 'regular' %}
            <dt>Project leader</dt>
          {% else %}
            <dt>Researcher</dt>
          {% endif %}
          <dd>{{ info.researcher }}</dd>

          {% if info.supervisor %}
            <dt>Supervisor</dt>
            <dd>{{ info.supervisor }}</dd>
          {% endif %}

          {% if info.email %}
            <dt>E-mail</dt>
            <dd>{{ info.email }}</dd>
          {% endif %}

          {% if info.institution %}
            <dt>Institution</dt>
            <dd>{{ info.institution }}</dd>
          {% endif %}

          {% if info.url %}
            <dt>Website</dt>
            <dd>
              <a href="{{ info.url }}">{{ info.url }}</a>
            </dd>
          {% endif %}

        </dl>
      </div>
    </div>

    <div class="panel panel-colorful panel-warning">
      <div class="panel-body">
        <h3>Contribute</h3>
        <p>
          Do you see any errors or do you know of any missing information?
        </p>
        <ul class="nolist">
          <li><a href="{% url 'core:contact' %}" class="btn btn-default"><i class="fa fa-envelope"></i> Contact us</a></li>
          <li><a href="{% url 'core:project_form' %}" class="btn btn-default"><i class="fa fa-plus"></i> Add your own project</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>


{% endblock %}

{% block head %}
<style type="text/css">
.dl dt{margin-top:30px}
.statusdetails .col-md-4 p:first-child {
  font-weight:bold;
}

</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
  <div id="page-title">
    <h1 class="page-header text-overflow">
      {{ info.get_type_display }}
    </h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="./"><i class="pli-home"></i></a></li>
    {% if SITE_ID == 1 %}
      <li><a href="{% url 'core:community_home' %}">Community</a></li>
    {% else %}
      <li><a href="{% url 'core:section_home' 'research' %}">Research</a></li>
    {% endif %}
      <li><a href="{% url 'core:projects' info.type %}">{{ info.get_type_display }}</a></li>
    <li class="active">{{ info.name|truncatechars:40 }}</li>
  </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
