{% extends 'multiplicity/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}{% if info %}Edit{% else %}Add{% endif %} Publication{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

{% if request.user.is_staff and info %}
  <ul class="nav nav-list nav-tabs">
    <li class="active"><a href="{% url "core:editreference" info.id %}">Publication details</a></li>
    <li><a href="{% url "core:editreference_authors" info.id %}">Authors</a></li>
    <li><a href="{% url "core:editreference_tags" info.id %}">Tags</a></li>
    <li><a href="{% url "core:editreference_multiplicity" info.id %}">MultipliCity settings</a></li>
  </ul>
{% endif %}



<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-body">
        <div class="panel-heading">
            <h3>{% if info %}Edit{% else %}Add{% endif %} publication</h3>
        </div>
        <div class="panel-body">

          <div>
            {{ page.content|safe }}
          </div>

          <form method="post" class="form form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}

            {% if not request.user.is_authenticated %}
              <div class="form-group">
                <label class="col-md-3 control-label">
                  Your name
                </label>
                <div class="col-md-9">
                  <input type="text" name="name" placeholder="Your name" class="form-control" required />
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">
                  E-mail
                </label>
                <div class="col-md-9">
                  <input type="text" name="email" placeholder="Your e-mail address" class="form-control" required />
                </div>
              </div>
            {% endif %}

            {% buttons %}
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-success">Save</button>
              </div>
            {% endbuttons %}
          </form>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'ie/css/select2.min.css' %}" />
<style type="text/css">
textarea[name='authorlist']{height:100px}
.panel-body form{margin-top:20px}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">{% if info %}Edit{% else %}Add{% endif %} publication</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="/"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'core:resources_home' %}">Resources</a></li>
        <li><a href="{% url 'core:references' %}">Publications</a></li>
        {% if info %}
          <li><a href="{% url 'core:reference' info.id %}">{{ info.title|truncatewords:6 }}</a></li>
        {% endif %}
        <li class="active">{% if info %}Edit{% else %}Add{% endif %} publication</li>
    </ol>

</div>
{% endblock %}

{% block footer %}
  <script type="text/javascript" src="{% static 'ie/js/select2.min.js' %}"></script>
  <script type="text/javascript">
  $(function(){
    $("#id_journal").select2();
    {% if not info %}
      $("select[name=language]").val("EN");
      $("select[name=type]").val("16");
    {% endif %}
    $("select[name=language]").change(function(){
      if ($(this).val() == "EN") {
        $("#id_title_original_language").closest(".form-group").hide('fast');
        $("#id_abstract_original_language").closest(".form-group").hide('fast');
      } else {
        $("#id_title_original_language").closest(".form-group").show('fast');
        $("#id_abstract_original_language").closest(".form-group").show('fast');
      }
    });
    $("select[name=type]").change(function(){
      if ($(this).val() == "16") {
        $("#id_journal").closest(".form-group").show('fast');
        $("#id_doi").closest(".form-group").show('fast');
      } else {
        $("#id_journal").closest(".form-group").hide('fast');
        $("#id_doi").closest(".form-group").hide('fast');
      }
      if ($(this).val() == "5" || $(this).val() == "6") {
        $("#id_isbn").closest(".form-group").show('fast');
      } else {
        $("#id_isbn").closest(".form-group").hide('fast');
      }
      if ($(this).val() == "29") {
        $("#id_comments").attr("placeholder", "What level was the thesis (bachelor, masters, etc)? Which faculty and university? Who was the supervisor?");
      } else if ($(this).val() == "6") {
        $("#id_comments").attr("placeholder", "Please provide details of the book that this section / chapter is part of.");
      } else if ($(this).val() == "9") {
        $("#id_comments").attr("placeholder", "Please provide details of the conference (name, location, dates, etc).");
      } else {
        $("#id_comments").attr("placeholder", "Any additional information.");
      }
    });
    $("select[name=language]").change();
    $("select[name=type]").change();
    $("input[name=title]").attr("placeholder", "Do not write in all-caps");
    $("textarea[name=authorlist]").attr("placeholder", "Add all authors, preferably in this format: Last Name, First name; Last Name, First Name");
  });
  </script>
{% endblock %}
