{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<h1>Browse our library</h1>

<div class="panel">

  <div class="pad-all file-manager">
    <div class="fixed-fluid">
      <div class="fixed-sm-300 pull-sm-left file-sidebar">

        <p class="pad-hor mar-top text-main text-bold text-sm text-uppercase">Categories</p>
        <div class="list-group bg-trans pad-btm bord-btm maintags">
          <div id="results">
            {% for tag in maintags %}
            <a href="#" data-id="{{ tag.id }}" class="list-group-item browse-tags">
              <i class="pli-folder icon-lg icon-fw"></i> {{ tag }}
            </a>
            {% endfor %}
          </div>
        </div>

        <p class="pad-hor mar-top text-main text-bold text-sm text-uppercase">Tags</p>
        <ul class="list-inline mar-hor">
          <li class="tag tag-sm">
            <a href="#">Family</a>
          </li>
          <li class="tag tag-sm">
            <a href="#">Home</a>
          </li>
          <li class="tag tag-sm">
            <a href="#">Work</a>
          </li>
          <li class="tag tag-sm">
            <a href="#">Film</a>
          </li>
          <li class="tag tag-sm">
            <a href="#">Music</a>
          </li>
          <li class="tag tag-sm">
            <a href="#">Videos</a>
          </li>
        </ul>
      </div>
      <div class="fluid file-panel">

        <div class="file-list-loading loading text-center text-2x pad-all mar-top">
          <span class="mar-top pad-all"></span>
          <i class="fas fa-cog fa-spin mar-top"></i>
        </div>

        <div class="file-list"></div>

      </div>
    </div>
  </div>

</div>

<div class="container references">

  <h1>Search our database</h1>
  <section class="search mar-btm">
    <p>
      Please enter search terms below to start your search. You will see a list of common terms appear as you start typing.
    </p>
    <p>
      To confirm each search term, please hit ENTER to add it to the list. The system will only show records that contain <strong>all</strong> of the search terms that you enter. Remove search terms to increase the number of results. When you see the results, use the filters on the left hand side to refine your results.
    </p>
    <p>
      You can also <a href="publications.export.php">download the full publications database</a> including publication title, author(s), year, journal, tags, etc. as a <strong>CSV file</strong>.
    </p>
    <form method="get">
      <select id="searchbox" multiple="multiple" class="form-control" name="terms">
        {% for tag in tags %}
          <option value="{{ tag.id }}">{{ tag }}</option>
        {% endfor %}
      </select>
      <div class="row mar-top">
        <div class="col-lg-6">
          <button type="submit" class="btn btn-dark" type="button">Search</button>
        </div>
      </div>
    </form>
    {% if tag %}
      <p>You searched for: <b>{{ tag.name }}</b></p>
    {% endif %}
  </section>


  <h1>{{ title }}</h1>
  <p>
    <strong>{{ list.count }}</strong> record(s) found.
  </p>

  <div class="row mar-top">
    <section class="col-md-3 filters hide">
      <div class="bg-gray-light pad-all">
        <ul class="nav nav-section-menu nav-sidebar mar-btm mat-top">
          <li class="nav-header text-bold">Filter by Year</li>
            <li class="">
              <a href="#" class="nav-link filter" data-id="2018" data-type="year">2018
                <span class="pull-right badge badge-dark">3</span>
              </a>
            </li>
            <li class="">
              <a href="#" class="nav-link filter" data-id="2017" data-type="year">2017
                <span class="pull-right badge badge-dark">24</span>
              </a>
            </li>
            <li class="">
              <a href="#" class="nav-link filter" data-id="2016" data-type="year">2016
                <span class="pull-right badge badge-dark">63</span>
              </a>
            </li>
            <li class="">
              <a href="#" class="nav-link filter" data-id="2015" data-type="year">2015
                <span class="pull-right badge badge-dark">48</span>
              </a>
            </li>
        </ul>
        <ul class="nav nav-section-menu nav-sidebar mar-btm">
        <li class="nav-header text-bold">Filter by Type</li>
          <li class="reg">
            <a href="#" class="nav-link filter" data-id="16" data-type="type">Journal Article
              <span class="badge badge-dark pull-right">405</span>
            </a>
          </li>
          <li class="reg">
            <a href="#" class="nav-link filter" data-id="27" data-type="type">Report
              <span class="badge badge-dark pull-right">28</span>
            </a>
          </li>
          <li class="reg">
            <a href="#" class="nav-link filter" data-id="29" data-type="type">Thesis
              <span class="badge badge-dark pull-right">19</span>
            </a>
          </li>
          <li class="reg">
            <a href="#" class="nav-link filter" data-id="5" data-type="type">Book
              <span class="badge badge-dark pull-right">13</span>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="col-md-9 main records resourcelist">
      {% for details in list %}
        <a class="single-resource bg-gray-light" href="{% url 'core:reference' details.id %}">
          <div class="row pad-all">
            <div class="col-lg-9">
              <h3 class="title">{{ details.title }}</h3>
              {% if details.authors.all %}
                {% for author in details.authors.all %}
                  <span class="author">{{ author.firstname }} {{ author.lastname }}</span>{% if not forloop.counter == details.authors.all|length %},{% endif %}
                {% endfor %}
              {% else %}
                {{ details.authorlist }}
              {% endif %}
            </div>
            <div class="col-lg-3">
              {% if details.journal.name %}<div class="journal-name">{{ details.journal.name }}</div>{% endif %}
              {% if details.type %}<div class="type">{{ details.type }}</div>{% endif %}
              {% if details.year %}<div class="year">{{ details.year }}</div>{% endif %}
            </div>
          </div>
        </a>
      {% endfor %}
    </section>
  </div>

</div>

{% endblock %}

{% block head %}
<style type="text/css">
.filter { 
  margin-bottom: 15px;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  border: none;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  color: #fff !important;
}


</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">

    <div id="page-title">
        <h1 class="page-header text-overflow">{{ title }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'core:resources_home' %}">Resources</a></li>
        <li class="active">{{ title }}</li>
    </ol>

</div>
{% endblock %}

{% block footer %}
  <script type="text/javascript">
  $(function(){
    $(".filters .filter").click(function(e){
      e.preventDefault();
      var type = $(this).data("type");
      var id = $(this).data("id");
      var hide = ".recordbox:not(."+type+"-"+id+")";
      var show = ".recordbox."+type+"-"+id;
      $(show).show('fast');
      $(hide).hide('fast');
      $(this).closest("ul").find("li a").removeClass('active');
      $(this).addClass("active");
    });
    $(".show-all").click(function(e){
      e.preventDefault();
      var type = $(this).data("type");
      $(".hide-"+type).show('fast');
      $(this).hide();
    });
    $("#searchbox").select2({
      tags: true,
      tokenSeparators: [',']
    })

    $("body").on("click", ".browse-tags",function (e) {

      e.preventDefault();

      var id = $(this).data("id");

      $('#results').removeClass('alert');
      $('#results').removeClass('alert-danger');

      $(".loading").show('fast');
      $("#results").hide('fast');
      var jqxhr = $.get("{% url 'core:tag_ajax_folder' %}", 
       { 
         id: id,
       })
        .done(function (response) {
            $('#results').html(response);
            $(".loading").hide('fast');
            $('#results').show('fast');
        })
        .fail(function (jqXHR, exception) {
            // Our error logic here
            var msg = '';
            if (jqXHR.status === 0) {
                msg = 'Not connect.\n Verify Network.';
            } else if (jqXHR.status == 404) {
                msg = 'Requested page not found. [404]';
            } else if (jqXHR.status == 500) {
                msg = 'Internal Server Error [500].';
            } else if (exception === 'parsererror') {
                msg = 'Requested JSON parse failed.';
            } else if (exception === 'timeout') {
                msg = 'Time out error.';
            } else if (exception === 'abort') {
                msg = 'Ajax request aborted.';
            } else {
                msg = 'Uncaught Error.\n' + jqXHR.responseText;
            }
            $('#results').html(msg);
            $(".loading").hide('fast');
            $('#results').show('fast');
            $('#results').addClass('alert');
            $('#results').addClass('alert-danger');
        });

    });


    $("body").on("click", ".view-records",function (e) {

      e.preventDefault();

      $(".view-records").removeClass("active");
      $(this).addClass("active");

      var id = $(this).data("id");

      $('.file-list').removeClass('alert');
      $('.file-list').removeClass('alert-danger');

      $(".file-list-loading").show();
      $(".file-list").hide('fast');
      var jqxhr = $.get("{% url 'core:reference_list_ajax' %}", 
       { 
         id: id,
       })
        .done(function (response) {
            $('.file-list').html(response);
            $(".file-list-loading").hide('fast');
            $('.file-list').show('fast');
        })
        .fail(function (jqXHR, exception) {
            // Our error logic here
            var msg = '';
            if (jqXHR.status === 0) {
                msg = 'Not connect.\n Verify Network.';
            } else if (jqXHR.status == 404) {
                msg = 'Requested page not found. [404]';
            } else if (jqXHR.status == 500) {
                msg = 'Internal Server Error [500].';
            } else if (exception === 'parsererror') {
                msg = 'Requested JSON parse failed.';
            } else if (exception === 'timeout') {
                msg = 'Time out error.';
            } else if (exception === 'abort') {
                msg = 'Ajax request aborted.';
            } else {
                msg = 'Uncaught Error.\n' + jqXHR.responseText;
            }
            $('.file-list').html(msg);
            $(".file-list-loading").hide('fast');
            $('.file-list').show('fast');
            $('.file-list').addClass('alert');
            $('.file-list').addClass('alert-danger');
        });

    });



  });
</script>
{% endblock %}
