{% extends 'multiplicity/base.html' %}

{% load static %}

{% block title %}{{ info.title }} | Publications | {% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block head %}
<style type="text/css">
#page-content .authors .nav > li > a:focus, #page-content .authors .nav > li > a:hover {
  background: #fff;
  text-decoration: none;
}
img.thumbnail {
  max-width: 200px;
  display: inline;
}
.journal-panel {
  padding: 10px;
  text-align: center;
  margin-left: 10px;
  max-width: 220px;
}
.main-content-block .journal-panel:not(.panel-default) a:not(.btn),
.main-content-block .moreoptions:not(.panel-default) a:not(.btn) 
{
  color: #333;
  text-decoration: underline;
}
.main-content-block .journal-panel:not(.panel-default) a:hover {
  text-decoration: none;
}
p.abstract {
  text-align: justify;
}
.leftbar {
  padding-top: 10px;
}
.leftbar h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.leftbar li {
  list-style: none;
  margin-bottom: 10px;
}
.leftbar ul {
  padding: 0;
}
.leftbar a {
  display: block;
  text-align: left;
}
.moreoptions a, .moreoptions i {
  opacity: 0.7;
}
.moreoptions a:hover {
  opacity: 1;
}
.data {
  margin-top: 30px;
}
.tags ul {
  padding: 0;
  list-style: none;
}
.tags li {
  margin-right: 10px;
  display: inline-block;
}
.tags {
  margin: 33px 0;
}
</style>
{% endblock %}

{% block content %}

{% include 'core/includes/bibtex.html' %}
{% include 'core/includes/ris.html' %}

{% if request.user.is_staff %}

    {% if info.status != "active" %}
      <div class="alert alert-warning">
        This record is NOT active. It is <em><strong>{{ info.get_status_display }}</strong></em>. Only admins can see this record.
      </div>
    {% endif %}

  <a title="Edit tags" href="{% url 'core:editreference_tags' info.id %}" id="editextrabutton" class="btn"><i class="psi-tag"></i></a>
{% endif %}

<div class="row">
  <div class="col-md-2">

    <div class="panel panel-dark panel-colorful">
      <div class="panel-body text-center">
        <i class="fas fa-{{ info.type.icon }} icon-5x"></i>
      </div>
      <div class="pad-all text-center">
        <p class="text-semibold text-lg mar-no">{{ info.type }}</p>
        <p class="text-2x text-bold mar-no">{{ info.year }}</p>
      </div>
    </div>

    <div class="leftbar">

        <h3>Author(s)</h3>

        {% if authors %}
        <ul class="nav nav-list">
        {% for author in authors %}
          <li><a href="{% url 'core:peopledetails' author.id %}">{{ author.firstname }} {{ author.lastname }}</a></li>
        {% endfor %}
        </ul>
      {% else %}
        <p style="padding: 15px">{{ info.authorlist }}</p>
      {% endif %}


      <h3>Reference</h3>
      <ul>
        <li><a class="btn btn-info" data-toggle="modal" href="#bibtex-modal">Bibtex</a></li>
        <li><a class="btn btn-info" data-toggle="modal" href="#ris-modal">RIS</a></li>
        <li><a class="btn btn-info" data-toggle="modal" href="#ris-modal">RefWorks</a></li>
      </ul>

      <h3>Search</h3>
      <ul>
        <li><a class="btn btn-warning" href="http://scholar.google.com/scholar?q={{ info.title|urlencode }}">Google Scholar</a></li>
        <li><a class="btn btn-warning" href="https://www.google.com/search?q={{ info.title|urlencode }}">Google</a></li>
      </ul>

      <h3>More options</h3>
    </div>

    <div class="moreoptions">
      <p> <i class="fa fa-plus"></i> <a class="bn-success" href="{% url 'core:newreference' %}">Add a publication</a></p>
      <p> <i class="fa fa-exclamation-circle"></i> <a class="bn-danger" href="/contact">Report error</a></p>
    </div>

  </div>
  <div class="col-md-10">

        <h3>{{ info.title }}</h3>

              {% if info.journal %}
                <div class="panel pull-right journal-panel panel-colorful">
                {% if info.journal.image %}
                <a href="{% url 'core:journal' info.journal.id %}">
                  <img src="{{ info.journal.image.url }}" alt="{{ info.journal.name }}" class="thumbnail" />
                </a>
                {% endif %}
                <p><a href="{% url 'core:journal' info.journal.id %}">{{ info.journal.name }}</a></p>
                </div>
              {% endif %}

        
        <p class="abstract">{{ info.abstract|linebreaksbr }}</p>

        <section class="tags">
        <h4><i class="fal fa-tag fa-fw"></i> Tags</h4>

        <ul>
          {% for tag in info.tags.all %}
            {% if not tag.hidden %}
              <li><a class="btn btn-default" href="{% url 'core:tag_search' tag.id %}">{{ tag.name }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>

        {% if info.file and info.open_access %}
        <h4 style="margin-top:40px">Download</h4>
        <a href="{{ info.file.url }}">Download (PDF)</a>
        {% endif %}
      
      </div>

      <div class="row">

      {% if info.organizations.all %}

        <div class="col-sm-4">

          <div class="panel media middle pad-all">
            <div class="media-left">
                <span class="icon-wrap icon-wrap-sm icon-circle bg-success">
                <i class="pli-map-marker-2 icon-2x"></i>
                </span>
            </div>

            <div class="media-body">
              <p class="text-1x mar-no text-semibold text-main">Organisation</p>
              {% for details in info.organizations.all %}
                <p class="text-muted mar-no">
                  <a href="{% url 'core:organization' details.id %}">{{ details.name }}</a>
                  {% if details.parent %}<br>
                  <a href="{% url 'core:organization' details.parent.id %}">{{ details.parent.name }}</a>{% endif %}
                </p>
              {% endfor %}
            </div>

          </div> 
        </div>

      {% endif %}
      {% if info.publisher %}

        <div class="col-sm-4">

          <div class="panel media middle pad-all">
              <div class="media-left">
                  <span class="icon-wrap icon-wrap-sm icon-circle bg-success">
                  <i class="pli-tag icon-2x"></i>
                  </span>
              </div>
              <div class="media-body">
                  <p class="text-1x mar-no text-semibold text-main">Publisher</p>
                  <p class="text-muted mar-no"><a href="{% url 'core:publisher' info.publisher.id %}">{{ info.publisher.name }}</a></p>
              </div>
          </div>
        </div>
      {% endif %}

      {% if info.doi or info.url %}
      <div class="col-sm-4">

        <div class="panel media middle pad-all">
            <div class="media-left">
                <span class="icon-wrap icon-wrap-sm icon-circle bg-success">
                <i class="pli-internet icon-2x"></i>
                </span>
            </div>
            <div class="media-body">
              <p class="text-1x mar-no text-semibold text-main">More information</p>

                {% if info.doi %}
                  <p class="text-muted mar-no"><a href="https://doi.org/{{ info.doi }}">{{ info.doi }}</a></p>
                {% endif %}

                {% if info.url %}
                <p class="text-muted mar-no"><a href="{{ info.url }}">Website</a></dd>
                {% endif %}

            </div>
        </div>

      </div>
      {% endif %}


      </div>


    </div>



  </div>
</div>

{% if data %}

<div class="panel panel-dark data">
  <div class="panel-heading">
    <h2 class="panel-title">Data</h2>
  </div>
  <div class="panel-body">

    <p>
      We have {{ data.count }} data points from this publication in our database.
    </p>

    {% include 'multiplicity/includes/datatable.html' %}
  </div>
</div>
{% endif %}

{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">

  <div id="page-title">
    <h1 class="page-header text-overflow">Publications</h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="/"><i class="pli-home"></i></a></li>
    <li><a href="{% url 'core:resources_home' %}">Resources</a></li>
    <li><a href="{% url 'core:references' %}">Publications</a></li>
    <li class="active">Publication #{{ info.id }}</li>
  </ol>

</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(function(){

  function copyToClipboard(elem) {
    var targetId = "_hiddenCopyText_";
    var origSelectionStart, origSelectionEnd;
    target = document.getElementById(targetId);
    if (!target) {
        var target = document.createElement("textarea");
        target.style.position = "absolute";
        target.style.left = "-9999px";
        target.style.bottom = "0";
        target.id = targetId;
        document.body.appendChild(target);
    }
    target.textContent = elem.textContent;
    // select the content
    var currentFocus = document.activeElement;
    target.focus();
    target.setSelectionRange(0, target.value.length);
    
    // copy the selection
    var succeed;
    try {
    	  succeed = document.execCommand("copy");
    } catch(e) {
        succeed = false;
        alert("Sorry, we could not copy the text");
    }
    // restore original focus
    if (currentFocus && typeof currentFocus.focus === "function") {
        currentFocus.focus();
    }
    
    target.textContent = "";
    return succeed;
  }

  // Need to turn off modal's behavior of enforcing focus for copy to clipboard to work
  // https://github.com/zenorocha/clipboard.js/issues/388
  $.fn.modal.Constructor.prototype.enforceFocus = function() {};

  $("button.copy").click(function() {
    var target = $(this).data("target");
    var success = $(this).data("success");
    copyToClipboard(document.getElementById(target));
    success = $("#"+success);
    success.text("Text was copied to clipboard");
  });

  $("[data-toggle=modal]").click(function(){
    $(".success").text("");
  });

});
</script>

{% endblock %}
