{% extends 'multiplicity/base.html' %}

{% load static %}

{% block title %}{{ info.title }} | Publications | {% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

{% include 'core/includes/bibtex.html' %}
{% include 'core/includes/ris.html' %}

{% if request.user.is_staff %}
  <a title="Edit tags" href="{% url 'core:admin_referencetags' info.id %}" id="editextrabutton" class="btn"><i class="psi-tag"></i></a>
{% endif %}

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h3>{{ info.title }}</h3>
  </div>
</div>
<div class="row reference-metadata">
  <div class="col-lg-2 text-center">
    <i class="fas fa-{{ info.type.icon }}"></i>
  </div>
  <div class="col-lg-10">
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <dl>
              <dt>Author(s)</dt>
              {% if authors %}
              <dd>
              {% for author in authors %}
                <a href="{% url 'core:peopledetails' author.id %}">{{ author.firstname }} {{ author.lastname }}</a>{% if not forloop.counter == authors|length %},{% endif %}
              {% endfor %}
              </dd>
            </dl>
            {% else %}
            {{ info.authorlist }}
            {% endif %}

            <dt>Year</dt>
            <dd>{{ info.year }}</dd>
          </div>
          <div class="col-md-4">
            <dl>
              {% if info.journal %}
              <dt>Journal</dt>
              <dd><a href="{% url 'core:journal' info.journal.id %}">{{ info.journal.name }}</a></dd>
              {% endif %}

              {% if info.publisher %}
              <dt>Publisher</dt>
              <dd><a href="{% url 'core:publisher' info.publisher.id %}">{{ info.publisher.name }}</a></dd>
              {% endif %}

              {% if info.organizations %}
              {% for details in info.organizations.all %}
                <dt>Organization</dt>
                <dd>
                  <a href="{% url 'core:organization' details.id %}">{{ details.name }}</a>{% if details.parent %},
                  <a href="{% url 'core:organization' details.parent.id %}">{{ details.parent.name }}</a>{% endif %}
                </dd>
              {% endfor %}
              {% endif %}

              <dt>Type</dt>
              <dd>{{ info.type.name }}</dd>

              {% if info.event %}
              <dt>{{ info.event.type }}</dt>
              <dd><a href="{% url 'core:event' info.event.id %}">{{ info.event.name }}</a></dd>
              {% endif %}

              {% if info.doi %}
              <dt>DOI</dt>
              <dd><a href="https://doi.org/{{ info.doi }}">{{ info.doi }}</a></dd>
              {% endif %}

              {% if info.url %}
              <dt>More information</dt>
              <dd><a href="{{ info.url }}">{{ info.url }}</a></dd>
              {% endif %}
            </dl>
          </div>
          {% if info.tags.all %}
          <div class="col-md-4">
            <dt>Tag(s)</dt>
            <dd>
            {% for tag in info.tags.all %}
              {% if not tag.hidden %}
                <a href="{% url 'core:tag_search' tag.id %}" class="label label-default">{{ tag.name }}</a>
              {% endif %}
            {% endfor %}
            </dd>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% if info.abstract %}
<div class="panel panel-dark">
  <div class="panel-heading">
    <h2 class="panel-title">Abstract</h2>
  </div>
  <div class="panel-body">
    {{ info.abstract|linebreaksbr }}
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-dark">
      <div class="panel-heading">
        <h2 class="panel-title">Recently added publications</h2>
      </div>
      <div class="panel-body">
        <div class="list-group bord-no references">
          {% for details in related %}
            <a class="list-group-item" href="{% url 'core:reference' details.id %}">
              {{ details.title }}
              <span>
                <em>{{ details.source }}</em>
                <strong>{{ details.year }}</strong>
              </span>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div><div class="col-lg-4">
    <div class="panel panel-dark">
      <div class="panel-heading">
        <h2 class="panel-title">Download reference</h2>
      </div>
      <div class="panel-body">
        <a class="btn btn-info" data-toggle="modal" href="#bibtex-modal">Bibtex</a>
        <a class="btn btn-info" data-toggle="modal" href="#ris-modal">RIS</a>
        <a class="btn btn-info" data-toggle="modal" href="#ris-modal">RefWorks</a>
      </div>
    </div>
    <div class="panel panel-dark">
      <div class="panel-heading">
        <h2 class="panel-title">More options</h2>
      </div>
      <div class="panel-body">
        <div class="pad-btm">
          <a class="btn btn-success" href="{% url 'core:newreference' %}">Add a publication</a>
          <a class="btn btn-danger" href="/contact">Report error</a>
        </div>
        <div>
          <a class="btn btn-default" href="http://"><i class="fab fa-facebook"></i></a>
          <a class="btn btn-default" href="http://"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-default" href="http://"><i class="fa fa-envelope"></i></a>
          <a class="btn btn-default" href="http://"><i class="fa fa-print"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

{% if data %}

<div class="panel panel-dark">
  <div class="panel-heading">
    <h2 class="panel-title">Data</h2>
  </div>
  <div class="panel-body">

    <p>
      We have {{ data.count }} data points from this publication in our database.
    </p>

    {% include 'multiplicity/includes/datatable.html' %}
  </div>
</div>
{% endif %}

{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">

  <div id="page-title">
    <h1 class="page-header text-overflow">Publications</h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="./"><i class="pli-home"></i></a></li>
    <li><a href="{% url 'core:resources_home' %}">Resources</a></li>
    <li><a href="{% url 'core:references' %}">Publications</a></li>
    <li class="active">Publication #{{ info.id }}</li>
  </ol>

</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(function(){

  function copyToClipboard(elem) {
    var targetId = "_hiddenCopyText_";
    var origSelectionStart, origSelectionEnd;
    target = document.getElementById(targetId);
    if (!target) {
        var target = document.createElement("textarea");
        target.style.position = "absolute";
        target.style.left = "-9999px";
        target.style.bottom = "0";
        target.id = targetId;
        document.body.appendChild(target);
    }
    target.textContent = elem.textContent;
    console.log(elem.textContent);
    // select the content
    var currentFocus = document.activeElement;
    target.focus();
    target.setSelectionRange(0, target.value.length);
    
    // copy the selection
    var succeed;
    try {
    	  succeed = document.execCommand("copy");
    } catch(e) {
        succeed = false;
        alert("Sorry, we could not copy the text");
    }
    // restore original focus
    if (currentFocus && typeof currentFocus.focus === "function") {
        currentFocus.focus();
    }
    
    target.textContent = "";
    return succeed;
  }


  $("button.copy").click(function() {
    var target = $(this).data("target");
    var success = $(this).data("success");
    copyToClipboard(document.getElementById(target));
    success = $("#"+success);
    success.text("Text was copied to clipboard");
    
  });

});
</script>

{% endblock %}
