{% extends 'multiplicity/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}{% if info %}Edit{% else %}Add{% endif %} Publication{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-body">
        <div class="panel-heading">
            <h3>{% if info %}Edit{% else %}Add{% endif %} publication</h3>
        </div>
        <div class="panel-body">
          <form method="post" class="form form-horizontal">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            {% buttons %}
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-success">Save</button>
              </div>
            {% endbuttons %}
          </form>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'ie/css/select2.min.css' %}" />
<style type="text/css">
textarea[name='authorlist']{height:100px}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">{% if info %}Edit{% else %}Add{% endif %} publication</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'core:resources_home' %}">Resources</a></li>
        <li><a href="{% url 'core:references' %}">Publications</a></li>
        {% if info %}
          <li><a href="{% url 'core:reference' info.id %}">{{ info.title|truncatewords:6 }}</a></li>
        {% endif %}
        <li class="active">{% if info %}Edit{% else %}Add{% endif %} publication</li>
    </ol>

</div>
{% endblock %}

{% block footer %}
  <script type="text/javascript" src="{% static 'ie/js/select2.min.js' %}"></script>
  <script type="text/javascript">
  $(function(){
    $("#id_journal").select2();
    $("#id_authors").select2();
    $("#id_organizations").select2();
    $("#id_tags").select2();
  });
  </script>
{% endblock %}
