{% extends 'multiplicity/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}{% if info %}Edit{% else %}Add{% endif %} Publication{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

{% if request.user.is_staff and info %}
  <ul class="nav nav-list nav-tabs">
    <li><a href="{% url "core:editreference" info.id %}">Publication details</a></li>
    <li class="active"><a href="{% url "core:editreference_authors" info.id %}">Authors</a></li>
    <li><a href="{% url "core:editreference_tags" info.id %}">Tags</a></li>
    <li><a href="{% url "core:editreference_multiplicity" info.id %}">MultipliCity settings</a></li>
  </ul>
{% endif %}

  <h2>Manage authors</h2>

  <ul>
  {% for details in authors %}

    <li>
      {{ details.people }}
      <a href="{% url "core:editreference_authors_delete" info.id details.id %}" class="tag tag-danger">Delete</a>
    </li>

  {% endfor %}

  </ul>

    <h3>Add author</h3>
    <form method="post" class="form form-horizontal">
      <p>
      <select name="author" class="select2" required>
        <option value=""></option>
        {% for details in list %}
          <option value="{{ details.id }}">{{ details }} ({{ details.id }})</option>
        {% endfor %}
      </select>
      </p>
      <p>
        <button type="submit" class="btn btn-success">Add this author</button>
       {% csrf_token %}
      </p>
    </form>
    
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'ie/css/select2.min.css' %}" />
<style type="text/css">
textarea[name='authorlist']{height:100px}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">{% if info %}Edit{% else %}Add{% endif %} publication</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="/"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'core:resources_home' %}">Resources</a></li>
        <li><a href="{% url 'core:references' %}">Publications</a></li>
        {% if info %}
          <li><a href="{% url 'core:reference' info.id %}">{{ info.title|truncatewords:6 }}</a></li>
        {% endif %}
        <li class="active">{% if info %}Edit{% else %}Add{% endif %} publication</li>
    </ol>

</div>
{% endblock %}

{% block footer %}
  <script type="text/javascript" src="{% static 'ie/js/select2.min.js' %}"></script>
  <script type="text/javascript">
  $(function(){
    $(".select2").select2();
  });
  </script>
{% endblock %}
