{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Publications{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="container">

<h1>Search our database</h1>


<p>
  Please enter search terms below to start your search. You will see a list of common terms
  appear as you start typing. To confirm each search term, please hit ENTER to add it to 
  the list. The system will only show records that contain <strong>all</strong> of the 
  search terms that you enter. Remove search terms to increase the number of results.
  When you see the results, use the filters on the left hand side to refine your results.
</p>

<div class="resultbox">

  <form method="get" class="form form-horizontal" action="publications/results">

    <h4>
      <i class="glyphicon glyphicon-filter"></i>
      Search: 
    </h4>

    
    <div class="row">
      <div class="col">
        <select name="search[]" class="form-control select2-hidden-accessible" id="searchbox" multiple="" tabindex="-1" aria-hidden="true">
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
      <div class="col-9">
        <p class="pull-right">
                      <a href="publications/collections">Reset all filters</a> |
                      <a href="publications/all">View all publications</a>
        </p>
      </div>
    </div>

  </form>

</div>


  <div class="alert alert-info">
    <a href="publications.export.php" class="btn btn-default">
      <i class="fa fa-table"></i>
      Download
    </a>
    You can download the full publications database including publication title, author(s), year, journal, tags, etc. as a <strong>CSV file</strong>.
  </div>


<script type="text/javascript" src="js/select2.min.js"></script>
<script type="text/javascript">
$(function(){
  $(".show-all").click(function(e){
    e.preventDefault();
    var type = $(this).data("type");
    $(".hide-"+type).show('fast');
    $(this).hide();
  });
  $("#searchbox").select2({
    tags: true,
    tokenSeparators: [',']
  })
});
</script>




<div class="row filters">

<script type="text/javascript">
$(function(){
  
$(".filters .filter").click(function(e){
  e.preventDefault();
  var type = $(this).data("type");
  var id = $(this).data("id");
  var hide = ".recordbox:not(."+type+"-"+id+")";
  var show = ".recordbox."+type+"-"+id;
  $(show).show('fast');
  $(hide).hide('fast');
  $(this).closest("ul").find("li a").removeClass('active');
  $(this).addClass("active");
});
});
</script>

  
  <div class="col-md-3 ">
    <ul class="nav nav-section-menu nav-sidebar">
      <li class="nav-header">Filter by Year</li>
                      <li class="">
          <a href="#" class="nav-link filter" data-id="2017" data-type="year">2017 
            <span class="pull-right badge badge-default">1</span>
          </a>
        </li>
                      <li class="">
          <a href="#" class="nav-link filter" data-id="2016" data-type="year">2016 
            <span class="pull-right badge badge-default">7</span>
          </a>
        </li>
                      <li class="">
          <a href="#" class="nav-link filter" data-id="2015" data-type="year">2015 
            <span class="pull-right badge badge-default">4</span>
          </a>
        </li>
                      <li class="">
          <a href="#" class="nav-link filter" data-id="2014" data-type="year">2014 
            <span class="pull-right badge badge-default">1</span>
          </a>
        </li>
                      <li class="">
          <a href="#" class="nav-link filter" data-id="2013" data-type="year">2013 
            <span class="pull-right badge badge-default">2</span>
          </a>
        </li>
                      <li class="hide hide-year">
          <a href="#" class="nav-link filter" data-id="2008" data-type="year">2008 
            <span class="pull-right badge badge-default">2</span>
          </a>
        </li>
                      <li class="hide hide-year">
          <a href="#" class="nav-link filter" data-id="2002" data-type="year">2002 
            <span class="pull-right badge badge-default">1</span>
          </a>
        </li>
                      <li class="hide hide-year">
          <a href="#" class="nav-link filter" data-id="1977" data-type="year">1977 
            <span class="pull-right badge badge-default">1</span>
          </a>
        </li>
                  <li>
        <a href="#" class="show-all nav-link" data-type="year">Show all 
          <i class="fa fa-angle-down"></i>
        </a>
      </li>
          </ul>
    <ul class="nav nav-section-menu nav-sidebar">
      <li class="nav-header">Filter by Type</li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="16" data-type="type">Journal Article 
              <span class="badge badge-default pull-right">13</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="27" data-type="type">Report 
              <span class="badge badge-default pull-right">3</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="29" data-type="type">Thesis 
              <span class="badge badge-default pull-right">2</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="6" data-type="type">Book Section 
              <span class="badge badge-default pull-right">1</span>
          </a>
        </li>
                </ul>
    <ul class="nav nav-section-menu nav-sidebar">
      <li class="nav-header">Filter by Tag</li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="16" data-type="tag">Electricity 
              <span class="badge badge-default pull-right">19</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="11" data-type="tag">Urban 
              <span class="badge badge-default pull-right">10</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="26" data-type="tag">CO2 
              <span class="badge badge-default pull-right">10</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="15" data-type="tag">Water 
              <span class="badge badge-default pull-right">9</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="165" data-type="tag">Energy 
              <span class="badge badge-default pull-right">8</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="6" data-type="tag">Research and Analysis 
              <span class="badge badge-default pull-right">8</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="25" data-type="tag">Waste 
              <span class="badge badge-default pull-right">8</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="85" data-type="tag">Economy-Wide Material Flow Analysis (EW MFA) 
              <span class="badge badge-default pull-right">7</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="77" data-type="tag">Construction Materials 
              <span class="badge badge-default pull-right">7</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="63" data-type="tag">Emissions 
              <span class="badge badge-default pull-right">7</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="1" data-type="tag">Case Study 
              <span class="badge badge-default pull-right">7</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="17" data-type="tag">Biomass 
              <span class="badge badge-default pull-right">6</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="78" data-type="tag">Contemporary Point in Time 
              <span class="badge badge-default pull-right">6</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="177" data-type="tag">Belgium 
              <span class="badge badge-default pull-right">6</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="36" data-type="tag">SO2 
              <span class="badge badge-default pull-right">6</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="180" data-type="tag">Brussels 
              <span class="badge badge-default pull-right">6</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="21" data-type="tag">United States 
              <span class="badge badge-default pull-right">5</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="168" data-type="tag">Minerals 
              <span class="badge badge-default pull-right">5</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="13" data-type="tag">Metals 
              <span class="badge badge-default pull-right">5</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="80" data-type="tag">Long-Range Historical Perspective 
              <span class="badge badge-default pull-right">5</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="175" data-type="tag">City 
              <span class="badge badge-default pull-right">5</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="221" data-type="tag">Greenhouse Gas 
              <span class="badge badge-default pull-right">5</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="248" data-type="tag">CO 
              <span class="badge badge-default pull-right">4</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="167" data-type="tag">Fossil Fuel 
              <span class="badge badge-default pull-right">4</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="214" data-type="tag">Wastewater 
              <span class="badge badge-default pull-right">4</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="139" data-type="tag">Los Angeles 
              <span class="badge badge-default pull-right">4</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="264" data-type="tag">Natural Gas 
              <span class="badge badge-default pull-right">4</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="47" data-type="tag">Argentina 
              <span class="badge badge-default pull-right">3</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="79" data-type="tag">Time Series 
              <span class="badge badge-default pull-right">3</span>
          </a>
        </li>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  <li>
        <a href="#" class="show-all nav-link" data-type="tag">Show all 
          <i class="fa fa-angle-down"></i>
        </a>
      </li>
          </ul>
  </div>

  
  <div class="col-md-9 main records">

  <div class="resultbox">
    <i class="fa fa-info-circle"></i>
    <strong>{{ list.count }}</strong>
    publications found.
  </div>

    {% for details in list %}
      
      <div class="recordbox year-2017 type-16 tag-6 tag-47 tag-177 tag-43 tag-107 tag-21 tag-38 tag-180 tag-102 tag-108 tag-197 tag-146 tag-139 tag-261 tag-64 tag-175 tag-147 tag-16 tag-264 tag-165 tag-283 tag-284 ">
        <h3><a href="{% url 'core:reference' details.id %}">{{ details.title }}</a></h3>
        <div class="row">
          <div class="col-md-2">
            <span class="type">{{ details.type.name }}</span>
            <br>
            <?php echo {{ details.year }} ?>
            </div>
          <div class="col-md-10">{{ details.authorlist }}</div>
        </div>
      </div>
    {% endfor %}
  </div>


</div>

                </div>

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">{{ title }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'core:resources_home' %}">Resources</a></li>
        <li class="active">{{ title }}</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

<script type="text/javascript">
$(function(){
  $(".show-all").click(function(e){
    e.preventDefault();
    var type = $(this).data("type");
    $(".hide-"+type).show('fast');
    $(this).hide();
  });
  $("#searchbox").select2({
    tags: true,
    tokenSeparators: [',']
  })
});
</script>
{% endblock %}
