{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">
{% for details in list %}

    <div class="col-lg-4">
      <div class="panel widget">
          <div class="widget-header bg-dark" style="height:10px;min-height:0;padding:0">
          </div>
          <div class="widget-body text-center">
              <h4 class="mar-no text-main">
              {{ details.title }}
              </h4>

              {{ details.content|safe|truncatechars_html:500 }}

              <p><a href="{{ details.section }}/{{ details.slug }}" class="btn btn-info">Read more</a></p>

          </div>
      </div>

    </div>

    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}

{% endfor %}
    
</div>

{% endblock %}

{% block head %}
<style type="text/css">
.widget img.widget-bg {
  top:-50px;
}
.main-content-block .text-center h4 a{color:#333}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">{{ section|title }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li class="active">{{ section|title }}</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
