<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Test</title>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

	<style>
		svg	{
			max-width: 90vw;
			max-height: 90vh;
		}

		.red {
			fill: #f44336;
		}

		.purple {
			fill: #ab47bc;
		}

		.green {
			fill: #8bc34a;
		}

		.yellow {
			fill: #ffb300;
		}

		.blue {
			fill: #03a9f4;
		}

		rect {
			transition: x 0.5s, y 0.5s, width 0.5s, height 0.5s;
		}
	</style>

</head>
<body>
	<button id="hit">Hit me!</button>

	<svg viewBox="0 0 700 900">
	  <rect style="fill:#f9f9f9" stroke="#666" stroke-width="0.5" width="700" height="600" x="0" y="150" />
	  <rect style="fill:#e2e2e2" width="698" height="100" x="1" y="400" />

	  <text style="font-size:40px;font-family:'Lato'" x="250" y="467">Cape Town</text>

	  <!-- Imports -->
	  <rect class="importsTotal" style="fill:#666" width="200" height="5" x="100" y="75" />
	  <text style="font-size:30px;font-family:'Lato';" x="140" y="60">Imports</text>
	  <a href=""><rect class="imports red" x="100" y="80" width="40" height="320"/></a>
	  <a href=""><rect class="imports blue" x="140" y="80" width="40" height="320"/></a>
	  <a href=""><rect class="imports green" x="180" y="80" width="40" height="320"/></a>
	  <a href=""><rect class="imports purple" x="220" y="80" width="40" height="320"/></a>
	  <a href=""><rect class="imports yellow" x="260" y="80" width="40" height="320"/></a>

	  <!-- Local extraction -->
	  <rect class="extractionTotal" style="fill:#666" width="200" height="5" x="400" y="235" />
	  <text style="font-size:25px;font-family:'Lato';" x="400" y="220">Local extraction</text>
	  <a href=""><rect class="extraction red" x="400" y="240" width="40" height="160"/></a>
	  <a href=""><rect class="extraction blue" x="440" y="240" width="40" height="160"/></a>
	  <a href=""><rect class="extraction green" x="480" y="240" width="40" height="160"/></a>
	  <a href=""><rect class="extraction purple" x="520" y="240" width="40" height="160"/></a>
	  <a href=""><rect class="extraction yellow" x="560" y="240" width="40" height="160"/></a>

	  <!-- Exports -->
	  <rect class="exportsTotal" style="fill:#666" width="200" height="5" x="100" y="820" />
	  <text style="font-size:30px;font-family:'Lato';" x="140" y="860">Exports</text>
	  <a href=""><rect class="exports red" x="100" y="500" width="40" height="320"/></a>
	  <a href=""><rect class="exports blue" x="140" y="500" width="40" height="320"/></a>
	  <a href=""><rect class="exports green" x="180" y="500" width="40" height="320"/></a>
	  <a href=""><rect class="exports purple" x="220" y="500" width="40" height="320"/></a>
	  <a href=""><rect class="exports yellow" x="260" y="500" width="40" height="320"/></a>

	  <!-- Consumption -->
	  <rect class="consumptionTotal" style="fill:#666" width="200" height="5" x="400" y="660" />
	  <text style="font-size:25px;font-family:'Lato';" x="420" y="690">Consumption</text>
	  <a href=""><rect class="consumption red" x="400" y="500" width="40" height="160"/></a>
	  <a href=""><rect class="consumption blue" x="440" y="500" width="40" height="160"/></a>
	  <a href=""><rect class="consumption green" x="480" y="500" width="40" height="160"/></a>
	  <a href=""><rect class="consumption purple" x="520" y="500" width="40" height="160"/></a>
	  <a href=""><rect class="consumption yellow" x="560" y="500" width="40" height="160"/></a>


	</svg>


	<script>
		function getRandomInt(max) {
		  return Math.floor(Math.random() * Math.floor(max));
		}

		$("#hit").click(function() {

			var importsWidth = 0;
			var importsPlaced = 0;

			var extractionWidth = 0;
			var extractionPlaced = 0;

			var exportsWidth = 0;
			var exportsPlaced = 0;

			var consumptionWidth = 0;
			var consumptionPlaced = 0;

			$("a rect").each(function() {
				var newWidth = getRandomInt(40);
				$(this).attr("width", newWidth);
			});

			// imports
			$("rect.imports").each(function() {
				importsWidth = importsWidth + parseInt($(this).attr("width"));
			});

			$("rect.imports").each(function() {
				var startingX = 100 + (200 - importsWidth) / 2;
				var xPosition = startingX - importsPlaced;
				$(this).attr("x", xPosition);
				importsPlaced = importsPlaced - $(this).attr("width");
			});

			$("rect.importsTotal").attr("width", importsWidth);
			var firstImportsX = $("rect.imports:first-of-type").attr("x");
			$("rect.importsTotal").attr("x", firstImportsX);

			// extraction
			$("rect.extraction").each(function() {
				extractionWidth = extractionWidth + parseInt($(this).attr("width"));
			});

			$("rect.extraction").each(function() {
				var startingX = 400 + (200 - extractionWidth) / 2;
				var xPosition = startingX - extractionPlaced;
				$(this).attr("x", xPosition);
				extractionPlaced = extractionPlaced - $(this).attr("width");
			});

			$("rect.extractionTotal").attr("width", extractionWidth);
			var firstExtractionX = $("rect.extraction:first-of-type").attr("x");
			$("rect.extractionTotal").attr("x", firstExtractionX);


			// exports
			$("rect.exports").each(function() {
				exportsWidth = exportsWidth + parseInt($(this).attr("width"));
			});

			$("rect.exports").each(function() {
				var startingX = 100 + (200 - exportsWidth) / 2;
				var xPosition = startingX - exportsPlaced;
				$(this).attr("x", xPosition);
				exportsPlaced = exportsPlaced - $(this).attr("width");
			});

			$("rect.exportsTotal").attr("width", exportsWidth);
			var firstExportsX = $("rect.exports:first-of-type").attr("x");
			$("rect.exportsTotal").attr("x", firstExportsX);

			// consumption
			$("rect.consumption").each(function() {
				consumptionWidth = consumptionWidth + parseInt($(this).attr("width"));
			});

			$("rect.consumption").each(function() {
				var startingX = 400 + (200 - consumptionWidth) / 2;
				var xPosition = startingX - consumptionPlaced;
				$(this).attr("x", xPosition);
				consumptionPlaced = consumptionPlaced - $(this).attr("width");
			});

			$("rect.consumptionTotal").attr("width", consumptionWidth);
			var firstConsumptionX = $("rect.consumption:first-of-type").attr("x");
			$("rect.consumptionTotal").attr("x", firstConsumptionX);
		});
	</script>
</body>
</html>