{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Team{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">

  <div class="col-lg-12">
      <div class="panel panel-white">
        <div class="panel-body">
          <h1>{{ page.title }}</h1>
          {{ page.content|safe }}
      </div>
    </div>
  </div>

</div>

<div class="row">
{% for details in list %}

    <div class="col-lg-4">
      <div class="panel widget">
          <div class="widget-header bg-purple">
            {% if details.city.system_photo %}
              <img class="widget-bg img-responsive" src="{{ details.city.system_photo.image.medium.url }}" alt="">
            {% endif %}
          </div>
          <div class="widget-body text-center">
                <a href="{% url 'core:peopledetails' details.id %}">
                  {% if details.image %}
                    <img alt="{{ details.firstname }}" class="widget-img img-circle img-border-light" src="{{ details.image.url }}">
                  {% endif %}
              </a>
              <h4 class="mar-no text-main">
                <a href="{% url 'core:peopledetails' details.id %}">
                {{ details.firstname }} {{ details.lastname }}
                </a>
              </h4>
              <p class="text-muted">{{ details.city.name }}, {{ details.city.country.name }}</p>

              <p>{{ details.profile }}</p>

              <p class="text-muted">Member since {{ details.member_since }}</p>

              <div class="btn-group btn-group-justified pad-top">
                {% if details.website %}
                  <a href="{{ details.website }}" class="btn btn-icon bord-no icon-lg add-tooltip fa fa-link" data-original-title="Website" data-container="body"></a>
                {% endif %}
                {% if details.twitter %}
                  <a href="{{ details.twitter }}" class="btn btn-icon bord-no icon-lg add-tooltip fab fa-twitter" data-original-title="Twitter" data-container="body"></a>
                {% endif %}
                {% if details.orcid %}
                  <a href="https://orcid.org/{{ details.orcid }}" class="btn btn-icon bord-no icon-lg add-tooltip fas fa-id-card-alt" data-original-title="ORCID" data-container="body"></a>
                {% endif %}
                {% if details.researchgate %}
                  <a href="{{ details.researchgate }}" class="btn btn-icon bord-no icon-lg add-tooltip fab fa-researchgate" data-original-title="Research Gate" data-container="body"></a>
                {% endif %}
                {% if details.linkedin %}
                  <a href="{{ details.linkedin }}" class="btn btn-icon bord-no icon-lg add-tooltip fab fa-linkedin" data-original-title="LinkedIn" data-container="body"></a>
                {% endif %}
              </div>
          </div>
      </div>

    </div>

    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}

{% endfor %}
    
</div>

{% endblock %}

{% block head %}
<style type="text/css">
.widget img.widget-bg {
  top:-50px;
}
.main-content-block .text-center h4 a{color:#333}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
  {% include 'core/includes/breadcrumbs.html' %}
{% endblock %}

{% block footer %}

{% endblock %}
