<style type="text/css">
td{border-bottom:1px solid #333}
</style>
<table>
{% for details in list %}
  <tr>
    <td>{{ details }}</td>
    <td class="tags">
      <div class="taglist">
      {% for tag in details.tags.all %}
        {% if tag.parent_tag.id == 318 and tag.id != 1 %}
          <div><span class="label label-default">{{ tag }}</span></div>
        {% endif %}
      {% endfor %}
      </div>
    </td>
    <td class="tags">
      <div class="taglist">
      {% for space in details.spaces.all %}
        {% if space.type.id == 3 %}
          <div><span class="label label-default">{{ space.name }}</span></div>
          <span style="display:none">{{ space.country.name }}</span>
        {% endif %}
      {% endfor %}
      </div>
    </td>
  </tr>
{% endfor %}
</table>
