{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Videos{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">

  <div class="col-lg-12">
    <h3>{{ collection }}</h3>
    {{ collection.description|safe }}
  </div>

</div>

<div class="row blog">
{% for details in list %}
  <div class="col-lg-4">
    <div class="panel pad-all">
        <div class="blog-header">
          <a href="{% url 'core:video' details.id %}">
          {% if details.website == "youtube" %}
            <img class="img-responsive" src="https://img.youtube.com/vi/{{ details.url }}/0.jpg" alt="">
          {% endif %}
          </a>
        </div>
        <div class="blog-content">
            <div class="blog-title media-block">
                <a href="{% url 'core:video' details.id %}" class="btn-link">
                    <h2>{{ details.title }}</h2>
                </a>
            </div>
        </div>
    </div>
  </div>

  {% if forloop.counter|divisibleby:"3" %}
    </div>
    <div class="row blog">
  {% endif %}

{% endfor %}
</div>

{% endblock %}

{% block head %}
{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">Videos</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="/"><i class="pli-home"></i></a></li>
        <li><a href="resources">Resources</a></li>
        <li><a href="{% url 'core:resources' 'multimedia' %}">Multimedia</a></li>
        <li class="active">Videos</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}

{% block sidebar %}

{% if collections.count > 1 %}
  <ul id="mainnav-menu" class="list-group">

    <li class="list-header">Video collections</li>
    {% for details in collections %}
      <li{% if details.id == collection.id %} class="active-sub"{% endif %}><a href="{% url 'core:videocollection' details.id %}">{{ details.title }}</a></li>
    {% endfor %}
      <li{% if all %} class="active-sub"{% endif %}><a href="{% url 'core:videos_all' %}">All videos</a></li>
  </ul>
{% endif %}

{% endblock %}

