{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Videos{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">

  <div class="col-sm-3 ">
    <div class="panel panel-colorful panel-dark">
      <ul class="list-group">
          <li class="list-header"><strong>Video collections</strong></li>
          {% for details in collections %}
            <li class="list-group-item{% if details.id == collection.id %} active-sub{% endif %}"><a href="{% url 'core:videocollection' details.id %}">{{ details.title }}</a></li>
          {% endfor %}
            <li class="list-group-item{% if all %} active-sub{% endif %}"><a href="{% url 'core:videos_all' %}">All videos</a></li>
      </ul>
    </div>
  </div>

  <div class="col-sm-9">

    <h3>{% if collection %}{{ collection }}{% else %}All videos{% endif %}</h3>
    {{ collection.description|safe }}


<div class="row blog">
{% for details in list %}
  <div class="col-lg-4">
    <div class="panel pad-all">
        <div class="blog-header">
          <a href="{% url 'core:video' details.id %}">
          {% if details.website == "youtube" %}
            <img class="img-responsive" src="https://img.youtube.com/vi/{{ details.url }}/0.jpg" alt="">
          {% endif %}
          </a>
        </div>
        <div class="blog-content">
            <div class="blog-title media-block">
                <a href="{% url 'core:video' details.id %}" class="btn-link">
                    <h2>{{ details.title }}</h2>
                </a>
            </div>
        </div>
    </div>
  </div>

  {% if forloop.counter|divisibleby:"3" %}
    </div>
    <div class="row blog">
  {% endif %}

{% endfor %}
</div>

  </div>
</div>

{% endblock %}


{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">Videos</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="/"><i class="pli-home"></i></a></li>
        <li><a href="resources">Resources</a></li>
        <li><a href="{% url 'core:resources' 'multimedia' %}">Multimedia</a></li>
        <li class="active">Videos</li>
    </ol>

</div>
{% endblock %}
